<div id="mnmMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Mix n Match </legend>
      <!-- Table -->
      <div class="colTable" >
        <table class="table table-condensed " cellspacing="0">
          <tr>
            <td  class="my-td bold" width="50%">
              <div class="no-of-countries">Select Year</div>
            </td>
            <td class="my-td bold selected-column"  width="25%">
              <select ng-model="selectedYear" ng-class="globalFont"
                      ng-options="year for year in years"
                      ng-change="onChartOptionChange()">
              </select>
            </td>
            <td class="my-td bold selected-column"  width="25%">
              Total (including 2015)
            </td>
          </tr>
          <tr>
            <td class="my-td bold"  width="50%"
                data-ng-class="getSelectedRowChartCSS('ChartRegisteredUsers')">
              No. Of Registered Users
            </td>
            <td class="my-td bold {{hasChartData ? 'link' :''}}"  width="25%"
                ng-click="onChartLinkChange('ChartRegisteredUsers')"
                data-ng-class="getSelectedRowChartCSS('ChartRegisteredUsers')">
              <span>{{reportData.registeredUsers|number}}</span>
            </td>
            <td class="my-td highlight-row "  width="25%"
                data-ng-class="getSelectedRowChartCSS('ChartRegisteredUsers')">
              <span>{{reportTotal.registeredUsers|number}}</span>
            </td>
          </tr>
          <tr>
            <td class="my-td bold"
                data-ng-class="getSelectedRowChartCSS('ChartVisitors')">
              No. of Visitors (Achieved / Target)
            </td>
            <td class="my-td bold {{hasChartData ? 'link' :''}}"
                ng-click="onChartLinkChange('ChartVisitors')"
                data-ng-class="getSelectedRowChartCSS('ChartVisitors')">
              {{reportData.visitors|number}} / {{reportData.targetVisitors|number}}
            </td>
            <td class="my-td"
                data-ng-class="getSelectedRowChartCSS('ChartVisitors')">
              <span>{{reportTotal.visitors|number}}</span>
            </td>
          </tr>
          <tr>
            <td class="my-td bold"
                data-ng-class="getSelectedRowChartCSS('ChartProdAdded')">
              No. of Products Added To Basket
            </td>
            <td class="my-td bold {{hasChartData ? 'link' :''}}"
                ng-click="onChartLinkChange('ChartProdAdded')"
                data-ng-class="getSelectedRowChartCSS('ChartProdAdded')">
              <span>{{reportData.productsAddedToBasket|number}}</span>
            </td>
            <td class="my-td"
                data-ng-class="getSelectedRowChartCSS('ChartProdAdded')">
              <span>{{reportTotal.productsAddedToBasket|number}}</span>
            </td>
          </tr>
        </table>
      </div>

      <!-- Display Chart -->
      <div class="chartDiv">
        <div class="clearboth"></div>
        <div id="ecoReachGAChartContainer" class="chart-container" >
          <div google-chart chart="chartSource" class="chart-container" on-ready="chartReady()" ng-show="ifChartReady()"></div>
          <img class="chart-loder" src="images/ajax_loader_small.gif" alt="" ng-hide="isChartReady"/>
        </div>
      </div>
    </fieldset>
  </form>
</div>