<div id="myPactMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Berrisoft </legend>
      <div class="globalFont font-bold" style="text-align: center;"><a href="#/byapps/berrysoft">Please visit new dashboard page for Berrisoft (Ecoreal XL)</a></div>
    </fieldset>
  </form>
</div>
