.caroussel-object img {
  float: left;
  padding-right: 10px;
}
.caroussel-object .mainInfo {
  font-size: 14px;
  font-family: ArialRounded;
  color: #3DCD58;
}
.caroussel-object h1 {
  font-size: 24px;
  font-family: ArialRounded;
  color: #4a4a4a;
}
.caroussel-object p {
  font-size: 12px;
  font-family: ArialRounded;
  color: #9b9b9b;
}
.se-link-blue {
  color: #42b4e6;
}
/*
Name: Variables
Description: Contains the LESS variables used throughout the application.
*/
/* General
----------------*/
/* Screen/Device Formatting
----------------------------*/
/* Colours
---------------*/
/* Fonts
--------------*/
/* Bootstrap Variable Overrides
--------------------------------*/
/**
  Created on : Feb 3, 2017, 8:57:22 AM
  Author     : SESA431390
*/
#header-country-selector {
  display: none;
}
.legend-container {
  padding-top: 14px;
  padding-left: 24px;
}
.legend-container .legend {
  list-style: none;
}
.legend-container .legend li {
  float: left;
  margin-right: 10px;
}
.legend-container .legend span {
  float: left;
  width: 20px;
  height: 10px;
  margin-top: 5px;
  margin-right: 5px;
}
.legend-container .legend .new-user {
  background: url(../images/blue-legend.png) center center no-repeat;
}
.legend-container .legend .active-user {
  background: url(../images/red-legend.png) center center no-repeat;
}
.new-users-header {
  float: left;
}
.new-users-tip {
  float: left;
  margin-left: 10px;
}
.new-user-text {
  color: #333333;
}
.bi-select-app-dropdown {
  height: 60vh;
  overflow-y: auto;
}
.bi-white {
  color: #fff!important;
}
.bi-modal-data {
  border-radius: 10px 10px 0 0;
  max-height: 80vh!important;
  overflow-y: auto;
}
.bi-container {
  background-color: #fff;
  padding-top: 10vh;
}
.bi-container .bi-progress {
  border-radius: 30px;
}
.bi-container .bi-progress .progress {
  height: 8px !important;
  margin: 20px 0;
  padding: 0;
}
.bi-container .bi-app-dropdown {
  margin-top: 8px;
  font-weight: 600;
  cursor: pointer;
  min-width: 10vw;
}
.bi-container .bi-app-dropdown > .apps-list {
  max-height: 400px;
  overflow-y: auto;
}
.bi-container .bi-app-dropdown > .apps-list .list-item {
  padding: 4px;
}
.bi-container .bi-app-dropdown > .apps-list .list-item:hover {
  background-color: #e2e2e2;
}
.bi-container .bi-app-dropdown .selected-item {
  width: inherit!important;
  border-bottom: 3px solid #999;
  height: 32px;
  font-family: ArialRounded;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.bi-container .bi-app-dropdown > .dropdown-menu {
  margin-top: 0px;
}
.bi-container .layout-row.bi-section-row {
  line-height: 30px!important;
  margin-top: 20px;
}
.bi-container .bi-section-with-note {
  margin-top: 12px !important;
}
.bi-container .bi-notes-row {
  color: #ff0000;
}
.bi-container .bi-notes-row-app-note {
  margin-top: 8px;
}
.bi-container .bi-bottom {
  border-bottom: 1px solid #a3a3a3;
  padding: 10px 0;
  margin-left: 8px;
  margin-right: 24px;
}
.bi-container .bi-bottom.dotted {
  border-bottom: 1px dotted #a3a3a3;
}
.bi-container .bi-top {
  border-top: 1px solid #a3a3a3;
  /*margin-top: 10px;*/
}
.bi-container .md-fab.fab-btn-green {
  background-color: #138625 !important;
}
.bi-container .bi-preloader {
  padding: 20% 30%;
  background: url(../images/ajax_loader_small.gif) center center no-repeat;
}
.bi-container .bi-data-list {
  height: 60vh !important;
  overflow-y: auto;
}
.bi-container .bi-treemap-tooltip {
  background-color: #f9f9f9!important;
  padding: 10px;
  box-shadow: 0 0 10px #333;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
}
.bi-container .bi-projects-table {
  margin-bottom: 5vh;
}
.bi-container .bi-projects-table .tr {
  line-height: 26px !important;
}
.bi-container .bi-projects-table .header {
  margin-bottom: 10px;
}
.bi-container .bi-btn-active {
  padding-top: 4px;
  border-bottom: 2px solid #0000ff;
}
.bi-container .bi-link {
  box-sizing: border-box;
  line-height: 40px;
  padding: 4px 10px;
  cursor: pointer;
}
.bi-container .bi-link.bi-link-active {
  font-weight: 600;
  border-bottom: 3px groove #999;
}
.bi-container .bi-section-title {
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.bi-container .bi-column-title {
  font-size: 14px;
  font-weight: 600;
  color: #88e097;
}
.bi-container .bi-column-title.top20 {
  position: relative;
  top: 20px;
}
.bi-container .bi-column-title.top10 {
  position: relative;
  top: 10px;
}
.bi-container .bi-column-title.bi-new-user-cell {
  padding: 8px 0;
}
.bi-container .bi-column-title.bi-new-user-cell.center {
  text-align: center;
}
.bi-container .bi-treemap-tooltip {
  background-color: #666;
  color: #fff;
  height: 40px;
  padding: 10px;
  box-shadow: 0 2px 4px #ccc;
  border-radius: 10px;
}
.bi-container .bi-top-nav {
  clear: both;
  width: 100%;
  margin-top: 10px;
  box-shadow: 0 2px 2px #999;
  font-weight: 400;
  text-align: center;
}
.bi-container .bi-top-nav .bi-notes-nav {
  margin-top: 25px;
  height: 70px;
  bottom: 10px;
  background-color: #4A4A4A;
  color: #fff;
  padding: 10px 0;
}
.bi-container .bi-top-nav .bi-nav-row {
  line-height: 30px;
}
.bi-container .bi-top-nav .bi-bold {
  font-weight: 600;
}
.bi-container .bi-chart-bg {
  clear: both;
  height: auto;
  margin: 2vh 0 0;
}
.bi-container .bi-chart-bg.bi-shaded {
  background-color: #eee;
}
.bi-container .bi-chart-bg .bi-treemap-tooltip {
  box-shadow: 0 2px 4px #666;
  color: #f9f9f9;
  background-color: #666;
}
.bi-container .bi-export-data-btn {
  width: 133px;
  height: 36px;
  border-radius: 2px;
  background-color: #3dcd58;
}
.bi-container .bi-daily-weekly-monthly {
  position: relative;
  left: 515px;
  width: 410px;
  height: 14px;
  font-family: ArialRounded;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-bottom: 2vh;
}
.bi-container .bi-guide {
  /*max-width: 300px;*/
  max-height: 400px;
  overflow-wrap: normal;
  overflow-y: auto;
}
.bi-container .bi-guide .text {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 4px;
}
.bi-container .bi-guide .info {
  display: none;
  width: 470px;
  font-size: 14px;
  text-align: left;
  color: #333;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 12px #666;
  position: absolute;
  z-index: 999;
  transition: all 1s;
}
.bi-container .bi-guide .info .title {
  font-weight: 600;
  font-size: 14px;
}
.bi-container .bi-guide .info .formula {
  margin: 10px 0;
  font-family: monospace;
  font-size: 12px;
}
.bi-container .bi-guide .info .progress-color-font {
  padding: 0 10px;
  font-weight: 400;
  width: 60px;
  color: #f9f9f9;
}
.bi-container .bi-guide:hover > .info {
  display: block;
}
.bi-container .bi-chart-container {
  width: 930px;
  margin: 0 auto;
  padding: 10px;
}
.bi-container .bi-chart-container .bi-chart-title {
  height: 30px;
  width: 15vw;
  margin-right: 5px;
  font-family: ArialRounded;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #505559;
}
.bi-container .bi-chart-container a.bi-more-stats-link {
  color: #666;
  font-weight: 600;
  font-style: italic;
  border-bottom: 2px solid #666;
}
.bi-container .bi-chart-container .bi-country-map-title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.bi-container .bi-chart-container .bi-apps {
  margin-bottom: 30px;
}
.bi-container .bi-chart-container .bi-tab {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  padding: 0 10px!important;
  text-align: center;
  text-transform: uppercase;
  outline: 0 none;
}
.bi-container .bi-chart-container .bi-tab.active {
  border-bottom: 2px solid #FF4081;
}
.bi-container .bi-chart-container .bi-formula-used {
  margin-top: 10px;
}
.bi-container .bi-chart-container .bi-chart {
  padding: 10px 0 0;
  height: inherit;
  width: 100%;
  margin-bottom: 20px;
}
.bi-container .bi-chart-container .bi-chart .bi-loader {
  margin-top: 5vh;
  line-height: 10vh;
}
.bi-container .bi-chart-container md-toolbar.bi-toolbar {
  background-color: #3DCD58 !important;
}
.bi-container .bi-chart-container .bi-show-table-btn {
  position: relative;
  top: 10px;
  /* width: 101.4px;*/
  height: 15px;
  font-family: ArialRounded;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #42b4e6;
  cursor: pointer;
}
.bi-container .bi-chart-container .bi-page-title {
  font-size: 20px;
}
.bi-container .bi-chart-container .exec-summary-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
.bi-container .bi-show-notes-btn-nav {
  background-color: #F6F6F6;
  position: relative;
  top: 3vh;
}
.bi-container .bi-show-notes-btn-nav .bi-show-notes-btn {
  outline: 0 none;
  width: 30px;
  text-align: center;
  background-color: #4A4A4A;
  color: #fff;
}
.bi-container .bi-top-label {
  height: 16px;
  font-family: ArialRounded;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.bi-container .bi-select-year {
  background-color: inherit;
  padding: 0 10px 4px;
  /* width: 70px; */
  border: none;
  border-bottom: 3px solid #999;
  cursor: pointer;
}
.bi-container .bi-value {
  width: 68px !important;
  height: 23px;
  font-family: ArialRounded;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.bi-container .bi-exec-value {
  height: 23px;
  font-family: ArialRounded;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-bottom: 4px;
}
.bi-container .bi-exec-dces-value {
  font-size: 14px;
}
.bi-container .bi-non-exec-nav {
  height: 50px !important;
}
.bi-container .bi-year-dropdown {
  padding: 10px 0 10px 0;
}
.bi-container .bi-year {
  width: 47px;
  color: #000000;
  font-family: ArialRounded;
  font-size: 17px;
  font-weight: bold;
}
.bi-container .bi-summary-nav {
  position: relative;
  /*top: 3vh;*/
  height: 260px;
  background-color: #F6F6F6;
  margin-bottom: 10px;
}
.bi-container .bi-summary-nav .bi-new-year-registration {
  /*width: 216px;*/
  width: 155px;
  height: 75px;
  color: #505559;
  font-family: ArialRounded;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
  padding-right: 16px;
}
.bi-container .bi-summary-nav .bi-total-registrations {
  height: 16px;
  font-family: ArialRounded;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #39393a;
}
.bi-container .bi-project-row {
  line-height: 48px;
  border-bottom: 1px solid #cfcfcf;
}
.bi-container .right-breaker {
  margin-right: 24px;
}
.bi-container .bi-scroll-btn {
  border-radius: 50%;
  height: 40px !important;
  width: 40px !important;
  text-align: center;
  position: fixed;
  right: 10%;
  bottom: 0;
}
.bi-feedback-container {
  width: 400px;
  margin: -60px auto 10vh;
  padding: 10px 0;
  text-align: center;
}
.bi-feedback-container .text {
  margin: 20px 0;
}
.bi-feedback-container .bi-feedback-top {
  width: 100%;
  margin: 20px auto;
  border-top: 3px groove #ccc;
}
.bi-feedback-container .bi-like-btn {
  width: 80px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}
.bi-feedback-container .bi-feedback {
  text-align: left;
  width: 400px;
  resize: none;
}
.info-right {
  float: right;
}
.info-row {
  width: 330px !important;
  font-weight: normal !important;
  line-height: 20px !important;
}
.by-app-info {
  font-weight: normal !important;
  line-height: 20px !important;
}
.by-app-info.active-users {
  width: 200px !important;
  margin-top: 20px;
}
.bom-chart {
  padding-bottom: 30px !important;
}
.bom-chart-container {
  margin-top: 20px;
}
.medium-border {
  border-top-width: 2px;
}
.bi-chart-bg .country-chart .bi-chart-title {
  margin-right: -20px;
}
.app-year {
  margin-top: 8px;
}
.ga-container {
  padding-top: 3vh !important;
}
.ga-container .ga-title-section {
  margin-bottom: 13px;
}
.ga-container .ga-title-text {
  font-size: 20px !important;
}
.bi-app-country-text {
  margin-top: 16px;
}
.bi-app-country-header {
  height: 30px;
}
.bi-app-filters {
  margin-right: 32px;
}
.bi-app-filter-text {
  color: #505559;
  padding: 0 2px;
  text-align: right;
  float: right;
}
.show-more-less {
  margin-top: 10px;
}
.country-target-title {
  width: 192px !important;
  float: left;
}
.country-target-tip {
  float: left;
}
body {
  overflow-y: auto;
  background-color: #fff;
}
h3 {
  font-family: "HelveticaNeueW01-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
a,
a:active,
a:focus,
a:hover {
  outline: 0;
  border: none;
}
.clear:before,
.clear:after {
  content: " ";
  display: table;
}
.clearboth {
  clear: both;
}
/*
sup{
    top:0;
}
*/
.clear:after {
  clear: both;
}
.globalFont {
  color: #555;
  font-family: Helvetica;
  font-size: 13px;
}
.textCenter {
  text-align: center;
}
.chartDiv {
  width: 100%;
  margin-top: 10px;
  position: relative;
  min-height: 250px;
}
.noteSymbol {
  top: 0;
  color: #ff0000;
  font-size: 12px;
}
.half-width {
  width: 50%;
}
.invisible-elem {
  visibility: hidden;
}
.margin-top-20px {
  margin-top: 20px;
}
.margin-top-15px {
  margin-top: 15px;
}
.margin-top-10px {
  margin-top: 10px;
}
.margin-top-5px {
  margin-top: 5px;
}
.hover-hand {
  cursor: pointer;
}
.login-msg {
  font-size: 25px;
  padding-left: 20px;
  padding-top: 20px;
}
.font-bold {
  font-weight: bold;
}
/*
 * ngDialog
 */
.ngdialog-overlay {
  background: rgba(255, 255, 255, 0.85);
}
.ngdialog-content {
  box-shadow: 3px 5px 3px #C0C0C0;
  color: #000000;
}
.ngdialog-content .header {
  font-family: "HelveticaNeueW01-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin-top: -10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #CCC;
}
.ngdialog-content .errMsg {
  font-size: 0.8em;
}
.ngdialog-content .errMsg ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ngdialog-content .errMsg ul li {
  padding: 0 0 0 33px;
  vertical-align: middle;
  min-height: 30px;
}
.ngdialog-content .errMsg ul li.error {
  background: url('../images/icon-alert.png') no-repeat 0 5px;
}
.ngdialog-content .errMsg ul li.info {
  background: url('../images/icon-correct.png') no-repeat 0 5px;
}
.ngdialog-content .errMsg ul li.warning {
  background: url('../images/icon-warning.png') no-repeat 0 5px;
}
/*
* Ajax Loader with % upload
*/
.upload-file-fade-box {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
.upload-file-fade-box .ajax-loader-box {
  background: url('../images/ajax-loader.gif') no-repeat center;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  text-align: center;
}
.upload-file-fade-box .ajax-loader-box .percent-val {
  position: relative;
  top: 21px;
  text-align: center;
}
.upload-file-fade-box .ajax-loader-message-box {
  width: 300px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: 45px;
  font-weight: bold;
  text-align: center;
}
.file-upload-result {
  margin-top: 20px;
}
.file-upload-result label {
  color: #B30505;
}
.file-upload-result textarea {
  width: 90%;
  height: 150px;
  background-color: #FFFFFF;
  border: 0px solid #FFF;
  resize: none;
  padding-left: 10px;
}
/**
    NEED TO REMOVE
*/
.chartDropDownContainer {
  text-align: left;
  float: right;
  padding: 5px;
  background: #FCFCFC;
  border: 1px solid #dddddd;
}
.chartDropDownContainer a {
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0 5px;
  text-decoration: none;
  color: #555;
}
.chartDropDownContainer a.active {
  color: #337AB7;
  font-family: "HelveticaNeueW01-65Medi", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: underline;
}
.chart-info {
  width: 100%;
  float: right;
}
.chart-info .chartOptionContainer {
  text-align: left;
  float: right;
}
.chart-info .chartOptionContainer .chartOptionContainerBox {
  border: 1px solid #dddddd;
  background: #FCFCFC;
  padding: 5px;
}
.chart-info .chartOptionContainer .chartOptionContainerBox a {
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0 5px;
  text-decoration: none;
  color: #555;
}
.chart-info .chartOptionContainer .chartOptionContainerBox a.active {
  color: #337AB7;
  font-family: "HelveticaNeueW01-65Medi", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: underline;
}
.chart-info .chartOptionContainer .chartOptionContainerBox .note {
  font-family: Arial;
  font-weight: normal;
  display: inline-block;
  font-size: 11px;
  float: left;
  color: #888;
  margin: 0 0 0 10px;
}
.chart-info .chartOptionContainer .foot-note {
  font-family: Arial;
  font-weight: normal;
  display: inline-block;
  font-size: 11px;
  float: left;
  color: #888;
}
.chart-info .chartOptionContainer .foot-note .footNoteSymbol {
  padding: 0 5px;
}
.chart-info .note {
  font-family: Arial;
  font-weight: normal;
  display: inline-block;
  font-size: 11px;
  float: left;
  color: #888;
}
.chart-info .footNoteSymbol {
  vertical-align: top;
  color: #ff0000;
  font-size: 10px;
  visibility: hidden;
}
.chart-info .isfootNoteSymbolVisible {
  visibility: visible;
}
.chart-info .chart-heading-container {
  text-align: center;
  background-color: #FCFCFC;
  font-size: 13px;
}
.chart-info .chart-heading-container .chart-header {
  font-weight: bold;
  line-height: 30px;
}
.chart-info .chart-heading-container .chert-button {
  border: 1px solid #dddddd;
  padding: 5px;
  font-size: 13px;
}
.no-of-countries {
  width: 49%;
  float: left;
}
.popover-links {
  width: 49%;
  float: right;
}
.popover-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.popover-links ul li {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  float: left;
}
.popover-links ul li a {
  font-size: 8px;
  line-height: 20px;
  display: block;
}
.popover-links ul li a span {
  visibility: hidden;
}
.popover-links ul li.one {
  background: url('../images/icon-help.png') no-repeat center center;
}
.popover-links ul li.two {
  background: url('../images/icon-search.png') no-repeat center center;
  opacity: 0.8;
}
.link {
  color: #337AB7;
  cursor: pointer;
  text-decoration: underline;
}
.link-no-underline {
  color: #337AB7;
  cursor: pointer;
}
.link-no-underline:hover {
  text-decoration: underline;
}
.text-link {
  color: #337AB7;
  cursor: pointer;
}
.text-link .link {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.font-color-red {
  color: #ff0000;
  font-size: 12px;
}
/* Preloader Overlay
--------------------------------*/
.preloader-overlay {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
.preloader-overlay img {
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -75px;
  margin-top: -75px;
}
.headerContainer {
  background-color: #333;
  height: 63px;
}
.headerContainer .logo {
  float: left;
  margin: 13px 0 0 6px;
}
.headerContainer .logo .logoText {
  font-family: "HelveticaNeueW01-67MdCn 692710", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  float: left;
  font-size: 23px;
  line-height: 35px;
  margin: 0 0 0 20px;
}
.headerContainer .profile {
  float: right;
  padding: 10px 15px 5px 10px;
  position: relative;
  cursor: pointer;
}
.headerContainer .profile .user-detail {
  font-family: "HelveticaNeueW01-47LtCn 692686", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: 15px;
  height: 48px;
}
.headerContainer .profile .user-detail .user-name {
  font-size: 13px;
  font-weight: 700;
  padding-left: 5px;
  color: #fff;
  margin: 2px 0 0 10px;
}
.headerContainer .profile .user-detail .company-name {
  font-size: 13px;
  font-weight: 400;
  color: #cbcbcb;
  padding-left: 5px;
  margin-left: 10px;
}
.headerContainer .profile .user-detail .user-name-edit-logout-open {
  color: #333;
}
.headerContainer .profile .user-down-arrow {
  position: absolute;
  top: 29%;
  right: 10px;
}
.headerContainer .profile .edit-profile-logout-flyout {
  position: absolute;
  background-color: #f7f7f7;
  top: 62px;
  right: 0px;
  width: 100%;
  z-index: 100;
}
.headerContainer .profile .edit-profile-logout-flyout .edit-profile-logout-flyout-divider {
  border-bottom: 4px solid #f0f0f0;
}
.headerContainer .profile .edit-profile-logout-flyout .edit-profile-link {
  padding: 10px;
  font-size: 12px;
  opacity: 0.3;
  font-weight: bold;
}
.headerContainer .profile .edit-profile-logout-flyout .edit-profile-link a {
  color: #009530;
}
.headerContainer .profile .edit-profile-logout-flyout .logout-link {
  background-color: #333;
  text-align: right;
  padding: 3px 10px;
}
.headerContainer .profile .edit-profile-logout-flyout .logout-link a {
  font-weight: 700;
  font-size: 12px;
  color: #fff;
}
.headerContainer .edit-profile-logout-open {
  background: #f7f7f7;
}
.headerContainer .edit-profile-logout-close {
  background: transparent;
}
.headerContainer .profilezone-menu {
  margin: 16px 0 0 0;
}
.headerContainer .profilezone-menu .profilezone-menu-icon {
  color: #abacaf;
}
.headerContainer .profilezone-menu .profilezone-menu-icon:before {
  content: "\f007";
}
.headerContainer .profile-user-data-modal .modal-body {
  padding: 20px 0 0;
}
.headerContainer .profile-user-data-modal .modal-content {
  border-top: 10px solid #009530;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  background-color: #f7f7f7;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.headerContainer .profile-user-data-modal .profile-user-data-modal-title {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
}
.headerContainer .profile-user-data-modal .profile-user-data-modal-user {
  padding-left: 35px;
  padding-right: 20px;
}
.headerContainer .profile-user-data-modal .profile-user-data-modal-name {
  color: #333;
  font-size: 12px;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 10px;
}
.headerContainer .profile-user-data-modal .profile-user-data-modal-company {
  color: #cbcbcb;
  font-size: 12px;
  font-weight: 400;
  margin-top: -7px;
  padding-left: 10px;
}
.headerContainer .profile-user-data-modal .profile-user-data-modal-link {
  color: #009530;
  padding: 10px 20px;
  font-weight: bold;
  opacity: 0.3;
}
.headerContainer .profile-user-data-modal .profile-user-data-modal-link a {
  color: #009530;
}
.headerContainer .profile-user-data-modal .profile-user-data-modal-logout {
  background-color: #333;
  height: 30px;
  padding-right: 10px;
  padding-top: 5px;
  text-align: right;
}
.headerContainer .profile-user-data-modal .profile-user-data-modal-logout a {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
.headerContainer .edit-profile-modal .profile-modal-header {
  background-color: #138625;
}
.headerContainer .edit-profile-modal .profile-modal-header .profile-image {
  display: inline-block;
  vertical-align: middle;
  height: 45px;
}
.headerContainer .edit-profile-modal .profile-modal-header .profile-modal-close {
  height: 35px;
  margin-top: 5px;
  margin-right: 10px;
}
.headerContainer .edit-profile-modal .profile-modal-header .profile-modal-header-txt {
  display: inline-block;
  vertical-align: middle;
  color: white;
}
.headerContainer .edit-profile-modal .profile-modal-header {
  background-color: #138625;
  margin-left: -15px;
  margin-right: -15px;
}
.headerContainer .edit-profile-modal .profile-modal-header .profile-image {
  display: inline-block;
  vertical-align: middle;
  height: 45px;
}
.headerContainer .edit-profile-modal .profile-modal-header .profile-modal-close {
  height: 35px;
  margin-top: 5px;
  margin-right: 10px;
}
.headerContainer .edit-profile-modal .profile-modal-header .profile-modal-header-txt {
  display: inline-block;
  vertical-align: middle;
  color: white;
}
.headerContainer .edit-profile-modal .edit-profile .form-container {
  background-color: #ECECED;
  color: #505559;
}
.headerContainer .edit-profile-modal .edit-profile .form-container .column {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0;
}
.headerContainer .edit-profile-modal .edit-profile .form-container fieldset {
  padding: 0 15px;
  color: #626469;
}
.headerContainer .edit-profile-modal .edit-profile .form-container h2 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 5px;
  margin-top: 0;
  margin-bottom: 5px;
}
.headerContainer .edit-profile-modal .edit-profile .form-container .form-group {
  margin-bottom: 0;
}
.headerContainer .edit-profile-modal .edit-profile .form-container label {
  margin-top: 10px;
}
.headerContainer .edit-profile-modal .edit-profile .form-container .mandatory {
  font-size: large;
  font-weight: 700;
  color: #009036;
  display: inline-block;
}
.headerContainer .edit-profile-modal .edit-profile .form-container input[type=text] {
  width: 100%;
  margin-right: 5%;
}
.headerContainer .edit-profile-modal .edit-profile .form-container .error {
  padding: 5px;
  font-size: small;
  color: #009036;
  display: inline-block;
}
.headerContainer .edit-profile-modal .edit-profile .form-container .info-block {
  padding-top: 1em;
}
.headerContainer .edit-profile-modal .edit-profile .form-container .small {
  font-size: small;
}
.headerContainer .edit-profile-modal .edit-profile .form-container .social-box {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2em;
}
.headerContainer .edit-profile-modal .edit-profile .form-container .social-box span {
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
.headerContainer .edit-profile-modal .edit-profile .form-container .facebook {
  background-image: url('../images/facebook.png');
}
.headerContainer .edit-profile-modal .edit-profile .form-container .twitter {
  background-image: url('../images/twitter.png');
}
.headerContainer .edit-profile-modal .edit-profile .form-container .linkedin {
  background-image: url('../images/linkedin.png');
}
.headerContainer .edit-profile-modal .edit-profile .form-container .google {
  background-image: url('../images/google.png');
}
.headerContainer .edit-profile-modal .edit-profile .form-container .facebook.disabled {
  background-image: url('../images/facebook-disabled.png');
}
.headerContainer .edit-profile-modal .edit-profile .form-container .twitter.disabled {
  background-image: url('../images/twitter-disabled.png');
}
.headerContainer .edit-profile-modal .edit-profile .form-container .linkedin.disabled {
  background-image: url('../images/linkedin-disabled.png');
}
.headerContainer .edit-profile-modal .edit-profile .form-container .google.disabled {
  background-image: url('../images/google-disabled.png');
}
.headerContainer .edit-profile-modal .edit-profile .form-container .separation-left {
  border-left: solid thin #cbcbcb;
}
.headerContainer .edit-profile-modal .edit-profile .form-container input[type=submit],
.headerContainer .edit-profile-modal .edit-profile .form-container input[type=button] {
  background-clip: padding-box;
  border: medium none;
  border-radius: 2px;
  color: #FFF;
  font-size: 1.1em;
  font-weight: 200;
  margin: 15px 10px 0 0;
  padding: 7px 35px 7px 30px;
  cursor: pointer;
  background-color: #01b6e8;
}
.headerContainer .edit-profile-modal .edit-profile .form-container input[type=button] {
  background-color: #cbcbcb;
}
.headerContainer .edit-profile-modal .edit-profile .form-container .form-control[readonly] {
  cursor: not-allowed;
}
.headerContainer .edit-profile-modal .edit-profile .form-container .ladyFernGreenColor {
  cursor: pointer;
}
nav {
  width: 100%;
  height: 45px;
  background: #009530;
  position: relative;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  padding: 0px 0px 10px;
  height: 45px;
  border: solid 1px #66ad7d;
  background: #007325;
  float: left;
}
nav ul li > div {
  width: auto;
  font-family: "HelveticaNeueW01-67MdCn 692710", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 40px;
  line-height: 40px;
  background: #009530;
  border: solid 1px #41a360;
  border-right: solid 1px #007124;
  margin-left: -2px;
}
nav ul li > div a {
  padding: 0 27px;
  color: #fff;
  text-decoration: none;
  display: block;
}
nav ul li > div a.active {
  background-color: #65c182;
  color: #fff;
  text-decoration: none;
}
nav ul li > div a:hover {
  background-color: #65c182;
  color: #fff;
  text-decoration: none;
}
nav .nav-xs-default {
  position: relative;
}
nav .nav-xs-default .headerTxt {
  display: block;
  float: left;
  width: auto;
}
nav .nav-xs-default button {
  background: url('../images/hamburgar-icon.png') no-repeat center center;
  width: 26px;
  height: 26px;
  float: right;
  border: none;
  position: absolute;
  right: 5px;
  top: 11px;
}
nav .nav-xs-default .nav-menu-small {
  width: 200px;
  float: right;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 99;
  display: none;
}
nav .nav-xs-default .nav-menu-small .img-arrow {
  background: url('../images/menu-arrow-icon.png') no-repeat center center;
  width: 20px;
  height: 11px;
  position: absolute;
  top: -10px;
  right: 8px;
}
nav .nav-xs-default .nav-menu-small ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .nav-xs-default .nav-menu-small ul li {
  width: 100%;
  padding: 0;
  background: #f4f5f4;
  border: solid 1px #d0d0d0;
  border-top: solid 1px #fbfcfb;
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 40px;
  text-align: left;
}
nav .nav-xs-default .nav-menu-small ul li a {
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #555;
}
nav .nav-xs-default .nav-menu-small ul li a.active {
  background: #ccc;
  height: 100%;
}
nav .nav-xs-default .nav-menu-small ul li:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-top: solid 1px #d0d0d0;
}
nav .nav-xs-default .nav-menu-small ul li:last-child {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  border-bottom: solid 1px #d0d0d0;
}
nav .nav-xs-default .nav-menu-small ul li:hover {
  background: #ccc;
}
.main-container form fieldset {
  padding: 15px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.main-container form legend {
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
}
.containerArea {
  margin-top: 100px;
  padding: 10px 15px;
}
.containerArea .rowTable {
  display: inline-block;
  width: 100%;
  margin: 0 0 10px 0;
  overflow: hidden;
}
.containerArea .rowTable table {
  width: 100%;
}
.containerArea .my-table {
  border-collapse: collapse;
  border: 1px solid #E3E3E3;
  font-size: 12px;
}
.containerArea .my-table tr th {
  background: none;
  padding: 6px 5px;
  border: 1px solid #E3E3E3;
}
.containerArea .my-table tr td {
  background: #fcfcfc;
  padding: 6px 5px;
  border: 1px solid #E3E3E3;
}
.containerArea .my-table tr td.row-center {
  text-align: center;
}
.containerArea .my-table tr td.no-padding {
  padding: 0;
}
.containerArea .my-table tr:nth-of-type(even) td {
  background: #fff;
}
.containerArea .my-table tr td.selected-column {
  background: #f4f5f4;
  border: 1px solid #E3E3E3;
}
.containerArea .my-table tr td.header-highlight-row {
  background: #A7EDA7;
  font-size: 14px;
  vertical-align: middle;
}
.containerArea .my-table tr td.selected-row-chart {
  background: rgba(118, 230, 118, 0.9) !important;
  border: 1px solid #E3E3E3;
}
.containerArea .my-table tr td.header-border {
  border: 1px solid #FFF;
  border-top: none;
}
.containerArea .my-table tr td.rigth-border {
  border-right: 1px solid #E3E3E3;
}
.containerArea .my-table tr td.left-border {
  border-left: 1px solid #E3E3E3;
}
.containerArea .my-table tr td.summary-header-highlight-row {
  background: #eaf7cf;
  /* #d3f394  #DBF7DB */
  border: 1px solid #f5f5c9;
  border-top: 5px solid #25C925;
}
.containerArea .my-table tr td.summary-header-highlight-row .expand-collaspe-icon {
  cursor: pointer;
}
.containerArea .my-table tr td.summary-header-highlight-row .row-header {
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}
.containerArea .my-table tr td.summary-sub-header-highlight-row {
  background: #bac9f2;
  border: 1px solid #f5f5c9;
  border-top: 5px solid #6d92f6;
}
.containerArea .my-table tr td.summary-sub-header-highlight-row .expand-collaspe-icon {
  cursor: pointer;
}
.containerArea .my-table tr td.summary-sub-header-highlight-row .row-header {
  font-size: 14px;
  font-weight: bold;
  padding-left: 5px;
}
.containerArea .my-table tr td.highlight-row {
  background: #d0f5d0;
}
.containerArea .my-table tr td.light-small-text {
  color: #A0A0A0;
  font-size: 11px;
}
.containerArea .my-table tr td.row-seperator {
  background: #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  height: 10px;
  border-top: none;
  border-bottom: none;
}
.containerArea .my-table tr td.reg-user-ytd {
  background: #90EE90;
}
.containerArea .my-table tr td.reg-user-kpi {
  background: #f6f6ee;
}
.containerArea .my-table tr td.total-target-kpi {
  background: #cdcda1;
}
.containerArea .my-table tr td.row-with-top-border {
  border-top: 5px solid #25C925;
}
.containerArea .my-table tr td.total-reg-users {
  background: #cdcda1;
}
.containerArea .my-table tr td.total-row-normal {
  background: #d2d2cf;
}
.containerArea .my-table tr td.total-row-reg-user-ytd {
  background: #c3dec3;
}
.containerArea .my-table tr td.total-row-total-target-kpi {
  background: #bebea6;
}
.containerArea .my-table tr td.total-row-normal-bottom-border {
  background: #d2d2cf;
  border-bottom: 5px solid #ffffff;
}
.containerArea .my-table tr td.total-row-reg-user-ytd-bottom-border {
  background: #c3dec3;
  border-bottom: 5px solid #ffffff;
}
.containerArea .my-table tr td.total-row-total-target-kpi-bottom-border {
  background: #bebea6;
  border-bottom: 5px solid #ffffff;
}
.containerArea .my-table select {
  width: 98%;
  border: solid 1px #ccc;
}
.containerArea .my-table select.small-drop-down {
  width: 90%;
}
.containerArea .my-table a {
  color: #337AB7;
}
.containerArea .colTableLeft {
  width: 47%;
  float: left;
}
.containerArea .colTableRight {
  width: 47%;
  float: right;
}
.border {
  border: 2px solid #009530;
}
.app-container {
  min-height: 70vh;
}
.version-buttons {
  margin-bottom: 10px;
}
.impNote {
  font-family: Arial;
  font-weight: normal;
  color: #888;
  font-size: 11px;
}
.imp-note-black {
  font-family: Arial;
  font-weight: normal;
  font-size: 11px;
}
legend {
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
  margin-bottom: 0;
  padding: 0 2px;
  width: auto;
}
.chart-container {
  width: 100%;
  height: 300px;
  position: relative;
}
.chart-container .chart-loder {
  position: absolute;
  left: 50%;
  top: 46%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
}
.chart-container-long {
  width: 100%;
  height: 900px;
  position: relative;
}
.chart-container-long .chart-loder {
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
}
.gridContainer {
  min-height: 99px;
}
.seprate {
  border-right: solid 2px #C2C2C2;
}
.paddingLft20 {
  padding-left: 20px;
}
.paddingRght20 {
  padding-right: 20px;
}
.no-padding-right {
  padding-right: 0;
}
.no-padding-left {
  padding-left: 0;
}
.column {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.pagination {
  margin: 10px 0 0;
  padding: 0;
}
.pagination > li > a {
  padding: 3px 10px;
  border-radius: 0;
  color: #888;
}
.pagination .active > a:focus,
.pagination .active > a {
  border-color: #bcbcbc !important;
  background-color: #bcbcbc !important;
}
.pagination:last-child {
  margin: 0;
}
.pagination-fixed-width {
  width: 100px;
  text-align: center;
}
.app-content {
  /*  position: relative;
    width: 100%;
    top: 11vh;
    height: auto;*/
}
.chart-type-conatiner {
  margin: 0 auto;
  width: 215px;
  display: block;
  height: 19px;
}
.chart-type-conatiner > li {
  float: left;
  margin-right: 1px;
  list-style: none;
}
.chart-type-conatiner > li > a {
  display: block;
  padding: 1px 0;
  background: #f4f5f4;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  width: 56px;
  text-align: center;
  font-size: 12px;
}
.chart-type-conatiner .selected-chart {
  color: #fff;
  background: #888;
}
.chart-with-pie {
  width: 250px;
}
.country-dialog-header {
  margin-bottom: 6px;
  margin-top: -8px;
}
.ui-grid-cell-contents {
  font-size: 12px;
}
.country-dialog-container .auto-height {
  height: auto !important;
}
.disable-link {
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0 5px;
  color: #555;
  opacity: 0.7;
}
.table-responsive {
  margin-bottom: 5px;
}
.table {
  margin-bottom: 0;
}
.up-arrow:before {
  color: #27D704;
}
.down-arrow:before {
  color: #FA2626;
}
.summary-date-range-container {
  margin-bottom: 5px;
  min-height: .01%;
  overflow-x: auto;
}
.summary-date-range-container .label-txt {
  margin-right: 10px;
}
.summary-date-range-container .date-radio {
  margin-left: 5px;
  margin-right: 10px;
}
.summary-date-range-container .date-radio .input-container {
  vertical-align: middle;
}
.target-achive-container {
  width: 125px;
}
.target-achive-container .percent-container {
  text-align: center;
  width: 44px;
  height: 44px;
  margin-right: 8px;
}
.target-achive-container .text-container {
  padding-top: 6px;
}
.target-achive-container .font-bold {
  font-weight: bold;
}
.target-achive-container .percent-up-box {
  background: #E8F9C5;
  padding: 2px 0px;
  box-shadow: 1px 1px 1px #333;
}
.target-achive-container .percent-down-box {
  background: #F9D8E7;
  padding: 2px 0px;
  box-shadow: 1px 1px 1px #333;
}
.target-achive-container .percent-blank-box {
  background: #EFEFEF;
  padding: 2px 0px;
  box-shadow: 1px 1px 1px #333;
}
.grid {
  width: 100%;
}
.ui-grid-render-container-body > div.padding-bttm {
  padding-bottom: 10px;
}
.form-horizontal .control-label {
  text-align: left;
}
.form-horizontal .btn {
  padding: 3px 15px;
}
.form-horizontal .btn-browse {
  float: right;
  margin: -1px 0 0;
  padding: 3px 0;
  text-align: center;
  width: 26%;
}
.form-horizontal .file-upload {
  position: relative;
  overflow: hidden;
}
.form-horizontal .file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.form-horizontal .upload-text {
  width: 72%;
  padding: 0 0 0 10px;
  height: 27px;
}
.form-horizontal .glyphicon-download-alt {
  color: #333;
  width: 16px;
  cursor: pointer;
}
.form-horizontal .glyphicon-download-txt {
  cursor: pointer;
}
.form-horizontal .glyphicon-folder-open {
  margin-right: 4px;
}
.error-page {
  margin: 15px auto 0 auto;
  width: 25%;
  background-color: #efefef;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 3px 5px 3px #c0c0c0;
  -moz-box-shadow: 3px 5px 3px #c0c0c0;
  -webkit-box-shadow: 3px 5px 3px #c0c0c0;
  -o-box-shadow: 3px 5px 3px #c0c0c0;
}
.error-page .user-greeting-text {
  font-weight: bold;
}
.error-page .error-content {
  margin: 5px 0 0 0;
}
.data-update-note {
  color: #058DC7;
  font-weight: bold;
  font-size: 14px;
}
.tracepart-chart-container {
  height: 480px;
  background-color: #555;
  padding: 10px;
  box-shadow: 1px 4px 4px #999;
  border-radius: 4px;
}
.tracepart-chart-container:hover {
  box-shadow: 0 4px 20px #666;
}
@media all and (max-width: 767px) {
  .nav-xs-default .headerTxt,
  .nav-xs-default .nav-menu-small,
  .nav-xs-default button {
    display: block;
  }
  .headerTxt {
    font-family: "HelveticaNeueW01-67MdCn 692710", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 49px;
    padding: 0 22px;
  }
  .rowTable > div {
    float: left;
    padding-left: 0;
    padding-right: 0;
  }
  .headerContainer .logo {
    color: #fff;
  }
  .containerArea .rowTable {
    margin: 10px 0 0;
    overflow: auto;
  }
  .containerArea .my-table select.small-drop-down {
    width: 78%;
  }
  .footer .pull-right {
    float: left !important;
  }
  .no-padding-left,
  .no-padding-right {
    padding: 0;
  }
  .column {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .seprate {
    border: none;
  }
  .no-of-countries {
    width: 100%;
  }
  .project-name-width {
    min-width: 190px;
  }
  .project-summary-col {
    min-width: 120px;
  }
  .error-page {
    width: 90%;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .seprate {
    border-right: none;
  }
  .rowTable > div {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
  }
  .project-name-width {
    min-width: 190px;
  }
  .project-summary-col {
    min-width: 120px;
  }
  .ui-grid-render-container-body > div.padding-bttm {
    padding-bottom: 0;
  }
  .error-page {
    width: 41%;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .project-name-width {
    min-width: 190px;
  }
  .project-summary-col {
    min-width: 120px;
  }
  .ui-grid-render-container-body > div.padding-bttm {
    padding-bottom: 0;
  }
  .error-page {
    width: 41%;
  }
}
/** new styles **/
.traceparts-navbar {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.traceparts-navbar .section {
  width: 50%;
  float: left;
}
.traceparts-navbar .header {
  cursor: pointer;
}
.traceparts-navbar .header.active {
  background-color: #bcbcbc;
}
.traceparts-navbar .header .title {
  font-weight: 400;
  font-size: 18px;
}
.traceparts-navbar .header.active > .title {
  color: #fff;
}
.traceparts-divider {
  height: 30px;
  margin-bottom: 10px;
}
.traceparts-divider hr.traceparts-divider-line {
  position: relative;
  top: 1.3vh;
  border: 1px solid #090;
}
.traceparts-divider .traceparts-divider-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #090;
  background: white;
  text-transform: uppercase;
  z-index: 999;
  position: absolute;
  padding: 0 10px;
}
.traceparts-divider .traceparts-divider-title.summary {
  left: 44%;
  width: 140px;
}
.traceparts-divider .traceparts-divider-title.trend {
  left: 40%;
  width: 280px;
}
.traceparts-year-button {
  width: 120px;
  margin: 0 2px;
}
.traceparts-year-button:hover,
.traceparts-year-button.active {
  box-shadow: 0 0 10px blue;
}
.traceparts-totals {
  margin-top: 10px;
  box-shadow: 0 0 10px #999;
  padding: 0 10px;
  border-radius: 4px;
  text-align: center;
}
.traceparts-summary-graph-header {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #090;
}
.traceparts-summary-graph-container {
  border: 1px solid #999;
  padding: 2px;
  height: 48vh;
  border-radius: 4px;
}
.traceparts-summary-graph-container .no-data-label {
  position: relative;
  top: 40%;
  text-align: center;
  color: #e00;
}
.treemap-tooltip {
  background-color: #666;
  color: #fff;
  height: 40px;
  padding: 10px;
  box-shadow: 0 2px 4px #ccc;
  border-radius: 10px;
}
.traceparts-country-button {
  margin: 0 4px;
  box-shadow: 0 0 4px #999;
  width: 50px;
  font-weight: 600;
}
.traceparts-row {
  margin-top: 10px;
}
.nav-menu:hover > .nav-menu-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.nav-menu-container {
  display: none;
  position: absolute;
  top: inherit;
  z-index: 9999;
  color: white;
  background-color: #138625;
  box-shadow: 0 0 20px teal;
  width: 30vw;
}
.nav-menu-container .nav-menu-item {
  box-sizing: border-box;
  padding: 4px 20px 0 30px;
  line-height: 30px !important;
  cursor: pointer;
  transition: all 0.5s;
  width: 50%;
  box-shadow: 0 2px 1px #a7eda7;
  letter-spacing: 1px;
}
.nav-menu-container .nav-menu-item.full {
  width: 100%;
}
.nav-menu-container .nav-menu-item:last-child {
  border-bottom: none;
}
.nav-menu-container .nav-menu-item:hover {
  background-color: #a7eda7;
  color: #666;
  font-weight: bold;
  box-shadow: 0 4px 8px #138625;
}
.no-data-message {
  position: relative;
  top: 10vh;
  display: block;
}
.confirm-title {
  font-size: 20px;
  font-weight: 600;
  color: maroon;
  margin-bottom: 10px;
}
thead {
  background-color: #3DCD58;
  color: #f9f9f9;
}
.hidden {
  display: none;
  transition: all 0.5s;
}
.home-container-main {
  padding: 0;
  margin: 0;
}
.md-select-menu-container.dropDown {
  top: -10px !important;
}
.se-bottom-properties {
  margin-top: 20px;
}
