<div id="myPactMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Easy Mobile Quote </legend>
      <div class="globalFont font-bold" style="text-align: center;">
        <a href="#/byapps/easy-quote">Please visit new dashboard page for Easy Mobile Quote</a>
      </div>
    </fieldset>
  </form>
</div>
