<div id="myPactMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> My Electrician App </legend>
      <div class="globalFont font-bold" style="text-align: center;">
        <a href="#/byapps/my-electrician">Please visit new dashboard page for My Electrician App</a>
      </div>
    </fieldset>
  </form>
</div>
