<table cellspacing='0' cellpadding='0' border='0' class="table table-bordered ">
  <tr ng-repeat="item in data">
    <td width="16%">{{item.appName}}</td>
    <td width="10%" class="reg-user-ytd clear">
      <div class="text-center col-md-4">
        <div class="clearboth">
          <div class='percent-container pull-left percent-blank-box'>
            <span class="glyphicon" ng-class="getClassArrow(item.RegUserAchive, item.RegUserTarget)"></span>
          </div>
        </div>
        <div class="clearboth">
          {{getProfitLossPercent(item.RegUserAchive, item.RegUserTarget)}}%
        </div>
      </div>
      <div class="text-center col-md-8">
        <div><span class="font-bold">T:</span> {{item.RegUserTarget|number}}</div>
        <div><span class="font-bold">A:</span> {{item.RegUserAchive|number}}</div>
      </div>
    </td>
    <!--        <td width="10%">
                <div><span class="font-bold">T:</span> {{item.Q1Target|number}}</div>
                <div><span class="font-bold">A:</span> {{item.Q1Achive|number}}</div>
            </td>
            <td width="10%">
                <div><span class="font-bold">T:</span> {{item.Q2Target|number}}</div>
                <div><span class="font-bold">A:</span> {{item.Q2Achive|number}}</div>
            </td>
            <td width="10%">
                <div><span class="font-bold">T:</span> {{item.Q3Target|number}}</div>
                <div><span class="font-bold">A:</span> {{item.Q3Achive|number}}</div>
            </td>
            <td width="10%">
                <div><span class="font-bold">T:</span> {{item.Q4Target|number}}</div>
                <div><span class="font-bold">A:</span> {{item.Q4Achive|number}}</div>
            </td>-->
    <td width="40%" align="center">
      <!--{{item}}-->
      <div google-chart chart="getchart(item)" style="height:150px; width:100%;"></div>
    </td>
    <td width="10%" class='total-target-kpi'>
      <div><span class="font-bold">T:</span> {{getTotalTarget(item)}}</div>
      <div><span class="font-bold">A:</span> {{getTotalTargetAchive(item)}}</div>
    </td>
    <td width="8%">{{item.projCreatedAchive}}</td>
    <td width="8%">{{item.BOMYTDAchive}}</td>
    <td width="8%">{{item.BOMExportedAchive}}</td>
  </tr>
</table>