<div class="clear target-achive-container">
  <div class="percent-container pull-left" ng-class="getPercentBgClass()">
    <span class="glyphicon" ng-class="getClassArrow(targetData, achiveData)"></span>
    <br/>
    <span class="font-bold" ng-class="checkQtrVisibility()">{{profitLossPercent()}}%</span>
  </div>

  <div class="pull-left text-container" data-ng-if="isTotalTarget == 1">
    <span class="pull-left">
      <span class="font-bold">T</span><span>:{{targetData| number : 0}}</span>
    </span>
    <span class="noteSymbol" ng-if='showNoteSymbol(noteSymbolTarget)'>{{noteSymbolTarget}}</span>
    <br/>

    <span  class="pull-left" data-ng-if = 'getTargetRemaining() >= 0'>
      <span class="font-bold">TR</span>:<span>{{getTargetRemaining() | number : 0}}</span>
    </span>

    <span class="pull-left" data-ng-if='getTargetRemaining() < 0'>
      <span class="font-bold" >TE</span>:<span>{{getTargetExceed() | number : 0}}</span>
    </span>
    <span class="noteSymbol" ng-if='showNoteSymbol(noteSymbolAchive)'>{{noteSymbolAchive}}</span>
  </div>

  <div class="pull-left text-container" data-ng-if="isTotalTarget != 1">
    <span class="pull-left">
      <span class="font-bold">T</span>:<span>{{targetData| number : 0}}</span>
    </span>
    <span class="noteSymbol" data-ng-if='showNoteSymbol(noteSymbolTarget)'>{{noteSymbolTarget}}</span>
    <br/>
    <span class="pull-left">
      <span class="font-bold pull-left">A</span>:<span>{{achiveData| number : 0}}</span>
    </span>
    <span class="noteSymbol" data-ng-if='showNoteSymbol(noteSymbolAchive)'>{{noteSymbolAchive}}</span>
  </div>
</div>