<div id="myPactMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Smart Selectors </legend>
      <div class="globalFont font-bold" style="text-align: center;">
        <a href="#/byapps/smart-selector">Please visit new dashboard page for Smart Selectors</a>
      </div>
    </fieldset>
  </form>
</div>
