.caroussel-object img {
  float: left;
  padding-right: 10px;
}

.caroussel-object .mainInfo {
  font-size: 14px;
  font-family: ArialRounded;
  color: #3DCD58;
}

.caroussel-object h1 {
  font-size: 24px;
  font-family: ArialRounded;
  color: #4a4a4a;
}

.caroussel-object p {
  font-size: 12px;
  font-family: ArialRounded;
  color: #9b9b9b;
}

.se-link-blue {
  color: #42b4e6;
}

// old styles

@import "custom.variables.less";
@import "bidb.styles.less";

body {
  overflow-y: auto;
  background-color: #fff;
}

h3 {
  font-family: @font3-family;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a, a:active, a:focus, a:hover {
  outline: 0;
  border: none;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clearboth {
  clear: both;
}

/*
sup{
    top:0;
}
*/
.clear:after {
  clear: both;
}

.globalFont {
  color: #555;
  font-family: Helvetica;
  font-size: 13px;
}

.textCenter {
  text-align: center;
}

.chartDiv {
  width: 100%;
  margin-top: 10px;
  position: relative;
  min-height: 250px;
}

.noteSymbol {
  top: 0;
  color: #ff0000;
  font-size: 12px;
}

.half-width {
  width: 50%;
}

.invisible-elem {
  visibility: hidden;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-top-15px {
  margin-top: 15px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-top-5px {
  margin-top: 5px;
}

.hover-hand {
  cursor: pointer;
}

.login-msg {
  font-size: 25px;
  padding-left: 20px;
  padding-top: 20px;
}

.font-bold {
  font-weight: bold;
}

/*
 * ngDialog
 */

.ngdialog-overlay {
  background: rgba(255, 255, 255, 0.85);
}

.ngdialog-content {
  //border-bottom: 3px solid #C0C0C0;
  box-shadow: 3px 5px 3px #C0C0C0;
  color: #000000;
  .header {
    font-family: @font3-family;
    font-size: @font4-size;
    margin-top: -10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #CCC;
  }
  .errMsg {
    font-size: @font2-size;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 0 0 0 33px;
        vertical-align: middle;
        min-height: 30px;
      }
      li.error {
        background: url('@{imagePath}/icon-alert.png') no-repeat 0 5px;
      }
      li.info {
        background: url('@{imagePath}/icon-correct.png') no-repeat 0 5px;
      }
      li.warning {
        background: url('@{imagePath}/icon-warning.png') no-repeat 0 5px;
      }

    }
  }
}

/*
* Ajax Loader with % upload
*/
.upload-file-fade-box {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  .ajax-loader-box {
    background: url('@{imagePath}/ajax-loader.gif') no-repeat center;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    text-align: center;
    .percent-val {
      position: relative;
      top: 21px;
      text-align: center;
    }
  }
  .ajax-loader-message-box {
    width: 300px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: 45px;
    text-align: center;
    font-weight: bold;
    text-align: center;
  }
}

.file-upload-result {
  margin-top: 20px;

  label {
    color: #B30505;
  }
  textarea {
    width: 90%;
    height: 150px;
    background-color: #FFFFFF;
    border: 0px solid #FFF;
    resize: none;
    padding-left: 10px;
  }
}

/**
    NEED TO REMOVE
*/
.chartDropDownContainer {
  text-align: left;
  float: right;
  padding: 5px;
  background: #FCFCFC;
  border: 1px solid rgb(221, 221, 221);

  a {
    font-family: @font1-family;
    font-weight: normal;
    padding: 0 5px;
    text-decoration: none;
    color: #555;
  }
  a.active {
    color: #337AB7;
    font-family: @font8-family;
    text-decoration: underline;
  }

}

.chart-info {
  width: 100%;
  float: right;
  .chartOptionContainer {
    text-align: left;
    float: right;
    .chartOptionContainerBox {
      border: 1px solid rgb(221, 221, 221);
      background: #FCFCFC;
      padding: 5px;
      a {
        font-family: @font1-family;
        font-weight: normal;
        padding: 0 5px;
        text-decoration: none;
        color: #555;
      }
      a.active {
        color: #337AB7;
        font-family: @font8-family;
        text-decoration: underline;
      }
      .note {
        font-family: Arial;
        font-weight: normal;
        display: inline-block;
        font-size: 11px;
        float: left;
        color: #888;
        margin: 0 0 0 10px;
      }
    }
    .foot-note {
      font-family: Arial;
      font-weight: normal;
      display: inline-block;
      font-size: 11px;
      float: left;
      color: #888;
      .footNoteSymbol {
        padding: 0 5px;
      }
    }
  }
  .note {
    font-family: Arial;
    font-weight: normal;
    display: inline-block;
    font-size: 11px;
    float: left;
    color: #888;
  }
  .footNoteSymbol {
    vertical-align: top;
    color: #ff0000;
    font-size: 10px;
    visibility: hidden;
  }
  .isfootNoteSymbolVisible {
    visibility: visible;
  }
  .chart-heading-container {
    text-align: center;
    background-color: #FCFCFC;
    font-size: 13px;

    .chart-header {
      font-weight: bold;
      line-height: 30px;
    }

    .chert-button {
      border: 1px solid #dddddd;
      padding: 5px;
      font-size: 13px;
    }
  }
}

.no-of-countries {
  width: 49%;
  float: left;
}

.popover-links {
  width: 49%;
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    li {
      width: 20px;
      height: 20px;
      margin-left: 5px;
      float: left;
      a {
        font-size: 8px;
        line-height: 20px;
        display: block;
        span {
          visibility: hidden;
        }
      }
    }
    li.one {
      background: url('@{imagePath}/icon-help.png') no-repeat center center;
    }
    li.two {
      background: url('@{imagePath}/icon-search.png') no-repeat center center;
      opacity: 0.8;
    }

  }
}

.link {
  color: #337AB7;
  cursor: pointer;
  text-decoration: underline;
}

.link-no-underline {
  color: #337AB7;
  cursor: pointer;
}

.link-no-underline:hover {
  text-decoration: underline;
}

.text-link {
  color: #337AB7;
  cursor: pointer;
  .link {
    text-decoration: underline;
  }
}

.bold {
  font-weight: bold;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.font-color-red {
  color: #ff0000;
  font-size: 12px;
}

/* Preloader Overlay
--------------------------------*/
.preloader-overlay {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  img {
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -75px;
    margin-top: -75px;
  }

}

.headerContainer {
  background-color: #333;
  height: 63px;
  .logo {
    float: left;
    margin: 13px 0 0 6px;
    .logoText {
      font-family: @font7-family;
      color: #fff;
      float: left;
      font-size: 23px;
      line-height: 35px;
      margin: 0 0 0 20px;
    }
  }
  .profile {
    float: right;
    padding: 10px 15px 5px 10px;
    position: relative;
    cursor: pointer;
    .user-detail {
      font-family: @font2-family;
      margin-right: 15px;
      height: 48px;
      .user-name {
        font-size: 13px;
        font-weight: 700;
        padding-left: 5px;
        color: #fff;
        margin: 2px 0 0 10px;
      }
      .company-name {
        font-size: 13px;
        font-weight: 400;
        color: #cbcbcb;
        padding-left: 5px;
        margin-left: 10px;
      }
      .user-name-edit-logout-open {
        color: #333;
      }
    }
    .user-down-arrow {
      position: absolute;
      top: 29%;
      right: 10px;
    }

    .edit-profile-logout-flyout {
      position: absolute;
      background-color: #f7f7f7;
      top: 62px;
      right: 0px;
      width: 100%;
      z-index: 100;
      .edit-profile-logout-flyout-divider {
        border-bottom: 4px solid #f0f0f0;
      }
      .edit-profile-link {
        padding: 10px;
        font-size: 12px;
        opacity: 0.3;
        font-weight: bold;
        a {
          color: #009530;
        }
      }
      .logout-link {
        background-color: #333;
        text-align: right;
        padding: 3px 10px;
        a {
          font-weight: 700;
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }
  .edit-profile-logout-open {
    background: #f7f7f7;
  }
  .edit-profile-logout-close {
    background: transparent;
  }

  .profilezone-menu {
    margin: 16px 0 0 0;
    .profilezone-menu-icon {
      color: #abacaf;
      &:before {
        content: "\f007";
      }
    }
  }

  .profile-user-data-modal {
    .modal-body {
      padding: 20px 0 0;
    }
    .modal-content {
      border-top: 10px solid #009530;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
      background-color: #f7f7f7;
      padding-right: 0px;
      padding-left: 0px;
      padding-bottom: 0px;
    }
    .profile-user-data-modal-title {
      color: #333;
      font-size: 14px;
      font-weight: 700;
      padding-left: 20px;
      padding-right: 20px;
    }
    .profile-user-data-modal-user {
      padding-left: 35px;
      padding-right: 20px;
    }
    .profile-user-data-modal-name {
      color: #333;
      font-size: 12px;
      font-weight: 700;
      padding-left: 10px;
      padding-top: 10px;
    }
    .profile-user-data-modal-company {
      color: #cbcbcb;
      font-size: 12px;
      font-weight: 400;
      margin-top: -7px;
      padding-left: 10px;
    }
    .profile-user-data-modal-link {
      color: #009530;
      padding: 10px 20px;
      font-weight: bold;
      opacity: 0.3;
      a {
        color: #009530;
      }
    }
    .profile-user-data-modal-logout {
      background-color: #333;
      height: 30px;
      padding-right: 10px;
      padding-top: 5px;
      text-align: right;
      a {
        color: #fff;
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
  .edit-profile-modal {
    .profile-modal-header {
      background-color: #138625;
      .profile-image {
        display: inline-block;
        vertical-align: middle;
        height: 45px;
      }
      .profile-modal-close {
        height: 35px;
        margin-top: 5px;
        margin-right: 10px;
      }
      .profile-modal-header-txt {
        display: inline-block;
        vertical-align: middle;
        color: white;
      }
    }
  }

  .edit-profile-modal {
    .profile-modal-header {
      background-color: #138625;
      margin-left: -15px;
      margin-right: -15px;
      .profile-image {
        display: inline-block;
        vertical-align: middle;
        height: 45px;
      }
      .profile-modal-close {
        height: 35px;
        margin-top: 5px;
        margin-right: 10px;
      }
      .profile-modal-header-txt {
        display: inline-block;
        vertical-align: middle;
        color: white;
      }
    }
    .edit-profile {
      .form-container {
        background-color: #ECECED;
        color: #505559;
        .column {
          margin-top: 10px;
          margin-bottom: 10px;
          padding-bottom: 0;
        }
        fieldset {
          padding: 0 15px;
          color: #626469;
        }
        h2 {
          font-size: 20px;
          font-weight: 700;
          padding-top: 5px;
          margin-top: 0;
          margin-bottom: 5px;
        }
        .form-group {
          margin-bottom: 0;
        }
        label {
          margin-top: 10px;
        }
        .mandatory {
          font-size: large;
          font-weight: 700;
          color: #009036;
          display: inline-block;
        }
        input[type=text] {
          width: 100%;
          margin-right: 5%;
        }
        .error {
          padding: 5px;
          font-size: small;
          color: #009036;
          display: inline-block;
        }
        .info-block {
          padding-top: 1em;
        }
        .small {
          font-size: small;
        }
        .social-box {
          display: inline-block;
          vertical-align: middle;
          margin-left: 2em;
        }
        .social-box {
          span {
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            display: inline-block;
            margin: 5px;
            cursor: pointer;
          }
        }
        .facebook {
          background-image: url('@{imagePath}/facebook.png');
        }
        .twitter {
          background-image: url('@{imagePath}/twitter.png');
        }
        .linkedin {
          background-image: url('@{imagePath}/linkedin.png');
        }
        .google {
          background-image: url('@{imagePath}/google.png');
        }
        .facebook.disabled {
          background-image: url('@{imagePath}/facebook-disabled.png');
        }
        .twitter.disabled {
          background-image: url('@{imagePath}/twitter-disabled.png');
        }
        .linkedin.disabled {
          background-image: url('@{imagePath}/linkedin-disabled.png');
        }
        .google.disabled {
          background-image: url('@{imagePath}/google-disabled.png');
        }
        .separation-left {
          border-left: solid thin #cbcbcb;
        }
        input[type=submit], input[type=button] {
          background-clip: padding-box;
          border: medium none;
          border-radius: 2px;
          color: #FFF;
          font-size: 1.1em;
          font-weight: 200;
          margin: 15px 10px 0 0;
          padding: 7px 35px 7px 30px;
          cursor: pointer;
          background-color: #01b6e8;
        }
        input[type=button] {
          background-color: #cbcbcb;
        }
        .form-control[readonly] {
          cursor: not-allowed;
        }
        .ladyFernGreenColor {
          cursor: pointer;
        }
      }
    }
  }
}

nav {
  width: 100%;
  height: 45px;
  background: #009530;
  position: relative;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 0px 0px 10px;
      height: 45px;
      border: solid 1px #66ad7d;
      background: #007325;
      float: left;
      > div {
        width: auto;
        font-family: @font7-family;
        height: 40px;
        line-height: 40px;
        background: #009530;
        border: solid 1px #41a360;
        border-right: solid 1px #007124;
        margin-left: -2px;
        a {
          padding: 0 27px;
          color: #fff;
          text-decoration: none;
          display: block;
        }
        a.active {
          background-color: #65c182;
          color: #fff;
          text-decoration: none;
        }
        a:hover {
          background-color: #65c182;
          color: #fff;
          text-decoration: none;
        }

      }
    }

  }
  .nav-xs-default {
    position: relative;
    .headerTxt {
      display: block;
      float: left;
      width: auto;
    }
    button {
      background: url('@{imagePath}/hamburgar-icon.png') no-repeat center center;
      width: 26px;
      height: 26px;
      float: right;
      border: none;
      position: absolute;
      right: 5px;
      top: 11px;

    }

    .nav-menu-small {
      width: 200px;
      float: right;
      position: absolute;
      right: 0;
      top: 50px;
      z-index: 99;

      display: none;
      .img-arrow {
        background: url('@{imagePath}/menu-arrow-icon.png') no-repeat center center;
        width: 20px;
        height: 11px;
        position: absolute;
        top: -10px;
        right: 8px;

      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          width: 100%;
          padding: 0;
          background: #f4f5f4;
          border: solid 1px #d0d0d0;
          border-top: solid 1px #fbfcfb;
          font-family: @font1-family;
          line-height: 40px;
          text-align: left;
          a {
            padding: 0 15px;
            display: block;
            text-decoration: none;
            color: #555;
          }
          a.active {
            background: #ccc;
            height: 100%;
          }
        }

        li:first-child {
          -webkit-border-radius: 4px 4px 0 0;
          -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
          border-top: solid 1px #d0d0d0;
        }
        li:last-child {
          -webkit-border-radius: 0 0 4px 4px;
          -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
          border-bottom: solid 1px #d0d0d0;
        }
        li:hover {
          background: #ccc;
        }
      }
    }
  }
}

.main-container {
  form {
    fieldset {
      padding: 15px 0;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
    legend {
      font-family: @font1-family;
      font-size: 17px;
    }
  }
}

.containerArea {
  margin-top: 100px;
  padding: 10px 15px;
  .rowTable {
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    overflow: hidden;
    table {
      width: 100%;
    }
  }

  .my-table {
    border-collapse: collapse;
    border: 1px solid #E3E3E3;
    font-size: 12px;
    tr {
      th {
        background: none;
        padding: 6px 5px;
        border: 1px solid #E3E3E3;
      }
      td {
        background: #fcfcfc;
        padding: 6px 5px;
        border: 1px solid #E3E3E3;
      }
      td.row-center {
        text-align: center;
      }
      td.no-padding {
        padding: 0;
      }
    }
    tr:nth-of-type(even) td {
      background: #fff;
    }
    tr {
      td {
        &.selected-column {
          background: #f4f5f4;
          border: 1px solid #E3E3E3;
        }
        &.header-highlight-row {
          background: #A7EDA7;
          font-size: 14px;
          vertical-align: middle;
        }
        &.selected-row-chart {
          background: rgba(118, 230, 118, 0.9) !important;
          border: 1px solid #E3E3E3;
        }
        &.header-border {
          border: 1px solid #FFF;
          border-top: none;
        }
        &.rigth-border {
          border-right: 1px solid #E3E3E3;
        }
        &.left-border {
          border-left: 1px solid #E3E3E3;
        }
        &.summary-header-highlight-row {
          background: #eaf7cf; /* #d3f394  #DBF7DB */
          border: 1px solid #f5f5c9;
          border-top: 5px solid #25C925;
          .expand-collaspe-icon {
            cursor: pointer;
          }
          .row-header {
            font-size: 14px;
            font-weight: bold;
            padding-left: 10px;
          }
        }
        &.summary-sub-header-highlight-row {
          background: #bac9f2;
          border: 1px solid #f5f5c9;
          border-top: 5px solid #6d92f6;
          .expand-collaspe-icon {
            cursor: pointer;
          }
          .row-header {
            font-size: 14px;
            font-weight: bold;
            padding-left: 5px;
          }
        }
        &.highlight-row {
          background: #d0f5d0;
        }
        &.light-small-text {
          color: #A0A0A0;
          font-size: 11px;
        }
        &.row-seperator {
          background: #fff;
          border-right: 1px solid #fff;
          border-left: 1px solid #fff;
          height: 10px;
          border-top: none;
          border-bottom: none;
        }
        &.reg-user-ytd {
          background: #90EE90;
        }
        &.reg-user-kpi {
          background: #f6f6ee;
        }
        &.total-target-kpi {
          background: #cdcda1;
        }
        &.row-with-top-border {
          border-top: 5px solid #25C925;
        }
        &.total-reg-users {
          background: #cdcda1;
        }
        &.total-row-normal {
          background: #d2d2cf;
        }
        &.total-row-reg-user-ytd {
          background: #c3dec3;
        }
        &.total-row-total-target-kpi {
          background: #bebea6;
        }
        &.total-row-normal-bottom-border {
          background: #d2d2cf;
          border-bottom: 5px solid #ffffff;
        }
        &.total-row-reg-user-ytd-bottom-border {
          background: #c3dec3;
          border-bottom: 5px solid #ffffff;
        }
        &.total-row-total-target-kpi-bottom-border {
          background: #bebea6;
          border-bottom: 5px solid #ffffff;
        }
      }
    }

    select {
      width: 98%;
      border: solid 1px #ccc;
    }

    select.small-drop-down {
      width: 90%;
    }
    a {
      color: #337AB7;
    }
  }
  .colTableLeft {
    width: 47%;
    float: left;
  }
  .colTableRight {
    width: 47%;
    float: right;
  }
}

.border {
  border: 2px solid #009530;
  //padding: 10px;
  //border-radius: 10px;
}

.app-container {
  min-height: 70vh;
}

.version-buttons {
  margin-bottom: 10px;
}

.impNote {
  font-family: Arial;
  font-weight: normal;
  color: #888;
  font-size: 11px;
}

.imp-note-black {
  font-family: Arial;
  font-weight: normal;
  font-size: 11px;
}

legend {
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
  margin-bottom: 0;
  padding: 0 2px;
  width: auto;
}

.chart-container {
  width: 100%;
  height: 300px;
  position: relative;
  .chart-loder {
    position: absolute;
    left: 50%;
    top: 46%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    height: 100px;
  }
}

.chart-container-long {
  width: 100%;
  height: 900px;
  position: relative;
  .chart-loder {
    position: absolute;
    left: 50%;
    top: 48%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    height: 100px;
  }
}

.gridContainer {
  min-height: 99px;
}

.seprate {
  border-right: solid 2px #C2C2C2;
}

.paddingLft20 {
  padding-left: 20px;
}

.paddingRght20 {
  padding-right: 20px;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.column {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

// Overwriting Bootstrap

.pagination {
  margin: 10px 0 0;
  padding: 0;
  > li {
    > a {
      padding: 3px 10px;
      border-radius: 0;
      color: #888;
    }

  }
  .active {
    > a:focus, > a {
      border-color: #bcbcbc !important;
      background-color: #bcbcbc !important;
    }
  }

}

.pagination:last-child {
  margin: 0;
}

.pagination-fixed-width {
  width: 100px;
  text-align: center;
}

.app-content {
  /*  position: relative;
    width: 100%;
    top: 11vh;
    height: auto;*/
}

.chart-type-conatiner {
  margin: 0 auto;
  width: 215px;
  display: block;
  height: 19px;
  > li {
    float: left;
    margin-right: 1px;
    list-style: none;
    > a {
      display: block;
      padding: 1px 0;
      background: #f4f5f4;
      color: #000;
      text-decoration: none;
      cursor: pointer;
      width: 56px;
      text-align: center;
      font-size: 12px;
    }
  }
  .selected-chart {
    color: #fff;
    background: #888;
  }
}

.chart-with-pie {
  width: 250px;
}

.country-dialog-header {
  margin-bottom: 6px;
  margin-top: -8px;
}

.ui-grid-cell-contents {
  font-size: 12px;
}

.country-dialog-container {
  .auto-height {
    height: auto !important;
  }
}

.disable-link {
  font-family: @font1-family;
  font-weight: normal;
  padding: 0 5px;
  color: #555;
  opacity: 0.7;
}

.table-responsive {
  margin-bottom: 5px;
}

.table {
  margin-bottom: 0;
}

.up-arrow:before {
  color: #27D704;
}

.down-arrow:before {
  color: #FA2626;
}

.summary-date-range-container {
  margin-bottom: 5px;
  min-height: .01%;
  overflow-x: auto;
  .label-txt {
    margin-right: 10px;
  }
  .date-radio {
    margin-left: 5px;
    margin-right: 10px;

    .input-container {
      vertical-align: middle;
    }
  }

}

.target-achive-container {
  width: 125px;
  .percent-container {
    text-align: center;
    width: 44px;
    height: 44px;
    margin-right: 8px;
  }
  .text-container {
    padding-top: 6px;
  }
  .font-bold {
    font-weight: bold;
  }
  .percent-up-box {
    background: #E8F9C5;
    padding: 2px 0px;
    box-shadow: 1px 1px 1px #333;

  }
  .percent-down-box {
    background: #F9D8E7;
    padding: 2px 0px;
    box-shadow: 1px 1px 1px #333;
  }
  .percent-blank-box {
    background: #EFEFEF;
    padding: 2px 0px;
    box-shadow: 1px 1px 1px #333;
  }
}

.grid {
  width: 100%;
}

.ui-grid-render-container-body > div.padding-bttm {
  padding-bottom: 10px;
}

.form-horizontal {
  .control-label {
    text-align: left;
  }
  .btn {
    padding: 3px 15px;
  }
  .btn-browse {
    float: right;
    margin: -1px 0 0;
    padding: 3px 0;
    text-align: center;
    width: 26%;
  }
  .file-upload {
    position: relative;
    overflow: hidden;
    input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
  .upload-text {
    width: 72%;
    padding: 0 0 0 10px;
    height: 27px;
  }
  .glyphicon-download-alt {
    color: #333;
    width: 16px;
    cursor: pointer;
  }
  .glyphicon-download-txt {
    cursor: pointer;
  }
  .glyphicon-folder-open {
    margin-right: 4px;
  }
}

.error-page {
  margin: 15px auto 0 auto;
  width: 25%;
  background-color: #efefef;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 3px 5px 3px #c0c0c0;
  -moz-box-shadow: 3px 5px 3px #c0c0c0;
  -webkit-box-shadow: 3px 5px 3px #c0c0c0;
  -o-box-shadow: 3px 5px 3px #c0c0c0;
  .user-greeting-text {
    font-weight: bold;
  }
  .error-content {
    margin: 5px 0 0 0;
  }
}

.data-update-note {
  color: #058DC7;
  font-weight: bold;
  font-size: 14px;
}

.tracepart-chart-container {
  height: 480px;
  background-color: #555;
  padding: 10px;
  box-shadow: 1px 4px 4px #999;
  border-radius: 4px;
}

.tracepart-chart-container:hover {
  box-shadow: 0 4px 20px #666;
}

@media all and (max-width: 767px) {
  .nav-xs-default .headerTxt,
  .nav-xs-default .nav-menu-small,
  .nav-xs-default button {
    display: block;
  }

  .headerTxt {
    font-family: @font7-family;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 49px;
    padding: 0 22px;
  }

  .rowTable {
    > div {
      float: left;
      padding-left: 0;
      padding-right: 0;
    }

  }

  .headerContainer {
    .logo {
      color: #fff;
    }
  }

  .containerArea {
    .rowTable {
      margin: 10px 0 0;
      overflow: auto;
    }
    .my-table {
      select.small-drop-down {
        width: 78%;
      }
    }
  }

  .footer {
    .pull-right {
      float: left !important;
    }
  }

  .no-padding-left, .no-padding-right {
    padding: 0;
  }

  .column {
    margin-bottom: 0;
    padding-bottom: 10px;
  }

  .seprate {
    border: none;
  }

  .no-of-countries {
    width: 100%;
  }

  .project-name-width {
    min-width: 190px;
  }

  .project-summary-col {
    min-width: 120px;
  }

  .error-page {
    width: 90%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .seprate {
    border-right: none;
  }

  .rowTable {
    > div {
      float: left;
      padding-left: 0px;
      padding-right: 0px;
    }

  }

  .project-name-width {
    min-width: 190px;
  }

  .project-summary-col {
    min-width: 120px;
  }

  .ui-grid-render-container-body > div.padding-bttm {
    padding-bottom: 0;
  }

  .error-page {
    width: 41%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .project-name-width {
    min-width: 190px;
  }

  .project-summary-col {
    min-width: 120px;
  }

  .ui-grid-render-container-body > div.padding-bttm {
    padding-bottom: 0;
  }

  .error-page {
    width: 41%;
  }
}

/** new styles **/
.traceparts-navbar {
  border: 1px solid #ccc;
  border-radius: 4px;
  .section {
    width: 50%;
    float: left;
  }
  .header {
    cursor: pointer;
    &.active {
      background-color: #bcbcbc;
    }
    .title {
      font-weight: 400;
      font-size: 18px;
    }
    &.active > .title {
      color: #fff;
    }
  }
}

.traceparts-divider {
  height: 30px;
  margin-bottom: 10px;
  hr.traceparts-divider-line {
    position: relative;
    top: 1.3vh;
    border: 1px solid #090;
  }
  .traceparts-divider-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #090;
    background: white;
    text-transform: uppercase;
    z-index: 999;
    position: absolute;
    &.summary {
      left: 44%;
      width: 140px;
    }
    &.trend {
      left: 40%;
      width: 280px;
    }
    padding: 0 10px;
  }
}

.traceparts-year-button {
  width: 120px;
  margin: 0 2px;
  &:hover, &.active {
    box-shadow: 0 0 10px blue;
  }
}

.traceparts-totals {
  margin-top: 10px;
  box-shadow: 0 0 10px #999;
  padding: 0 10px;
  border-radius: 4px;
  text-align: center;
}

.traceparts-summary-graph-header {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #090;
}

.traceparts-summary-graph-container {
  border: 1px solid #999;
  padding: 2px;
  height: 48vh;
  border-radius: 4px;
  .no-data-label {
    position: relative;
    top: 40%;
    text-align: center;
    color: #e00;
  }
}

.treemap-tooltip {
  background-color: #666;
  color: #fff;
  height: 40px;
  padding: 10px;
  box-shadow: 0 2px 4px #ccc;
  border-radius: 10px;
}

.traceparts-country-button {
  margin: 0 4px;
  box-shadow: 0 0 4px #999;
  width: 50px;
  font-weight: 600;
}

.traceparts-row {
  margin-top: 10px;
}

.nav-menu:hover > .nav-menu-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.nav-menu-container {
  display: none;
  position: absolute;
  top: inherit;
  z-index: 9999;
  color: white;
  background-color: #138625;
  box-shadow: 0 0 20px teal;
  width: 30vw;

  .nav-menu-item {
    box-sizing: border-box;
    padding: 4px 20px 0 30px;
    line-height: 30px !important;
    cursor: pointer;
    transition: all 0.5s;
    width: 50%;
    box-shadow: 0 2px 1px #a7eda7;
    letter-spacing: 1px;
    &.full {
      width: 100%;
    }
  }
  .nav-menu-item:last-child {
    border-bottom: none;
  }
  .nav-menu-item:hover {
    background-color: #a7eda7;
    color: #666;
    font-weight: bold;
    box-shadow: 0 4px 8px #138625;
  }
}

.no-data-message {
  position: relative;
  top: 10vh;
  display: block;
}

.confirm-title {
  font-size: 20px;
  font-weight: 600;
  color: maroon;
  margin-bottom: 10px;
}

thead {
  background-color: #3DCD58;
  color: #f9f9f9;
}

.hidden {
  display: none;
  transition: all 0.5s;
}

.home-container-main {
  padding: 0;
  margin: 0;
}

.md-select-menu-container.dropDown {
  top: -10px !important;
}
.se-bottom-properties {
  margin-top: 20px;
}
