/**
  Created on : Feb 3, 2017, 8:57:22 AM
  Author     : SESA431390
*/
#header-country-selector {
  display: none;
}
.legend-container{
  padding-top: 14px;
  padding-left: 24px;
  .legend {
    list-style: none;
    li {
      float: left;
      margin-right: 10px;
    }
    span {
      float: left;
      width: 20px;
      height: 10px;
      margin-top: 5px;
      margin-right: 5px;
    }
    .new-user {
      background: url(../images/blue-legend.png) center center no-repeat;
    }
    .active-user {
      background: url(../images/red-legend.png) center center no-repeat;
    }
  }
}
.new-users-header{
  float:left;
}
.new-users-tip{
  float:left;
  margin-left:10px;
}
.new-user-text{
  color: #333333;
}
.bi-select-app-dropdown {
  height: 60vh;
  overflow-y: auto;
}
.bi-white {
  color: #fff!important;
}

.bi-modal-data {
  border-radius: 10px 10px 0 0;
  max-height: 80vh!important;
  overflow-y: auto;
}
.bi-container {
  background-color: #fff;
  padding-top: 10vh;
  .bi-progress {
    border-radius: 30px;
    .progress {
      height: 8px !important;
      margin: 20px 0;
      padding: 0;
    }
  }
  .bi-app-dropdown {
    margin-top: 8px;
    font-weight: 600;
    cursor: pointer;
    min-width: 10vw;
    >.apps-list {
      max-height: 400px;
      overflow-y: auto;
      .list-item {
        padding: 4px;
        &:hover {
          background-color: #e2e2e2;
        }
      }
    }
    .selected-item {
      width: inherit!important;
      border-bottom: 3px solid #999;
      height: 32px;
      font-family: ArialRounded;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
    }
    >.dropdown-menu {
      margin-top: 0px;
    }
  }
  .layout-row.bi-section-row {
    line-height: 30px!important;
    margin-top: 20px;
  }
  .bi-section-with-note{
    margin-top: 12px !important;
  }
  .bi-notes-row{
    color: #ff0000;
  }
  .bi-notes-row-app-note{
    margin-top: 8px;
  }
  .bi-bottom {
    border-bottom: 1px solid #a3a3a3;
    padding: 10px 0;
    margin-left:8px;
    margin-right: 24px;
    &.dotted {
      border-bottom: 1px dotted #a3a3a3;
    }
  }
  .bi-top {
    border-top: 1px solid #a3a3a3;
    /*margin-top: 10px;*/
  }
  .md-fab {
    &.fab-btn-green {
      background-color: #138625 !important;
    }
  }
  .bi-preloader {
    padding: 20% 30%;
    background: url(../images/ajax_loader_small.gif) center center no-repeat;
  }
  .bi-data-list {
    height: 60vh !important;
    overflow-y: auto;
  }
  .bi-treemap-tooltip {
    background-color: #f9f9f9!important;
    padding: 10px;
    box-shadow: 0 0 10px #333;
    font-weight: 600;
    text-align: center;
    border-radius: 4px;
  }
  .bi-projects-table {
    margin-bottom: 5vh;
    .tr {
      line-height: 26px !important;
    }
    .header {
      margin-bottom: 10px;
    }
  }
  .bi-btn-active {
    padding-top: 4px;
    border-bottom: 2px solid #0000ff;
  }
  .bi-link {
    box-sizing: border-box;
    line-height: 40px;
    padding: 4px 10px;
    cursor: pointer;
    &.bi-link-active {
      font-weight: 600;
      border-bottom: 3px groove #999;
    }
  }
  .bi-section-title {
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .bi-column-title {
    font-size: 14px;
    font-weight: 600;
    color: #88e097;
    &.top20 {
      position: relative;
      top: 20px;
    }
    &.top10 {
      position: relative;
      top: 10px;
    }
    &.bi-new-user-cell {
      padding: 8px 0;
      &.center{
        text-align: center;
      }
    }
  }
  .bi-treemap-tooltip {
    background-color: #666;
    color: #fff;
    height: 40px;
    padding: 10px;
    box-shadow: 0 2px 4px #ccc;
    border-radius: 10px;
  }
  .bi-top-nav {
    clear: both;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 2px 2px #999;
    font-weight: 400;
    .bi-notes-nav {
      margin-top: 25px;
      height: 70px;
      bottom: 10px;
      background-color: #4A4A4A;
      color: #fff;
      padding: 10px 0;
    }
    .bi-nav-row {
      line-height: 30px;
    }
    font-weight: 400;
    text-align: center;
    .bi-bold {
      font-weight: 600;
    }
  }
  .bi-chart-bg {
    clear: both;
    height: auto;
    margin: 2vh 0 0;
    //padding: 1vh 0 0;
    &.bi-shaded {
      background-color: #eee;
    }
    .bi-treemap-tooltip {
      box-shadow: 0 2px 4px #666;
      color: #f9f9f9;
      background-color: #666;
    }
  }
  .bi-export-data-btn {
    width: 133px;
    height: 36px;
    border-radius: 2px;
    background-color: #3dcd58;
  }
  .bi-daily-weekly-monthly {
    position: relative;
    left: 515px;
    width: 410px;
    height: 14px;
    font-family: ArialRounded;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom: 2vh;
  }
  .bi-guide {
    /*max-width: 300px;*/
    max-height: 400px;
    overflow-wrap: normal;
    overflow-y: auto;
    .text {
      font-size: 14px;
      text-decoration: underline;
      cursor: pointer;
      margin-bottom: 4px;
    }
    .info {
      display: none;
      width: 470px;
      font-size: 14px;
      text-align: left;
      color: #333;
      padding: 10px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: #f9f9f9;
      box-shadow: 0 2px 12px #666;
      position: absolute;
      z-index: 999;
      transition: all 1s;
      .title {
        font-weight: 600;
        font-size: 14px;
      }
      .formula {
        margin: 10px 0;
        font-family: monospace;
        font-size: 12px;
      }
      .progress-color-font {
        padding: 0 10px;
        font-weight: 400;
        width: 60px;
        color: #f9f9f9;
      }
    }
    &:hover > .info {
      display: block;
    }
  }

  .bi-chart-container {
    width: 930px;
    margin: 0 auto;
    padding: 10px;
    .bi-chart-title {
      height: 30px;
      width: 15vw;
      margin-right: 5px;
      font-family: ArialRounded;
      font-size: 17px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 30px;
      letter-spacing: normal;
      color: #505559;
    }
    a.bi-more-stats-link {
      color: #666;
      font-weight: 600;
      font-style: italic;
      border-bottom: 2px solid #666;
    }
    .bi-country-map-title {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
    }
    .bi-apps {
      margin-bottom: 30px;
    }
    .bi-tab {
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      color: #666;
      padding: 0 10px!important;
      text-align: center;
      text-transform: uppercase;
      outline: 0 none;
      &.active {
        border-bottom: 2px solid #FF4081;
      }
    }
    .bi-formula-used {
      margin-top: 10px;
    }
    .bi-chart {
      padding: 10px 0 0;
      height: inherit;
      width: 100%;
      margin-bottom: 20px;
      .bi-loader {
        margin-top: 5vh;
        line-height: 10vh;
      }
    }
    md-toolbar.bi-toolbar {
      background-color: #3DCD58 !important;
    }
    .bi-show-table-btn {
      position: relative;
      top: 10px;
     /* width: 101.4px;*/
      height: 15px;
      font-family: ArialRounded;
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #42b4e6;
      cursor: pointer;
    }
    .bi-page-title {
      font-size: 20px;
    }
    .exec-summary-text{
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 18px;
    }
  }
  .bi-show-notes-btn-nav {
    background-color: #F6F6F6;
    position: relative;
    top: 3vh;
    .bi-show-notes-btn {
      outline: 0 none;
      width: 30px;
      text-align: center;
      background-color: #4A4A4A;
      color: #fff;
    }
  }
  .bi-top-label {
    height: 16px;
    font-family: ArialRounded;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .bi-select-year {
    background-color: inherit;
    padding: 0 10px 4px;
    /* width: 70px; */
    border: none;
    border-bottom: 3px solid #999;
    cursor: pointer;
  }
  .bi-value {
    width: 68px !important;
    height: 23px;
    font-family: ArialRounded;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  .bi-exec-value {
    height: 23px;
    font-family: ArialRounded;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom: 4px;
  }
  .bi-exec-dces-value{
    font-size: 14px;
  }
  .bi-non-exec-nav{
    height: 50px !important;
  }
  .bi-year-dropdown{
    padding: 10px 0 10px 0;
  }
  .bi-year {
    width: 47px;
    color: #000000;
    font-family: ArialRounded;
    font-size: 17px;
    font-weight: bold;
  }
  .bi-summary-nav {
    position: relative;
    /*top: 3vh;*/
    height: 260px;
    background-color: #F6F6F6;
    margin-bottom: 10px;
    .bi-new-year-registration {
      /*width: 216px;*/
      width: 155px;
      height: 75px;
      color: #505559;
      font-family: ArialRounded;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 5px;
      padding-right: 16px;
    }
    .bi-total-registrations {
      .bi-top-label();
      color: #39393a;
    }
  }
  .bi-project-row {
    line-height: 48px;
    border-bottom: 1px solid #cfcfcf;
  }
  .right-breaker {
    margin-right: 24px;
  }
  .bi-scroll-btn {
    border-radius: 50%;
    height: 40px !important;
    width: 40px !important;
    text-align: center;
    position: fixed;
    right: 10%;
    bottom: 0;
  }
}

.bi-feedback-container {
  width: 400px;
  margin: -60px auto 10vh;
  padding: 10px 0;
  text-align: center;
  .text {
    margin: 20px 0;
  }
  .bi-feedback-top {
    width: 100%;
    margin: 20px auto;
    border-top: 3px groove #ccc;
  }
  .bi-like-btn {
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
  }
  .bi-feedback {
    text-align: left;
    width: 400px;
    resize: none;
  }
}

//.md-dialog-container {
//  position: fixed !important;
//  z-index: 9999 !important;
//  top: 1vh !important;
//  min-width: 40vw;
//}
//
//.md-dialog {
//  min-height: 40vh !important;
//  max-height: 60vh !important;
//  overflow-y: auto !important;
//}

.info-right {
  float: right;
}

.info-row {
  width: 330px !important;
  font-weight: normal !important;
  line-height: 20px !important;
}
.by-app-info {
  font-weight: normal !important;
  line-height: 20px !important;
  &.active-users{
    width: 200px !important;
    margin-top:20px;
  }
}
.bom-chart{
  padding-bottom: 30px !important;
}
.bom-chart-container{
  margin-top: 20px;
}
.medium-border{
  border-top-width: 2px;
}
.bi-chart-bg{
  .country-chart{
    .bi-chart-title{
      margin-right: -20px;
    }
  }
}
.app-year{
  margin-top: 8px;
}
.ga-container{
  padding-top: 3vh !important;
  .ga-title-section{
    margin-bottom: 13px;
  }
  .ga-title-text{
    font-size: 20px !important;
  }
}
.bi-app-country-text{
  margin-top: 16px;
}
.bi-app-country-header{
  height: 30px;
}
.bi-app-filters{
  margin-right: 32px;
}
.bi-app-filter-text {
  color: #505559;
  padding: 0 2px;
  text-align: right;
  float: right;
}
.show-more-less{
  margin-top: 10px;
}
.country-target-title{
  width: 192px !important;
  float: left;
}
.country-target-tip{
  float: left;
}
