/*
Name: Variables
Description: Contains the LESS variables used throughout the application.
*/

/* General
----------------*/

@imagePath: "../images";

/* Screen/Device Formatting
----------------------------*/

@device-md-min: 768px;
@device-lg-min: 970px;



// This is the width at which the site switches to "tablet" mode.
@device-md-lg-switch: 1190px;

@canvas-width: 601px;
@canvas-height: 356px;

/* Colours
---------------*/

@white1: #FFF;
@black: #000;

//All the shades of Red
@red1: #E03940;
@red2: #E14F52;
@red3: #CD9EA0;
@red4: #DFC9C9;
@red5: #F1B0B1;
@red6: #B7797E;

//All the shades of slate
@slate1: #A8A3AD;
@slate2: #D3D3D3;

//All the shades of grey
@grey1: #3A3A39;
@grey2: #393939;
@grey3: #414141;
@grey4: #828282;
@grey5: #BEBEBE;
@grey6: #F0F0F0;
@grey7: #393939;
@grey8: #BFBEBD;
@grey9 : #DEDEDE;



//All the shades of purple
@purple1: #4F2F92;
@purple2: #856f98;
@purple3: #9987A8;
@purple4: #C1B4C9;
@purple5: #D8CFDF;
@purple6: #EBE7EF;

/* Fonts
--------------*/

@font1-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font2-family: "HelveticaNeueW01-47LtCn 692686", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font3-family: "HelveticaNeueW01-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font4-family: "HelveticaNeueW01-57Cn", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font5-family: "HelveticaNeueW01-75Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font6-family: "HelveticaNeueW01-77BdCn 692722", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font7-family: "HelveticaNeueW01-67MdCn 692710", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font8-family: "HelveticaNeueW01-65Medi", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font9-family: "HelveticaNeueW01-46Ligh", "Helvetica Neue", Helvetica, Arial, sans-serif;


@font1-size: 1em * 0.6;
@font2-size: 1em * 0.8;
@font3-size: 1em;
@font4-size: 1em * 1.2;
@font5-size: 1em * 1.4;
@font6-size: 1em * 1.6;
@font7-size: 1em * 1.8;
@font8-size: 1em * 2.0;
@font9-size: 1em * 2.2;
@font10-size: 1em * 2.4;

/* Bootstrap Variable Overrides
--------------------------------*/
// Grid System
@grid-gutter-width: 1px;
@col-spacing-bottom: 1px;
@col-spacing-top: 1px;

// Tabs
@nav-tabs-border-color: @red2;
@nav-tabs-active-link-hover-bg: @red2;
@nav-tabs-active-link-hover-border-color: @red2;
@nav-tabs-active-link-hover-color: @white1;

// Sidebar
@sidebar-width:19.5%;
@main-panel-width: 79.700%;
