<div id="myPactMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Ecoreal Quick Quotation 630A </legend>
      <div class="globalFont font-bold" style="text-align: center;">
        <a href="#/byapps/ecoreal-qq">Please visit new dashboard page for Ecoreal QQ</a>
      </div>
    </fieldset>
  </form>
</div>
