<div id="myPactMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Global Meter App </legend>
      <div class="globalFont font-bold" style="text-align: center;">
        <a href="#/byapps/global-meter">Please visit new dashboard page for Global Meter App</a>
      </div>
    </fieldset>
  </form>
</div>
