<div id="myPactMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Ecodial Desktop </legend>
      <div class="globalFont font-bold" style="text-align: center;">
        <a href="#/byapps/eco-dial-desktop">Please visit new dashboard page for Ecodial Desktop</a>
      </div>
    </fieldset>
  </form>
</div>
