<div id="closedLoopMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Closed Loop </legend>
      <!-- Table -->
      <div class="colTable" >
        <table class="table table-condensed ">
          <tr>
            <th colspan="2" class="my-td bold">
              No. of countries deployed: 3 ( France, Sweden, Australia)
            </th>
          </tr>
          <tr>
            <td class="my-td bold alignCenter" width="60%">
              Launched in
            </td>
            <td class="my-td alignCenter selected-column" width="40%">
              {{launchDate|date:"dd MMM yy"}}
            </td>
          </tr>
          <tr>
            <td class="my-td bold highlight-row"
                data-ng-class="getSelectedRowChartCSS('ChartNoOfInstallation')">
              No of installations (accumulated)
            </td>
            <td class="my-td link selected-column highlight-row"
                ng-click="onClosedLoopChartLinkChange('ChartNoOfInstallation')"
                data-ng-class="getSelectedRowChartCSS('ChartNoOfInstallation')">
              {{installationsNumber| number}}
            </td>
          </tr>
          <tr>
            <td class="my-td bold highlight-row">
              No. of registered users
            </td>
            <td class="my-td selected-column highlight-row">
              FR: 385, SWE: 14, AUS: 3
            </td>
          </tr>
          <tr>
            <td class="my-td bold"
                data-ng-class="getSelectedRowChartCSS('ChartActiveUser')">
              No. of unique active users  for  last 12 months
            </td>
            <td class="my-td link selected-column"
                ng-click="onClosedLoopChartLinkChange('ChartActiveUser')"
                data-ng-class="getSelectedRowChartCSS('ChartActiveUser')">
              {{uniqueActiveUsers| number}}
            </td>
          </tr>
          <tr>
            <td class="my-td bold">
              No of opportunities created
            </td>
            <td  class="my-td link selected-column"
                 ng-click="onClosedLoopChartLinkChange('ChartRegisteredOrders')"
                 data-ng-class="getSelectedRowChartCSS('ChartRegisteredOrders')">
              {{totalRegisteredOrders}}
            </td>
          </tr>
          <tr>
            <td class="my-td bold"
                data-ng-class="getSelectedRowChartCSS('ChartNoOfOpportunitiesAcceptedByElectrician')">
              No of opportunities accepted by electrician
            </td>
            <td class="my-td link selected-column"
                ng-click="onClosedLoopChartLinkChange('ChartNoOfOpportunitiesAcceptedByElectrician')"
                data-ng-class="getSelectedRowChartCSS('ChartNoOfOpportunitiesAcceptedByElectrician')">
              {{opportunitiesAcceptedByElectrician| number}}</td>
          </tr>
          <tr>
            <td class="my-td bold"
                data-ng-class="getSelectedRowChartCSS('ChartNoOfOpportunitiesWon')">
              No of opportunities won
            </td>
            <td class="my-td link selected-column"
                ng-click="onClosedLoopChartLinkChange('ChartNoOfOpportunitiesWon')"
                data-ng-class="getSelectedRowChartCSS('ChartNoOfOpportunitiesWon')">
              {{opportunitiesWon| number}}
            </td>
          </tr>
          <tr>
            <td class="my-td bold">
              Value of opportunities won
            </td>
            <td class="my-td selected-column">
              NA
            </td>
          </tr>
        </table>
      </div>
      <!-- Display Chart -->
      <div class="chartDiv">
        <div class="chart-info clear">
          <div class="globalFont textCenter chartOptionContainer">
            <div class="chartOptionContainerBox clear">
              <span class="footNoteSymbol" ng-class="{
                                        isfootNoteSymbolVisible: isfootNoteSymbolVisible === true
                                    }">&dagger;</span>
              <span>
                {{closedLoopChartLabel}} per:
              </span>
              <!--<span ng-hide="chartName === 'ChartRegisteredOrders'">-->
              <span>
                <a href="javascript:void(0)" ng-class="{
                                    'active'
                                            : selectedChartTab === 0}"
                   ng-click="onClosedLoopChartOptionChange($event, 0)">{{chartOptions[0]}}</a>
                |
                <a href="javascript:void(0);" ng-class="{
                                    'active'
                                            : selectedChartTab === 1}"
                   ng-click="onClosedLoopChartOptionChange($event, 1)">{{chartOptions[1]}}</a>
                |
              </span>
              <a href="javascript:void(0);" ng-class="{
                                    'active'
                                            : selectedChartTab === 2}"
                 ng-click="onClosedLoopChartOptionChange($event, 2)">{{chartOptions[2]}}</a>
              <br/>
              <span class="note">{{closedLoopChartToolTip}}</span>
            </div>
            <div class="foot-note" ng-if="isfootNoteSymbolVisible">
              <span class="footNoteSymbol isfootNoteSymbolVisible">
                &dagger;
              </span>
              {{noteActiveUser}}
            </div>
          </div>
        </div>
        <div class="clearboth"></div>
        <div  id="closedLoopChartContainer" class="chart-container">
          <div google-chart chart="chartSource" class="chart-container" on-ready="chartReady()" ng-show="loadDefaultChart"></div>
          <img class="chart-loder" ng-show="loadDefaultChart" src="images/ajax_loader_small.gif" alt="" ng-hide="loadDefaultChart"/>
        </div>
      </div>
    </fieldset>
  </form>
</div>