<div id="myPactMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Masterpact MTZ </legend>
      <div class="globalFont font-bold" style="text-align: center;">
        <a href="#/byapps/my-nova-buddy">Please visit new dashboard page for Masterpact MTZ</a>
      </div>
    </fieldset>
  </form>
</div>
