<div id="paceRegUserMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Registered User @Work (PACE) </legend>
      <!-- Table-->
      <div class="colTable" >
        <table class="my-table">
          <tr>
            <td class="my-td bold alignCenter alignCenter" width="33%">Year</td>
            <td class="my-td bold" width="33%">No. Of Registered user</td>
            <td class="my-td bold" width="33%">Cumulative</td>
          </tr>

          <tr data-ng-repeat="regUse in registeredUsersByYear">
            <td class="my-td alignCenter alignCenter link-no-underline bold" data-ng-click="changeChartType(CHART_TYPE_MONTH, regUse.year)">
              {{regUse.year}}
            </td>
            <td class="my-td">{{regUse.totalRegUsersAchieve| number:0}}</td>
            <td class="my-td">
              {{getCumulative($index) | number:0}}
            </td>
          </tr>

        </table>
      </div>
      <!-- Display Chart -->
      <div class="chartDiv">
        <div class="chart-info clear" data-ng-show="currentChartType === CHART_TYPE_MONTH">
          <div  class="chart-heading-container clear">
            <span class="chart-header">Data for the year of {{chartYear}}</span>
            <a href="javascript:void(0)" class="chert-button pull-right" ng-click="changeChartType(CHART_TYPE_YEAR)">Show chart for all years</a>
          </div>
        </div>

        <div class="clearboth"></div>

        <div id="blmPaceChartContainer" class="chart-container">
          <div google-chart chart="chartSource" class="chart-container" on-ready="chartReady()" ng-show="loadDefaultChart"></div>
          <img class="chart-loder" ng-show="loadDefaultChart" src="images/ajax_loader_small.gif" alt="" ng-hide="loadDefaultChart"/>
        </div>
      </div>
    </fieldset>
  </form>
</div>