<!doctype html>
<html class="no-js" ng-app="se-branding">
<head>
  <meta charset="utf-8">
  <!--<title ng-bind="metatags.title"></title>-->
  <title>DCES BI Dashboard</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ metatags.description}}">
  <meta name="keywords" content="{{ metatags.keywords}}">
  <meta name="application-name" content="{{ metatags.applicationname}}"/>
  <meta name="robots" content="{{ metatags.robots}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
  <link rel="stylesheet" href="bower_components/webui/dist/web-ui-component.css"/>
  <link rel="stylesheet" href="bower_components/seheader/se-header-component-all.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!--<link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet" type="text/css"/>-->
  <!--<link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet" type="text/css"/>-->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/app.css -->
  <link rel="stylesheet" href="styles/app.css"/>
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">

  <!-- endbuild -->

  <!-- build:html(.) scripts/**/*.html -->
  <!-- endbuild -->
  <!-- Google Analytics -->
  <script>
    window.ga = window.ga || function () {
        (ga.q = ga.q || []).push(arguments)
      };
    ga.l = +new Date;
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->
</head>
<body>
<div role="document" ng-controller="landingPage">
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
  <![endif]-->

  <div id="wrap">
    <!-- header starts -->

    <!--<se-header fluid="true">-->
    <!--<se-hdr-column column-count="10" column-count-extra-small="6" column-count-small="6">-->
    <!--<se-login onbefore-logout="onbeforeLogout" pull-right="true" side-drawer="true"></se-login>-->
    <!--</se-hdr-column>-->
    <!--</se-header>-->

    <se-header fluid="true" menus="app.mainMenuItems" header-logo='headerLogo' side-drawer="true">
    </se-header>
    <!-- header ends -->

    <!--<div class="app-content" style="outline: 2px solid blue;">-->
      <div ng-if="stateIsLoading">
        <div class="bi-container">
          <div class="bi-chart-container">
            <div class="bi-chart">
              <div class="bi-loader">Loading...<span class="bi-preloader"></span></div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="!stateIsLoading" ng-view></div>
    <!--</div>-->


    <!-- footer starts -->
    <se-footer footersociallinks="footerSocialLinks"
               footerlinks="footerLinks" mainfooterlinks="mainfooterlinks"
               ng-show="!altFooterShow" stick-bottom></se-footer>
    <!--footer ends-->

    <!--alternate footer starts-->
    <se-footer-alt config="footerconfig" footersociallinks="footerSocialLinks" mainfooterlinks="mainfooterlinks"
                   ng-show="altFooterShow" stick-bottom>
    </se-footer-alt>
    <!--alternate footer ends-->
  </div>

</div>
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/webui/dist/web-ui-component-all.js"></script>
<script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
<script src="bower_components/seheader/se-header-component-all.js"></script>
<script src="bower_components/moment/min/moment.min.js" type="text/javascript"></script>
<script src="bower_components/angular-moment/angular-moment.min.js" type="text/javascript"></script>
<script src="bower_components/ngDialog/js/ngDialog.min.js" type="text/javascript"></script>
<script src="bower_components/ngSmoothScroll/dist/angular-smooth-scroll.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/se-branding.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/se-ui.js"></script>
<script src="locales/translations.js"></script>

<!-- config / comon -->
<script src="scripts/config/appConstants.js" type="text/javascript"></script>
<script src="scripts/config/biConstants.js" type="text/javascript"></script>
<script src="scripts/comon/utils/commonUtilsModule.js" type="text/javascript"></script>
<script src="scripts/comon/utils/commonUtils.js" type="text/javascript"></script>
<script src="scripts/comon/utils/authUtils.js" type="text/javascript"></script>
<script src="scripts/comon/utils/logger.js" type="text/javascript"></script>
<script src="scripts/comon/utils/gaChartUtil.js" type="text/javascript"></script>
<script src="scripts/comon/utils/serverDataValidationUtils.js" type="text/javascript"></script>
<!-- END: config / comon -->

<!-- Models -->
<script src="scripts/model/dataModelModule.js" type="text/javascript"></script>
<script src="scripts/model/country.vo.js" type="text/javascript"></script>
<script src="scripts/model/quickRef.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/cbt.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/clipsalWishlist.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/myPact.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/ecorealQQ630.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/ecoreal630.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/easyQuote.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/blm.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/globalMeterApp.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/cadLibrary.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/rapsody.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/smartSelectors.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/berriSoft.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/ecoDialAutoCadPlugin.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/ecoDialChina.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/ecoDialDesktop.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/ecoreach.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/closedLoop.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/cccApp.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/mea.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/mes.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/ecorealmv.country.vo.js" type="text/javascript"></script>
<script src="scripts/model/myNovaBuddy.country.vo.js" type="text/javascript"></script>
<!-- END: Models" !-->

<!-- services -->
<script src="scripts/comon/services/paceService.js" type="text/javascript"></script>
<script src="scripts/comon/services/summaryDataService.js" type="text/javascript"></script>
<script src="scripts/comon/services/currencyConverterService.js" type="text/javascript"></script>
<script src="scripts/comon/services/nodeGAService.js" type="text/javascript"></script>
<script src="scripts/comon/services/fileUploadService.js" type="text/javascript"></script>
<script src="scripts/comon/services/businessReportService.js" type="text/javascript"></script>
<script src="scripts/comon/services/countriesService.js" type="text/javascript"></script>
<script src="scripts/comon/services/ecodialService.js" type="text/javascript"></script>
<script src="scripts/comon/services/mynovabuddyService.js" type="text/javascript"></script>
<script src="scripts/comon/services/closedLoopService.js" type="text/javascript"></script>
<script src="scripts/comon/services/wiseupService.js" type="text/javascript"></script>
<script src="scripts/comon/services/globalSummaryService.js" type="text/javascript"></script>
<script src="scripts/comon/services/appsDataService.js" type="text/javascript"></script>
<script src="scripts/comon/services/dataCacheService.js" type="text/javascript"></script>
<!-- END: services -->

<!-- controllers -->
<script src="scripts/controllers/summary.js" type="text/javascript"></script>
<script src="scripts/controllers/byapps.js" type="text/javascript"></script>
<script src="scripts/controllers/home.js" type="text/javascript"></script>
<script src="scripts/controllers/work.js" type="text/javascript"></script>
<script src="scripts/controllers/report.js" type="text/javascript"></script>
<script src="scripts/controllers/admin.js" type="text/javascript"></script>
<script src="scripts/controllers/others.js" type="text/javascript"></script>
<script src="scripts/controllers/cce.js" type="text/javascript"></script>
<!-- END: controllers -->

<!-- directives -->
<script src="scripts/directives/quickRef/quickRef.js" type="text/javascript"></script>
<script src="scripts/directives/ecorealQuickQuotation630/ecorealQuickQuotation630.js" type="text/javascript"></script>
<script src="scripts/directives/ecoreal630/ecoreal630.js" type="text/javascript"></script>
<script src="scripts/directives/myPact/myPact.js" type="text/javascript"></script>
<script src="scripts/directives/cbt/cbt.js" type="text/javascript"></script>
<script src="scripts/directives/blm/blm.js" type="text/javascript"></script>
<script src="scripts/directives/bim/bimGeneralDownload.js" type="text/javascript"></script>
<script src="scripts/directives/bim/bimViewDownload.js" type="text/javascript"></script>
<script src="scripts/directives/bim/bimUserDownload.js" type="text/javascript"></script>
<script src="scripts/directives/tracePartOnline/tracePartDownload.js" type="text/javascript"></script>
<script src="scripts/directives/easyQuote/easyQuote.js" type="text/javascript"></script>
<script src="scripts/directives/clipsalWishlist/clipsalWishlist.js" type="text/javascript"></script>
<script src="scripts/directives/globalMeterApp/globalMeterApp.js" type="text/javascript"></script>
<script src="scripts/directives/closedLoop/closedLoop.js" type="text/javascript"></script>
<script src="scripts/directives/mnm/mnmReport.js" type="text/javascript"></script>
<script src="scripts/directives/wiseup/wiseup.js" type="text/javascript"></script>
<script src="scripts/directives/cccApp/cccApp.js" type="text/javascript"></script>
<script src="scripts/directives/cadLibrary/cadLibrary.js" type="text/javascript"></script>
<script src="scripts/directives/summary/achiveTargetSummaryComponent.js" type="text/javascript"></script>
<script src="scripts/directives/summary/achiveSummaryComponent.js" type="text/javascript"></script>
<script src="scripts/directives/upload/uploadFileComponent.js" type="text/javascript"></script>
<script src="scripts/directives/loginMenu/loginMenu.js" type="text/javascript"></script>
<script src="scripts/directives/loginMenu/loginMenuMobile.js" type="text/javascript"></script>
<script src="scripts/directives/rapsody/rapsody.js" type="text/javascript"></script>
<script src="scripts/directives/smartSelectors/smartSelectors.js" type="text/javascript"></script>
<script src="scripts/directives/berriSoft/berriSoft.js" type="text/javascript"></script>
<script src="scripts/directives/ecoDialDesktop/ecoDialDesktop.js" type="text/javascript"></script>
<script src="scripts/directives/ecoDialChina/ecoDialChina.js" type="text/javascript"></script>
<script src="scripts/directives/ecoDialAutoCadPlugin/ecoDialAutoCadPlugin.js" type="text/javascript"></script>
<script src="scripts/directives/ecoReach/ecoReach.js" type="text/javascript"></script>
<script src="scripts/directives/ePlan/ePlanCompany.js" type="text/javascript"></script>
<script src="scripts/directives/ePlan/ePlanProductGroup.js" type="text/javascript"></script>
<script src="scripts/directives/pace/regUserAtWork.js" type="text/javascript"></script>
<script src="scripts/directives/pace/regUserAtHome.js" type="text/javascript"></script>
<script src="scripts/directives/mea/mea.js" type="text/javascript"></script>
<script src="scripts/directives/mes/mes.js" type="text/javascript"></script>
<script src="scripts/directives/ecorealmv/ecorealmv.js" type="text/javascript"></script>
<script src="scripts/directives/myNovaBuddy/myNovaBuddy.js" type="text/javascript"></script>
<script src="scripts/directives/dataLoaderDirective.js" type="text/javascript"></script>
<script src="scripts/directives/safeRepository/safeRepository.js" type="text/javascript"></script>
<!-- END: directives -->

<!-- filters -->
<script src="scripts/filters/appLinkFilter.js"></script>
<!-- END: filters -->

<!-- endbuild -->
</body>
</html>
