<div id="myPactMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Ecoreal 630 </legend>
      <div class="globalFont font-bold" style="text-align: center;">
        <a href="#/byapps/ecoreal-630">Please visit new dashboard page for Ecoreal 630</a>
      </div>
    </fieldset>
  </form>
</div>
