<div id="quicRefMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Customer Care Center APP.</legend>
      <!-- Table -->
      <div class="colTable" >
        <table class="my-table">
          <tr>
            <th colspan="3" class="my-td bold">No. of countries deployed: {{countries.length}}</th>
          </tr>
          <tr>
            <td class="my-td bold" width="50%">&nbsp;</td>
            <td class="my-td bold selected-column" width="25%">
              <select ng-model="selectedCountry" ng-class="globalFont"
                      ng-options="country.countryName for country in countries"
                      ng-change="onCountryDropDownChange()">
              </select>
            </td>
            <td class="my-td bold" width="25%">Total - Worldwide</td>
          </tr>
          <tr>
            <td class="my-td bold alignCenter">Launched in</td>
            <td class="my-td alignCenter selected-column">{{launchDate|date:"dd MMM yy"}}</td>
            <td class="my-td">&nbsp;</td>
          </tr>
          <tr>
            <td class="my-td bold highlight-row">No. of registered users</td>
            <td class="my-td highlight-row">-</td>
            <td class="my-td selected-column"
                id="regUsers">
              {{paceDataRegUser.cccAppCumulative| number}}
              <span class="noteSymbol">*</span>
            </td>
          </tr>
          <tr>
            <td class="my-td bold">No. of unique active users for last 12 months</td>
            <td class="my-td selected-column"
                id="uniqueActiveUsers"
                ng-click="disableUniqueActiveUsers || onCCCAppChartLinkChange('ChartActiveUser')">
              {{uniqueActiveUsers| number}}
            </td>
            <td class="my-td">&nbsp;</td>
          </tr>
          <tr>
            <td class="my-td bold">No. of unique active users per day</td>
            <td class="my-td selected-column">
              ~{{( uniqueActiveUsers / cccAppLaunchDays)|  number:0}}
            </td>
            <td class="my-td">&nbsp;</td>
          </tr>
          <tr>
            <td class="my-td bold" >No. user sessions for last 12 months</td>
            <td class="my-td selected-column"
                id="userSessions"
                ng-click="disableConfLaunched || onCCCAppChartLinkChange('ChartUserSessions')">
              {{userSessions| number}}
            </td>
            <td class="my-td">&nbsp;</td>
          </tr>
        </table>
        <div>
          <small class="impNote">
            <span>
              <sup class="font-color-red">*</sup>
            </span>
            Individual data is not available for countries.
          </small>
        </div>
      </div>
      <!-- Display Chart -->
      <div class="chartDiv">
        <div class="chart-info clear">
          <div class="globalFont textCenter chartOptionContainer">
            <div class="chartOptionContainerBox clear">
              <span class="footNoteSymbol" ng-class="{
                                isfootNoteSymbolVisible: isfootNoteSymbolVisible === true
                                }">&dagger;</span>
              <span>
                {{cccAppChartLabel}} per :
              </span>

              <a href="javascript:void(0)" ng-class="{
                                'active'
                                        : selectedChartTab === 0}"
                 ng-click="onCCCAppChartOptionChange($event, 0)">{{chartOptions[0]}}</a>
              |
              <a href="javascript:void(0);" ng-class="{
                                'active'
                                        : selectedChartTab === 1}"
                 ng-click="onCCCAppChartOptionChange($event, 1)">{{chartOptions[1]}}</a>
              |
              <a href="javascript:void(0);" ng-class="{
                                'active'
                                        : selectedChartTab === 2}"
                 ng-click="onCCCAppChartOptionChange($event, 2)">{{chartOptions[2]}}</a>
              <br/>
              <span class="note">{{cccAppChartToolTip}}</span>
            </div>
            <div class="foot-note" ng-if="isfootNoteSymbolVisible">
              <span class="footNoteSymbol isfootNoteSymbolVisible" >
                &dagger;
              </span>
              {{noteActiveUser}}
            </div>
          </div>
        </div>

        <div class="clearboth"></div>
        <div  id="qurckQuotation630GAChartContainer" class="chart-container" ng-show="isGAChartVisible">
          <div google-chart chart="chartSource" class="chart-container" on-ready="chartReady()" ng-show="loadDefaultChart"></div>
          <img class="chart-loder" ng-show="loadDefaultChart" src="images/ajax_loader_small.gif" alt="" ng-hide="loadDefaultChart"/>
        </div>
        <div id="qurckQuotation630PaceChartContainer" class="chart-container" ng-show="isPaceChartVisible">
          <div google-chart chart="paceChartSource"  class="chart-container" on-ready="chartReady()" ></div>
        </div>

      </div>
    </fieldset>
  </form>
</div>