<div id="rapsodyMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Rapsody </legend>
      <!-- Table -->
      <div class="colTable" >
        <table class="my-table">
          <tr>
            <th colspan="2" class="my-td bold">No. of countries deployed: 1</th>
          </tr>
          <tr>
            <td class="my-td bold alignCenter" width="60%">Launched in</td>
            <td class="my-td alignCenter selected-column" width="40%"> {{launchDate|date:"dd MMM yy"}} <span class="noteSymbol">*</span></td>
          </tr>
          <tr>
            <td class="my-td bold highlight-row">No. of registered users</td>
            <td class="my-td selected-column link highlight-row" ng-click="onRapsodyChartLinkChange('ChartRegisteredUsers')">{{paceDataRegUser.rapsodyUsersReg| number}}</td>
          </tr>
        </table>
        <div>
          <small class="impNote">
            <span>
              <sup class="font-color-red">*</sup>
            </span>
            The launch date as per registered users logged into PACE.
          </small>
        </div>
      </div>
      <!-- Display Chart -->
      <div class="chartDiv">
        <div class="chart-info clear">
          <div class="globalFont textCenter chartOptionContainer">
            <div class="chartOptionContainerBox clear">
              <span class="footNoteSymbol"
                    ng-class="{isfootNoteSymbolVisible: isfootNoteSymbolVisible === true}">&dagger;</span>
              <span>
                {{rapsodyChartLabel}} per:
              </span>
              <a href="javascript:void(0)" ng-class="{'active': selectedChartTab === 0}"
                 ng-click="onRapsodyChartOptionChange($event, 0)">{{chartOptions[0]}}</a>
              |
              <a href="javascript:void(0);" ng-class="{'active': selectedChartTab === 1}"
                 ng-click="onRapsodyChartOptionChange($event, 1)">{{chartOptions[1]}}</a>
              |
              <a href="javascript:void(0);" ng-class="{'active': selectedChartTab === 2}"
                 ng-click="onRapsodyChartOptionChange($event, 2)">{{chartOptions[2]}}</a>
              <br/>
              <span class="note">{{rapsodyChartToolTip}}</span>
            </div>
            <div class="foot-note" ng-if="isfootNoteSymbolVisible">
              <span class="footNoteSymbol isfootNoteSymbolVisible">
                &dagger;
              </span>
              {{noteActiveUser}}
            </div>
          </div>
        </div>
        <div class="clearboth"></div>
        <div id="rapsodyPaceChartContainer" class="chart-container">
          <div google-chart chart="chartSource" class="chart-container" on-ready="chartReady()" ng-show="loadDefaultChart"></div>
          <img class="chart-loder" ng-show="loadDefaultChart" src="images/ajax_loader_small.gif" alt="" ng-hide="loadDefaultChart"/>
        </div>
      </div>
    </fieldset>
  </form>
</div>