<div class="containerArea" data-ng-controller="others as vm">

    <!-- Pagination Top-->
    <div class="clearfix">
        <ul id="othersPageUl1" class="pagination pull-right">
            <li id="othersPageLi1_1"  ng-class="vm.isActive(1)">
                <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 1)"
                    title="{{vm.pageTitle1}}">1</a>
            </li>
        </ul>
	</div>

	<div id="othersContainerMain" class="clearfix">
		<div class="rowTable" ng-if="vm.pageNo == 1">
			<div class="col-md-6 col-sm-12 col-xs-12 no-padding-left">
				<ecorealmv pace-data-reg-user="vm.paceDataRegUser"
                   pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod"></ecorealmv>
			</div>
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">
        safe repository
        <safe-repository></safe-repository>
      </div>
		</div>
	</div>


	<!-- Pagination Bottom-->
	<div class="clearfix">
		<ul id="othersPageUl2" class="pagination pull-right">
			<li id="othersPageLi2_1" ng-class="vm.isActive(1)">
				<a  href="javascript:void(0)" ng-click="vm.loadPage($event, 1)" title="{{vm.pageTitle1}}">1</a>
			</li>
		</ul>
	</div>

</div>