<div id="quicRefMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> QuickRef </legend>
      <!-- Table -->
      <div class="colTable" >
        <table class="my-table">
          <tr>
            <th colspan="2" class="my-td bold">
              No. of countries deployed: 1
            </th>
          </tr>
          <tr>
            <td class="my-td bold alignCenter" width="60%">
              France figures
            </td>
            <td class="my-td alignCenter selected-column" width="40%">
              Launched in {{launchDate|date:"dd MMM yy"}}
            </td>
          </tr>
          <tr>
            <td class="my-td bold highlight-row">
              No. of registered users
            </td>
            <td class="my-td selected-column highlight-row">
              {{regUsers}}
            </td>
          </tr>
          <tr>
            <td class="my-td bold"
                data-ng-class="getSelectedRowChartCSS('ChartActiveUser')">
              No. of unique active users  for  last 12 months
            </td>
            <td class="my-td link selected-column"
                ng-click="onQuickRefChartLinkChange('ChartActiveUser')"
                data-ng-class="getSelectedRowChartCSS('ChartActiveUser')">
              {{uniqueActiveUsers| number}}
            </td>
          </tr>
          <tr>
            <td class="my-td bold">
              No. of unique active users per day
            </td>
            <td class="my-td selected-column">
              ~{{( uniqueActiveUsers / quickRefLaunchDays)|  number:0}}
            </td>
          </tr>
          <tr>
            <td class="my-td bold"
                data-ng-class="getSelectedRowChartCSS('ChartConfigLaunched')">
              No. of Configuration launched
            </td>
            <td class="my-td link selected-column"
                ng-click="onQuickRefChartLinkChange('ChartConfigLaunched')"
                data-ng-class="getSelectedRowChartCSS('ChartConfigLaunched')">
              {{configLaunched| number}}
            </td>
          </tr>
        </table>
      </div>
      <!-- Display Chart -->
      <div class="chartDiv">
        <div class="chart-info clear">
          <div class="globalFont textCenter chartOptionContainer">
            <div class="chartOptionContainerBox clear">
              <span class="footNoteSymbol"
                    ng-class="{isfootNoteSymbolVisible: isfootNoteSymbolVisible === true}">
                &dagger;
              </span>
              <span>
                {{quickRefChartLabel}} per :
              </span>

              <a href="javascript:void(0)" ng-class="{
                                    'active'
                                            : selectedChartTab === 0}"
                 ng-click="onQuickRefChartOptionChange($event, 0)">{{chartOptions[0]}}</a>
              |
              <a href="javascript:void(0);" ng-class="{
                                    'active'
                                            : selectedChartTab === 1}"
                 ng-click="onQuickRefChartOptionChange($event, 1)">{{chartOptions[1]}}</a>
              |
              <a href="javascript:void(0);" ng-class="{
                                    'active'
                                            : selectedChartTab === 2}"
                 ng-click="onQuickRefChartOptionChange($event, 2)">{{chartOptions[2]}}</a>
              <br/>
              <span class="note">{{quickRefChartToolTip}}</span>
            </div>
            <div class="foot-note" ng-if="isfootNoteSymbolVisible">
              <span class="footNoteSymbol isfootNoteSymbolVisible" >
                &dagger;
              </span>
              {{noteActiveUser}}
            </div>
          </div>
        </div>

        <div class="clearboth"></div>

        <div  id="qurckRefChartContainer" class="chart-container">
          <div google-chart chart="chartSource" class="chart-container" on-ready="chartReady()" ng-show="loadDefaultChart"></div>
          <img class="chart-loder" ng-show="loadDefaultChart" src="images/ajax_loader_small.gif" alt="" ng-hide="loadDefaultChart"/>
        </div>
      </div>
    </fieldset>
  </form>
</div>