<div id="ePlanMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold">Trace Parts</legend>
      <div class="clearfix">
        <div class=" row traceparts-navbar">
          <div class="section text-center">
            <div class="header" ng-click="setBusinessUnit('2')" ng-class="{active: isBusinessUnit('2')}">
              <div class="title">
                Electrical Distribution
              </div>
            </div>
          </div>
          <div class="section text-center">
            <div class="header" ng-click="setBusinessUnit('1')" ng-class="{active: isBusinessUnit('1')}">
              <div class="title">
                Automation and Control
              </div>
            </div>
          </div>
        </div>
        <!-- Summary -->
        <div class="traceparts-divider">
          <div class="traceparts-divider-title summary">Summary</div>
          <hr class="traceparts-divider-line">
        </div>
        <div class="clearfix">
          Year:
          <button class="btn btn-default traceparts-year-button"
                  ng-click="setSelectedYear(year)"
                  ng-class="{'btn-primary active': isSelectedYear(year)}"
                  ng-repeat="year in years">{{year}}</button>
          <span style="font-size: 20px;letter-spacing: 2px;color: maroon;" ng-show="pageLoading">Loading data... Please wait</span>
        </div>
        <div ng-show="pageLoading">
          <h2>Loading data... Please wait</h2>
        </div>
        <div ng-hide="pageLoading">
          <div class="clearfix">
            <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="traceparts-totals">
                <div>Total Downloads</div>
                <div>{{totalDownloads}}</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="traceparts-totals">
                <div>Total Users</div>
                <div>{{totalDistinctUsers}}</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="traceparts-totals">
                <div>New Users</div>
                <div>{{newUsers}}</div>
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="traceparts-summary-graph-header">
                Downloads by Countries:
              </div>
              <div class="clearfix">
                <div google-chart chart="chartDownloadByCountries" class="tracepart-chart-container"></div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="traceparts-summary-graph-header">
                Top 10 Product Downloads:
              </div>
              <div class="clearfix">
                <div google-chart chart="chartRegistrationByCountries" class="tracepart-chart-container"></div>
              </div>

            </div>
          </div>
          <!-- End: Summary -->
          <!-- Trend - Last 12 months -->
          <div class="traceparts-divider">
            <div class="traceparts-divider-title trend">Trend - Last 12 months</div>
            <hr class="traceparts-divider-line">
          </div>
          <div class="clearfix">
            <div class="traceparts-summary-graph-header">
              Select Country
            </div>
            <div class="clearfix">
              <strong>Top 10 Countries by Download in last 12 months:</strong>
              <button class="btn btn-sm btn-default traceparts-country-button"
                      title="{{c.country}}"
                      ng-click="setSelectedCountry(c)"
                      ng-class="{'btn-primary': isSelectedCountry(c)}"
                      ng-repeat="c in trendTopTenCountries">
                {{c.countrycode}}
              </button>
            </div>

            <div class="row traceparts-row">
              <div class="col-md-3">
                <div class="col-md-2">
                  <label class="control-label">OR</label>
                </div>
                <div class="col-md-10">
                  <button ng-click="setWorldwide()" ng-class="{'btn-primary': worldWide}">All - Worldwide</button>
                </div>
              </div>
              <div class="col-md-3">
                <div class="col-md-2">
                  <label class="control-label">OR</label>
                </div>
                <div class="col-md-10">
                  <select ng-model="selectedCountry" ng-class="globalFont"
                          ng-options="c.countrycode as c.country for c in countries"
                          ng-change="onChartOptionChange()">
                    <option value="">- Select country -</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="traceparts-summary-graph-header">
                No. of CAD files Downloaded in last 12 months: <span class="data-update-note">{{getSelectedCountryName()}}</span>
              </div>
              <div class="clearfix">
                <div google-chart chart="chartTrendDownloads" class="tracepart-chart-container"></div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="traceparts-summary-graph-header">
                Distinct Users to download CAD files in last 12 months: <span class="data-update-note">{{getSelectedCountryName()}}</span>
              </div>
              <div class="clearfix">
                <div google-chart chart="chartDistinctUsersCad" class="tracepart-chart-container"></div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="traceparts-summary-graph-header">
                Top 10 Product Downloads in last 12 months: <span class="data-update-note">{{getSelectedCountryName()}}</span>
              </div>
              <div class="clearfix">
                <div google-chart chart="chartTrendTopProductDownloads" class="tracepart-chart-container"></div>
              </div>

            </div>
          </div>
          <!-- End: Trend - Last 12 months -->
        </div>
      </div>
    </fieldset>
  </form>
</div>