<div id="myPactMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> CAD Library </legend>
      <div class="globalFont font-bold" style="text-align: center;">
        <a href="#/byapps/cad-library">Please visit new dashboard page for CAD Library</a>
      </div>
    </fieldset>
  </form>
</div>
