<div id="myPactMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> CBT </legend>
      <div class="globalFont font-bold" style="text-align: center;"><a href="#/byapps/cbt">Please visit new dashboard page for CBT</a></div>
    </fieldset>
  </form>
</div>
