<div id="ePlanMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold">BIM-General Download</legend>
      <!-- Table -->
      <div class="colTable" >
        <table class="my-table">
          <tr>
            <td class="my-td bold" width="50%" >
              <div class="no-of-countries">Select Country</div>
            </td>
            <td class="my-td bold selected-column" width="50%">
              <select ng-model="selectedCountry" ng-class="globalFont"
                      ng-options="country.countryName for country in countries"
                      ng-change="onChartOptionChange()">
              </select>
            </td>
          </tr>
          <tr>
            <td class="my-td bold" width="50%" >
              <div class="no-of-countries">Select Product</div>
            </td>
            <td class="my-td bold selected-column" width="50%">
              <select ng-model="selectedProduct" ng-class="globalFont"
                      ng-options="product.productName for product in products"
                      ng-change="onChartOptionChange()">
              </select>
            </td>
          </tr>
          <tr>
            <td class="my-td bold">
              <div class="no-of-countries">Select Month</div>
            </td>
            <td class="my-td bold selected-column">
              <select ng-model="selectedMonth" ng-class="globalFont"
                      ng-options="month.label for month in months"
                      ng-change="onChartOptionChange()">
              </select>
            </td>
          </tr>
          <tr>
            <td  class="my-td bold">
              <div class="no-of-countries">Select Year</div>
            </td>
            <td class="my-td bold selected-column">
              <select ng-model="selectedYear" ng-class="globalFont"
                      ng-options="year for year in years"
                      ng-change="onChartOptionChange()">
              </select>
            </td>
          </tr>
          <tr>
            <td class="my-td bold highlight-row">Total Downloads (As Per Filter)</td>
            <td class="my-td highlight-row">
              <span>{{bimGeneralDownloadReportData.totalDownloads|number}}</span>
            </td>
          </tr>
          <tr>
            <td class="my-td bold">Life Time Download (As Per Selected Country & Product) </td>
            <td class="my-td">
              <span>{{bimGeneralDownloadReportData.grandTotalDownloads|number}}</span>
            </td>
          </tr>

        </table>
      </div>
      <!-- Display Chart -->
      <div class="chartDiv">
        <div class="chart-info clear">
          <div class="globalFont textCenter chartOptionContainer">
            <div class="chartOptionContainerBox clear">
              <span>
                {{ePlanChartLabel}}
              </span>
              <span ng-show="showEplanChartSubLinks">
                per :
                <a href="javascript:void(0)" ng-class="{'active': selectedChartFilterBy === 'month'}"
                   ng-click="onEplanChartFilterByChange($event, 'month')">By Month</a>
                |
                <a href="javascript:void(0);" ng-class="{'active': selectedChartFilterBy === 'country'}"
                   ng-click="onEplanChartFilterByChange($event, 'country')">By Country</a>
              </span>
              <!--
              <br/>
              <span class="note">{{ecoReachChartToolTip}}</span>
              -->
            </div>
          </div>
        </div>
        <div class="clearboth"></div>
        <div id="ecoReachGAChartContainer" class="chart-container" >
          <div google-chart chart="chartSource" class="chart-container" on-ready="chartReady()" ng-show="isChartReady"></div>
          <img class="chart-loder" src="images/ajax_loader_small.gif" alt="" ng-hide="isChartReady"/>
        </div>
      </div>
    </fieldset>
  </form>
</div>