<div id="ePlanMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold">BIM-User Download</legend>
      <!-- Table -->
      <div class="colTable" >
        <table class="my-table">
          <tr>
            <td class="my-td bold" width="50%" >
              <div class="no-of-countries">Select Country</div>
            </td>
            <td class="my-td bold selected-column" width="50%">
              <select ng-model="selectedCountry" ng-class="globalFont"
                      ng-options="country.countryName for country in countries"
                      ng-change="onChartOptionChange()">
              </select>
            </td>
          </tr>
          <tr>
            <td class="my-td bold highlight-row">Total Downloads (As Per Filter)</td>
            <td class="my-td highlight-row">
              <span>{{bimGeneralDownloadReportData.totalDownloads|number}}</span>
            </td>
          </tr>
        </table>
      </div>
      <!-- Display Chart -->
      <div class="chartDiv">
        <div class="chart-info clear">
          <div class="globalFont textCenter chartOptionContainer">
            <div class="chartOptionContainerBox clear">
              <span>
                {{ePlanChartLabel}}
              </span>
            </div>
          </div>
        </div>
        <div class="clearboth"></div>
        <div id="ecoReachGAChartContainer" class="chart-container" >
          <div google-chart chart="chartSource" class="chart-container" on-ready="chartReady()" ng-show="isChartReady"></div>
          <img class="chart-loder" src="images/ajax_loader_small.gif" alt="" ng-hide="isChartReady"/>
        </div>
      </div>
    </fieldset>
  </form>
</div>