<div id="ePlanMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold">BIM-Viewed Download</legend>
      <!-- Table -->
      <div class="colTable" >
        <table class="my-table">
          <tr>
            <td class="my-td bold">
              <div class="no-of-countries">Select Month</div>
            </td>
            <td class="my-td bold selected-column">
              <select ng-model="selectedMonth" ng-class="globalFont"
                      ng-options="month.label for month in months"
                      ng-disabled="true">
              </select>
            </td>
          </tr>
          <tr>
            <td  class="my-td bold">
              <div class="no-of-countries">Select Year</div>
            </td>
            <td class="my-td bold selected-column">
              <select ng-model="selectedYear" ng-class="globalFont"
                      ng-options="year for year in years"
                      ng-disabled="true">
              </select>
            </td>
          </tr>
          <tr>
            <td class="my-td bold highlight-row">Total Downloads</td>
            <td class="my-td highlight-row">
              <span>{{bimGeneralDownloadReportData.totalDownloads|number}}</span>
            </td>
          </tr>
          <tr>
            <td class="my-td bold">Total Viewed</td>
            <td class="my-td">
              <span>{{bimGeneralDownloadReportData.totalViewed|number}}</span>
            </td>
          </tr>

        </table>
      </div>
      <!-- Display Chart -->
      <div class="chartDiv">
        <div class="chart-info clear">
          <div class="globalFont textCenter chartOptionContainer">
            <div class="chartOptionContainerBox clear">
              <span>
                {{ePlanChartLabel}}
              </span>
            </div>
          </div>
        </div>
        <div class="clearboth"></div>
        <div id="ecoReachGAChartContainer" class="chart-container-long" >
          <div google-chart chart="chartSource" class="chart-container-long" on-ready="chartReady()" ng-show="isChartReady"></div>
          <img class="chart-loder" src="images/ajax_loader_small.gif" alt="" ng-hide="isChartReady"/>
        </div>
      </div>
    </fieldset>
  </form>
</div>