<div id="mnmMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Wiseup </legend>
      <!-- Table -->
      <div class="colTable" >
        <table class="table table-condensed ">
          <tr>
            <td  class="my-td bold" width="75%">
              <div class="no-of-countries">Select Year</div>
            </td>
            <td class="my-td bold selected-column"  width="25%">
              <select ng-model="selectedYear" ng-class="globalFont"
                      ng-options="year for year in years"
                      ng-change="onChartOptionChange()">
              </select>
            </td>
          </tr>
          <tr>
            <td class="my-td bold"  width="75%"
                data-ng-class="getSelectedRowChartCSS('ChartOrders')">
              No. Of Orders (Achieved / Target)
            </td>
            <td class="my-td bold link"  width="25%"
                ng-click="showOrdersChart()"
                data-ng-class="getSelectedRowChartCSS('ChartOrders')">
              <span>{{reportData.orders|number}} / {{reportData.ordersTarget|number}}</span>
            </td>
          </tr>
          <tr>
            <td class="my-td bold"
                data-ng-class="getSelectedRowChartCSS('ChartInvoicedAmount')">
              Invoiced amount in kEUR
            </td>
            <td class="my-td bold link"
                ng-click="showInvoicedAmountChart()"
                data-ng-class="getSelectedRowChartCSS('ChartInvoicedAmount')">
              <span>{{reportData.invoicedAmount|number}}</span>
            </td>
          </tr>
        </table>
      </div>

      <!-- Display Chart -->
      <div class="chartDiv">
        <div class="clearboth"></div>
        <div id="ecoReachGAChartContainer" class="chart-container" >
          <div google-chart chart="chartSource" class="chart-container" on-ready="chartReady()" ng-show="isChartReady"></div>
          <img class="chart-loder" src="images/ajax_loader_small.gif" alt="" ng-hide="isChartReady"/>
        </div>
      </div>
    </fieldset>
  </form>
</div>