<!--<div class="confirm-title">Data Upload Confirmation</div>-->
<!--<p>Data has been already uploaded for the selected period.</p>-->
<!--<p>If you choose to continue, the newly uploaded data will replace the existing data.</p>-->
<!--<div>-->
<!--<button type="button" class="btn" ng-click="cancel(0)">Cancel</button>-->
<!--<button type="button" class="btn btn-success" ng-click="confirm(1)">Continue</button>-->
<!--</div>-->
<div class="md-dialog-container" layout-padding>
  <md-dialog aria-label="Country Data" flex="30">
    <div class="bi-toolbar">
      <div class="md-toolbar-tools">
        <md-title class="confirm-title">Data Upload Confirmation</md-title>
      </div>
    </div>
    <md-dialog-content layout="column">
      <md-list>
        <md-list-item>Data has been already uploaded for the selected period.</md-list-item>
        <md-list-item>If you choose to continue, the newly uploaded data will replace the existing data.</md-list-item>
      </md-list>
    </md-dialog-content>
    <md-dialog-actions layout-align="start center">
      <md-button class="md-raised md-mini" ng-click="cancel()">Cancel</md-button>
      <md-button class="md-raised md-mini" ng-click="continue()">Continue</md-button>
    </md-dialog-actions>
  </md-dialog>
</div>
