<div>
    <form name="uploadForm" id="uploadForm" class="form-horizontal margin-top-15px" novalidate>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">Select Project</label>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <select class="form-control" id="projectList" data-ng-model="selectedProject"
                        data-ng-change="onProjectListChange()"
                        ng-options="project.label for project in projectList"
                        ng-disabled="isDisableProjListDropDn">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">Select File</label>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="clear">
                    <input id="uploadFile" type="text" ng-model="fileNamePath" class="upload-text" disabled="disabled" required />
                    <div class="file-upload btn btn-browse btn-primary">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span>Browse</span>
                        <input id="uploadBtn" type="file" class="upload"/>
                    </div>
                </div>
                <div class="impNote">
                    {{fileUploadNote}}
                </div>
            </div>
        </div>
        <!-- Sample file download Link -->
        <div class="form-group" data-ng-if="isVisibleSampleFileDiv">
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 col-sm-offset-3">
                <a rel="#" ng-click="downloadSampleFile(selectedProject)">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    <span class="glyphicon-download-txt">Sample file download for {{selectedProject.label}}</span>
                </a>
            </div>
        </div>
        <!-- BUSINESS UNIT (only for TracePart) -->
        <div class="form-group" data-ng-if="isVisibleBusinessUnit">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">Select Business Unit</label>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <select class="form-control" id="bu" data-ng-model="$parent.tracePartSelectedBusinessUnit"
                        ng-options="bu.value as bu.label for bu in tracePartBusinessUnit"
                        required>
                    <option value="" disabled selected style="display: none;">Select Business Unit</option>
                </select>
            </div>
        </div>
        <!-- REPORT TYPE (only for ePlan) -->
        <div class="form-group" data-ng-if="isVisibleEplanReportDropDown">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">Select Report Type</label>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <select class="form-control" id="reportType" data-ng-model="$parent.eplanSelectedReportType"
                        ng-options="rt.label for rt in eplanReportType"
                        data-ng-change="onEplanReportTypeChange()"
                        required>
                    <option value="" disabled selected style="display: none;">Select Report Type</option>
                </select>
            </div>
        </div>
        <!-- ePLAN PRODUCT GROUP REPORT TYPE DROP DOWN(only for ePlan) -->
        <div class="form-group" data-ng-if="isVisibleEplanProductGroupReport && isVisibleEplanReportDropDown">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">Select Product Group Type</label>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <select class="form-control" id="grpRptType" data-ng-model="$parent.eplanSelectedProdGrpReportType"
                        ng-options="pgrt for pgrt in eplanProdGrpReportType"
                        data-ng-change ="onEplanProdGrpReportTypeChange()"
                        required>
                    <option value="" disabled selected style="display: none;">Select Product Group Type</option>
                </select>
                <div class="impNote" data-ng-if="isVisibleEplanProductGroupFootNote">
                    There is no data in Product Group. Please upload Product Group first
                </div>
            </div>
        </div>
        <!-- REPORT TYPE (only for MnM) -->
        <div class="form-group" data-ng-if="isVisibleMnmReportDropDown">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">Select Report Type</label>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <select class="form-control" id="mnmReportType" data-ng-model="$parent.mnmSelectedReportType"
                        ng-options="rt.label for rt in mnmReportType"
                        data-ng-change="onMnmReportTypeChange()"
                        required>
                    <option value="" disabled selected style="display: none;">Select Report Type</option>
                </select>
            </div>
        </div>
        <!-- MONTH -->
        <div class="form-group" data-ng-show="isVisibleMonthDiv">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">Select Month</label>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <select class="form-control" id="month" data-ng-model="selectedMonth"
                        ng-options="month.label for month in monthArr"
                        ng-required="isVisibleMonthDiv">
                    <option value="" disabled selected style="display: none;">Select Month</option>
                </select>
            </div>
        </div>
        <!-- YEAR -->
        <div class="form-group" data-ng-show="isVisibleYearDiv">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">Select Year</label>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <select class="form-control" id="year" ng-model="selectedYear"
                        ng-options="year for year in yearArr"
                        ng-required="isVisibleYearDiv">
                    <option value="" disabled selected style="display: none;">Select Year</option>
                </select>
            </div>
        </div>

        <!-- Submit & Reset Button-->
        <div class="form-group">
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 col-sm-offset-3">
                <button type="submit" class="btn btn-primary"
                        data-ng-click="submitForm()"
                        ng-disabled="uploadForm.$invalid">Submit</button>
                <button class="btn btn-primary" type="button"
                        ng-click="resetForm()">Reset</button>
            </div>
        </div>
    </form>

    <!-- File Uploaded status message -->
    <div class="file-upload-result" ng-show="uploadComplete">
        <div>
            <label>{{uploadMessageHeaderLabel}}</label>
        </div>
        <div ng-show="uploadMessage">
            <label>Details:</label>
        </div>
        <div>
            <textarea  ng-disabled="true">{{uploadMessage}}</textarea>
        </div>
    </div>

    <!-- Spinner for Uploading file -->
    <div ng-show="isUploading" class="upload-file-fade-box">
        <div class="ajax-loader-box">
            <small class="percent-val">{{percentUploaded}}%</small>
        </div>
        <div class="ajax-loader-message-box">
            <div ng-show="percentUploaded <= 99">
                Please wait file is uploading.
            </div>
            <div ng-hide="percentUploaded <= 99">
                Please wait processing uploaded data.
            </div>
        </div>
    </div>
</div>
