<div class="modal fade hidden-lg hidden-md profile-user-data-modal" id="profile-user-data-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <div class="row profile-user-data-modal-title">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-9">
              <p class="">My Profile</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">
              <button type="button" class="close" data-dismiss="modal"><span
                  aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
          </div>

          <div class="row profile-user-data-modal-user">
            <table>
              <tr>
                <td rowspan="2"><img src="images/person.png"></td>
                <td><p class="profile-user-data-modal-name">{{userData.lastName}} {{userData.firstName}}</p></td>
              </tr>
              <tr>
                <td><p class="profile-user-data-modal-company">{{userData.companyName}}</p></td>
              </tr>
            </table>
          </div>

          <!--<div class="profile-user-data-modal-link hover-hand" data-toggle="modal" data-target="#profileModal">
                                  <a>Edit Profile</a>
          </div>-->
          <div class="profile-user-data-modal-link">
            Edit Profile
          </div>
          <div class="profile-user-data-modal-logout  hover-hand" ng-click="logout()">
            <a>Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>