<div>
  <div class="col-md-4 col-lg-4 hidden-sm hidden-xs">
    <div class="profile" ng-class="editLogoutVisible ? 'edit-profile-logout-open' : 'edit-profile-logout-close'" ng-click="openEditLogout()">
      <div class="user-image pull-left"><img src="images/person.png"></div>
      <div class="user-detail pull-left">
        <p class="user-name "  ng-class="editLogoutVisible ? 'user-name-edit-logout-open' : ''">{{user.lastName}} {{user.firstName}}</p>
        <p class="company-name">{{user.companyName}}</p>
      </div>
      <div class="user-down-arrow pull-left"><img src="images/arrow-bottom-green.png"></div>
      <div class="edit-profile-logout-flyout" ng-if="editLogoutVisible">
        <div class="edit-profile-logout-flyout-divider"></div>
        <!-- <div class="edit-profile-link" data-toggle="modal" data-target="#profileModal">
            <a>Edit Profile</a>
        </div>-->
        <div class="edit-profile-link">
          Edit Profile
        </div>
        <div class="logout-link" ng-click="logout()">
          <a>Logout</a>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-4 col-xs-4 hidden-lg hidden-md">

    <div class="pull-right">
      <ul class="nav nav-pills profilezone-menu hover-hand" data-toggle="modal" data-target="#profile-user-data-modal">
        <li>
          <i class="fa fa-user fa-2x profilezone-menu-icon"></i>
        </li>
        <li> <img src="images/arrow-bottom-green.png"> </li>
      </ul>
    </div>
  </div>

  <!-- Loin Menu for Mobile and Tablet Directive i.e data-target="#profile-user-data-modal" -->
  <login-menu-mobile user-data="user"></login-menu-mobile>

  <!--Edit Profile Model Start -->
  <div class="modal fade edit-profile-modal" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="newLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="profile-modal-header">
          <img class="profile-image" src="images/johndow.png">
          <button type="button" class="close" data-dismiss="modal">
            <img class="profile-modal-close" alt="" src="images/close.png">
          </button>
          <h4 class="profile-modal-header-txt">Profile</h4>
        </div>
        <edit-profile success-callback="modifyProfileSuccess()" error-callback="onError()"
                      cancel-callback="modifyProfileClose()" success-password-callback="modifyPasswordSuccess()"
                      error-password-callback="onErrorPasswordCallback()" user-profile="user"
                      close-password-callback="modifyPasswordSuccess()">
        </edit-profile>
        <a id="closeProfileModal" data-dismiss="modal"></a>
      </div>
    </div>
  </div>
</div>
