<div id="clipsalWishlistMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Clipsal Wishlist </legend>
      <!-- Table -->
      <div class="colTable" >
        <table class="my-table">
          <tr>
            <th colspan="2" class="my-td bold">
              No. of countries deployed: 1 (Australia only so far)
            </th>
          </tr>
          <tr>
            <td class="my-td bold" width="60%">
              Launched in
            </td>
            <td class="my-td selected-column" width="40%">
              {{launchDate|date:"dd MMM yy"}}
            </td>
          </tr>
          <tr>
            <td class="my-td bold highlight-row"
                data-ng-class="getSelectedRowChartCSS('ChartRegisteredUser')">
              No. of registered users
            </td>
            <td class="my-td link selected-column highlight-row"
                ng-click="onClipsalWishlistChartLinkChange('ChartRegisteredUser')"
                data-ng-class="getSelectedRowChartCSS('ChartRegisteredUser')">
              {{regUsers}}
            </td>
          </tr>
          <tr>
            <td class="my-td bold highlight-row">Value of projects/BOM sent to electricians</td>
            <td class="my-td selected-column highlight-row">
              <span class="impNote">{{bomSentToElectricians}}</span>
            </td>
          </tr>
          <tr>
            <td class="my-td bold"
                data-ng-class="getSelectedRowChartCSS('ChartActiveUser')">
              No. of unique active user  for  last 12 months
            </td>
            <td class="my-td link selected-column"
                ng-click="onClipsalWishlistChartLinkChange('ChartActiveUser')"
                data-ng-class="getSelectedRowChartCSS('ChartActiveUser')">
              {{uniqueActiveUsers| number}}
            </td>
          </tr>
          <tr>
            <td class="my-td bold">No. of unique active users per day</td>
            <td class="my-td selected-column">~{{(uniqueActiveUsers / clipsalWishlistLaunchDays)|  number:0}}</td>
          </tr>
          <tr>
            <td class="my-td bold"
                data-ng-class="getSelectedRowChartCSS('ChartProjectCreated')">
              No. of projects created
            </td>
            <td class="my-td link selected-column"
                ng-click="onClipsalWishlistChartLinkChange('ChartProjectCreated')"
                data-ng-class="getSelectedRowChartCSS('ChartProjectCreated')">
              {{projectsCreated| number}}
            </td>
          </tr>
          <tr>
            <td class="my-td bold"
                data-ng-class="getSelectedRowChartCSS('ChartProjectSendToElectician')">
              No. of projects sent to electricians
            </td>
            <td class="my-td link selected-column"
                ng-click="onClipsalWishlistChartLinkChange('ChartProjectSendToElectician')"
                data-ng-class="getSelectedRowChartCSS('ChartProjectSendToElectician')">
              {{projectsSentToElectricians| number}}</td>
          </tr>
          <tr>
            <td class="my-td bold">No. of products added to BOM</td>
            <td class="my-td selected-column">
              ~{{productsAddedToBOM| number}}
              <span class="noteSymbol">*</span>
            </td>
          </tr>
        </table>
        <div>
          <small class="impNote">
            <span>
              <sup class="font-color-red">*</sup>
            </span>
            Approximate value of product added to BOM.
          </small>
        </div>
        <div>
          <small class="impNote">
            <strong>Note: </strong>
            Above data are filtered with "schneider", "mphasis" and "zscaler" service provider.
          </small>
        </div>
      </div>
      <!-- Display Chart -->
      <div class="clearfix chartDiv">
        <div class="chart-info clear">
          <div class="globalFont textCenter chartOptionContainer">
            <div class="chartOptionContainerBox clear">
              <span class="footNoteSymbol" ng-class="{
                                         isfootNoteSymbolVisible: isfootNoteSymbolVisible === true
                                     }">&dagger;</span>
              <span>
                {{clipsalWishlistChartLabel}} per :
              </span>

              <a href="javascript:void(0)" ng-class="{'active': selectedChartTab === 0}"
                 ng-click="onClipsalWishlistChartOptionChange($event, 0)">{{chartOptions[0]}}</a>
              |
              <a href="javascript:void(0);" ng-class="{'active': selectedChartTab === 1}"
                 ng-click="onClipsalWishlistChartOptionChange($event, 1)">{{chartOptions[1]}}</a>
              |
              <a href="javascript:void(0);" ng-class="{'active': selectedChartTab === 2}"
                 ng-click="onClipsalWishlistChartOptionChange($event, 2)">{{chartOptions[2]}}</a>
              <br/>
              <span class="note">{{clipsalWishlistChartToolTip}}</span>
            </div>
            <div class="foot-note" ng-if="isfootNoteSymbolVisible">
              <span class="footNoteSymbol isfootNoteSymbolVisible">
                &dagger;
              </span>
              {{noteActiveUser}}
            </div>
          </div>
        </div>

        <div class="clearboth"></div>

        <div  id="clipsalWishlistChartContainer" class="chart-container">
          <div google-chart chart="chartSource" class="chart-container" on-ready="chartReady()" ng-show="loadDefaultChart"></div>
          <img class="chart-loder" ng-show="loadDefaultChart" src="images/ajax_loader_small.gif" alt="" ng-hide="loadDefaultChart"/>
        </div>
      </div>
    </fieldset>
  </form>
</div>