
<div class="row">
  <div class="col-md-12">

    <div class="pull-left">
      <h2>Tell us about yourself</h3>
    </div>




  </div>
</div>

<form name="userForm">
  <div class="row">
    <div class="col-md-6 form-group">
      <input type="text" name="firstName" placeholder="First Name" ng-model="tab.user.firstname"
             ng-minlength="3"
             ng-maxlength="8"
             required>

      <!-- show an error if username is too short -->
      <p ng-show="userForm.firstName.$error.minlength" style="color:#d0021b">First Name is too short.</p>

      <!-- show an error if username is too long -->
      <p ng-show="userForm.firstName.$error.maxlength" style="color:#d0021b">First Name is too long.</p>

      <!-- show an error if this isn't filled in -->
      <p ng-show="userForm.firstName.$error.required && !userForm.firstName.$pristine" style="color:#d0021b">Your First Name is required.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <input type="text" name="lastName" placeholder="Last Name" ng-model="tab.user.lastname"
             ng-minlength="3"
             ng-maxlength="8"
             required>

      <!-- show an error if username is too short -->
      <p ng-show="userForm.lastName.$error.minlength" style="color:#d0021b">Last Name is too short.</p>

      <!-- show an error if username is too long -->
      <p ng-show="userForm.lastName.$error.maxlength" style="color:#d0021b">Last Name is too long.</p>

      <!-- show an error if this isn't filled in -->
      <p ng-show="userForm.lastName.$error.required && !userForm.lastName.$pristine" style="color:#d0021b">Your Last Name is required.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 form-group">
      <textarea name="userSummary" placeholder="Tell About Yourself" ng-model="tab.user.summary"></textarea>
    </div>
  </div>

  <span style="display: none" ng-bind="tab.complete = (userForm.$valid && !userForm.$pristine)"></span>
</form>


