
<div class="row">
  <div class="col-md-12">

    <div class="pull-left">
      <h2> Tell us more about you</h2>
    </div>


  </div>
</div>
<form name="userAddInfoForm">
  <div class="row">
    <div class="col-md-6 form-group">
      <input type="text" name="company" placeholder="Company" ng-model="tab.user.company" required>

      <!-- show an error if this isn't filled in -->
      <p ng-show="userAddInfoForm.company.$error.required && !userAddInfoForm.company.$pristine" style="color:#d0021b">Please Enter your company.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <input type="text" name="parterid" placeholder="Parter ID" ng-model="tab.user.parterid" >
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 form-group">
      <input type="text" name="country" placeholder="Country" ng-model="tab.user.country" required>

      <!-- show an error if this isn't filled in -->
      <p ng-show="userAddInfoForm.country.$error.required && !userAddInfoForm.country.$pristine" style="color:#d0021b">Please Enter your country </p>
    </div>

    <div class="col-md-3 form-group">
      <input type="text" name="language" placeholder="Langauge" ng-model="tab.user.language" required>

      <!-- show an error if this isn't filled in -->
      <p ng-show="userAddInfoForm.language.$error.required && !userAddInfoForm.language.$pristine" style="color:#d0021b">Please Enter your language </p>
    </div>
  </div>

  <span style="display: none" ng-bind="tab.complete = (userAddInfoForm.$valid && !userAddInfoForm.$pristine)"></span>
</form>
