
<div class="row">
  <div class="col-md-12">
    <div class="pull-left">
      <h2>Set up your account</h2>
    </div>


  </div>
</div>
<form name="accountForm">
  <div class="row">
    <div class="col-md-6 form-group">
      <input type="email" name="email" placeholder="Email" ng-model="tab.user.email" required>

      <!-- show an error if this isn't filled in -->
      <p ng-show="accountForm.email.$error.required && !accountForm.email.$pristine" style="color:#d0021b">Your Email is required.</p>
      <p style="color:#d0021b" ng-show="accountForm.email.$error.email">Not valid email!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <input type="password" name="password" placeholder="Password" ng-model="tab.user.password"
             ng-minlength="3"
             ng-maxlength="8"
             required>

      <p ng-show="accountForm.password.$error.minlength" style="color:#d0021b">Password is too short.</p>

      <!-- show an error if username is too long -->
      <p ng-show="accountForm.password.$error.maxlength" style="color:#d0021b">Password is too long.</p>

      <!-- show an error if this isn't filled in -->
      <p ng-show="accountForm.password.$error.required && !accountForm.password.$pristine" style="color:#d0021b">Password is required.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 form-group">
      <input type="password" name="cpassword" placeholder="Confirm Password" ng-model="tab.user.cpassword" required>

      <!-- show an error if this isn't filled in -->
      <p ng-show="accountForm.cpassword.$error.required && !accountForm.cpassword.$pristine" style="color:#d0021b">Confirm the Password </p>
      <p style="color:#d0021b" ng-show="!accountForm.cpassword.$pristine && (tab.user.cpassword !== tab.user.password)">passwords are not same!</p>
    </div>
  </div>

  <span style="display: none" ng-bind="tab.complete = (accountForm.$valid && !accountForm.$pristine && (tab.user.cpassword == tab.user.password))"></span>
</form>

