
<h2>Confirm the details and submit</h2>
<div class="row form-group">
  <div class="col-md-3"  style="font-weight:bold">
    Name
  </div>
  <div class="col-md-3">
    {{ tab.user.firstname + " " + tab.user.lastname}}
  </div>
</div>
<div class="row form-group" ng-show="tab.user.summary">
  <div class="col-md-3" style="font-weight:bold">
    About You
  </div>
  <div class="col-md-3">
    {{ tab.user.summary}}
  </div>
</div>
<div class="row form-group">
  <div class="col-md-3" style="font-weight:bold">
    Email
  </div>
  <div class="col-md-3">
    {{ tab.user.email}}
  </div>
</div>
<div class="row form-group">
  <div class="col-md-3" style="font-weight:bold">
    Company
  </div>
  <div class="col-md-3">
    {{ tab.user.company}}
  </div>
</div>
<div class="row form-group" ng-show="tab.user.partnerid">
  <div class="col-md-3" style="font-weight:bold">
    Partner ID
  </div>
  <div class="col-md-3">
    {{ tab.user.partnerid}}
  </div>
</div>
<div class="row form-group">
  <div class="col-md-3" style="font-weight:bold">
    Country
  </div>
  <div class="col-md-3">
    {{ tab.user.country}}
  </div>
</div>
<div class="row form-group">
  <div class="col-md-3" style="font-weight:bold">
    Language
  </div>
  <div class="col-md-3">
    {{ tab.user.language}}
  </div>
</div>
