<div id="easyQuoteMain" class="main-container">
	<form>
		<fieldset class="border">
			<legend class="bold">Safe Repository</legend>
			<!--Table-->
			<div class="colTable" >
				<table  class="my-table">
					<!--					<tr>
											<th colspan="3" class="my-td bold">No. of countries deployed: {{countries.length}}</th>
										</tr>-->
					<tr>
						<td class="my-td bold" width="75%">&nbsp;</td>
						<td class="my-td bold" width="25%">Total - Worldwide</td>
					</tr>
					<tr>
						<td data-ng-class="getSelectedRowChartCSS('RegisteredUsers')" class="my-td bold">
							Number of registered users
						</td>
						<td data-ng-class="getSelectedRowChartCSS('RegisteredUsers')"
							class="my-td">
							<span>{{paceDataRegUser.safeRepositoryUsersReg| number}}</span>
						</td>
					</tr>
				</table>
			</div>
			<!--Display Chart-->
			<div class="chartDiv">
				<div class="chart-info clear">
					<div class="globalFont textCenter chartOptionContainer">
						<div class="chartOptionContainerBox clear">
							<span class="footNoteSymbol"
								  ng-class="{
											  isfootNoteSymbolVisible: isfootNoteSymbolVisible === true
										  }">
								&dagger;
							</span>
							<span>{{safeRepositoryChartLabel}} per:</span>
							<a href="javascript:void(0)" ng-class="{
									'active'
									: selectedChartTab === 0}"
							   ng-click="onSafeRepositoryChartOptionChange($event, 0)">{{chartOptions[0]}}</a>
							|
							<a href="javascript:void(0);" ng-class="{
									'active'
									: selectedChartTab === 1}"
							   ng-click="onSafeRepositoryChartOptionChange($event, 1)">{{chartOptions[1]}}</a>
							|
							<a href="javascript:void(0);" ng-class="{
									'active'
								: selectedChartTab === 2}"
							   ng-click="onSafeRepositoryChartOptionChange($event, 2)">{{chartOptions[2]}}</a>
							<br/>
							<span class="note">{{safeRepositoryChartToolTip}}</span>
						</div>
					</div>
				</div>
				<div class="clearboth"></div>
				<div id="easyQuoteChartContainer" class="chart-container">
					<!--<div ng-if="paceDataRegUserOverPeriod" google-chart chart="chartSource" class="chart-container" on-ready="chartReady()"></div>-->
					<div google-chart ng-if="paceDataRegUserOverPeriod" chart="chartSource" class="chart-container"></div>
          <img class="chart-loder" ng-if="!paceDataRegUserOverPeriod" src="images/ajax_loader_small.gif" alt=""/>
				</div>
			</div>
		</fieldset>
	</form>
</div>
