<!-- to display in a popup -->
<div class='modal-dialog'>
  <div class='modal-header'>
    <h2>Application Data</h2>
  </div>
  <div class='modal-body'>
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <td>Application name</td>
          <td class="text-right">No. of Registrations</td>
          <td class="text-right">Target</td>
          <td class="text-right">Percent</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="app in appData">
          <td>{{app.appName}}</td>
          <td class="text-right">{{app.noOfRegistrations|number}}</td>
          <td class="text-right">{{app.target|number}}</td>
          <td class="text-right">{{(app.noOfRegistrations / app.target * 100) | number:1}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>