<div id="biContainer" class="bi-container" layout="column">
  <div id="biTopnav" class="bi-top-nav">
    <div class="bi-notes-nav">
      <div layout='row' layout-align='center center'>
        <span>{{dataNotes.updatedTill.text}}: <strong>{{dataNotes.updatedTill.value|date:'d-MMM-yyyy'}}</strong></span>
        <span flex-offset='5' class="bi-guide">
            <div class="text">Data Source</div>
            <div class="info">
              <div>The user statistics on this page are based on access log data coming from:</div>
              <ol class="text-left">
                <li>SDK Authentication Brick for tools using online authentication (data available from Nov 2015)</li>
              </ol>
              <div>Internal users have been filtered out. Criteria used is:</div>
              <ul>
                <li>Email id containing @*schneider-electric</li>
                <li>Company names - Schneider, =SE=, =S=, Mphasis, Thales, Hardis, iThink</li>
                <li>Traffic from 'zscaler' and 'schneider' networks excluded for google analytics statistics</li>
              </ul>
            </div>
          </span>
      </div>
      <div layout='row' layout-align='center center'>
        {{dataNotes.updatedIn.text}}&nbsp;<strong>{{dataNotes.updatedIn.value}}</strong>
      </div>
    </div>
  </div>

  <div class="bi-chart-container" layout="column">
    <div layout="row">
      <div flex="30" class="btn-group bi-app-dropdown" layout-align="end center" role="group">
        <!--<button type="button" data-toggle="dropdown" class="btn btn-default bi-app-dropdown dropdown-toggle">-->
        <!--<span class="pull-left">{{selectedApp.appName || 'Select'}}</span>-->
        <!--&lt;!&ndash;<span class="pull-right"><span class="caret"></span></span>&ndash;&gt;-->
        <!--</button>-->
        <div data-toggle="dropdown" class="bi-app-dropdown dropdown-toggle">
          <span class="pull-left selected-item" uib-tooltip="Select application" tooltip-placement="right">{{selectedApp.appName || 'Select'}}</span>
        </div>
        <div class="dropdown-menu bi-app-dropdown" layout-padding="10" flex>
          <input type="text" class="form-control input-sm" ng-model="appSelectFilter">
          <div class="apps-list">
            <div class="list-item" ng-repeat="app in apps | filter: appSelectFilter" ng-click="selectApp(app)">
              {{app.appName}}
            </div>
          </div>
        </div>
      </div>
      <div flex-offset="5" flex="20" class="bi-year-dropdown app-year">
        <span class="bi-year">Year :</span>
        <!-- year dropdown -->
        <span uib-dropdown>
          <span uib-dropdown-toggle class="bi-select-year bi-value" uib-tooltip="Select year" tooltip-placement="right">
            {{selectedYear}}
          </span>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li ng-repeat="year in years" ng-click="selectYear(year)">
              <a href>{{year}}</a>
            </li>
          </ul>
        </span>
      </div>
      <div flex="5" class="bi-app-country-text">
        <span class="bi-year">Country&nbsp;:</span>
      </div>
      <div flex-offset="5" flex class="btn-group bi-app-dropdown" layout-align="end center" role="group">
        <div data-toggle="dropdown" class="bi-app-dropdown dropdown-toggle">
          <span class="pull-left selected-item" uib-tooltip="Select country" tooltip-placement="right">{{selectedCountry.name || 'All'}}</span>
        </div>
        <div class="dropdown-menu bi-app-dropdown" layout-padding="10" flex>
          <input type="text" class="form-control input-sm" ng-model="countrySelectFilter">
          <div class="apps-list">
            <div class="list-item" ng-repeat="country in availableCountries | filter: countrySelectFilter" ng-click="selectCountry(country)">
              {{country.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--</div>-->
    <!-- Users Chart -->
    <!--<div class="bi-chart-container">-->
    <div layout='row' class="bi-notes-row bi-notes-row-app-note" ng-show="appNote">
      {{appNote}}
    </div>
    <div layout='row' class="bi-section-row" ng-class="{'bi-section-with-note': appNote}">
      <div>
        <span flex class="bi-chart-title">
          Users: New / Active
        </span>
        <div style="float: right;" class="bi-guide">
          <span class="text"><i class="fa fa-info-circle"></i></span>
          <span class="info">
            <ul>
              <li>New Users: Number of registsred users who accessed the selected application for the first time</li>
              <li>Active Users: Number of registered users who accessed the selected application at least once during the selected period</li>
            </ul>
          </span>
        </div flex>
      </div>
      <!--</div>-->
      <!--<div layout="row">-->
    </div>
    <div layout="row">
      <!--<md-tabs ng-if="!loadingSummary" md-disable-animation md-selected="periodIndex">-->
      <div flex="60">
        <md-tabs md-disable-animation ng-if="!loadingSummary" md-selected="period.index">
          <md-tab ng-if="(currentYear == selectedYear)" label="Daily" ng-click="initUsersChart(0)"></md-tab>
          <md-tab label="Weekly" ng-click="initUsersChart(1)"></md-tab>
          <md-tab label="Monthly" ng-click="initUsersChart(2)"></md-tab>
        </md-tabs>
      </div>
      <div flex="40" class="legend-container">
        <ul class="legend">
          <li><span class="new-user"></span>New Users</li>
          <li ng-show="showActiveUsers"><span class="active-user"></span>Active Users</li>
        </ul>
      </div>
    </div>

    <div layout='column'>
      <!--<div flex-offset="60" class="legend-container">
        <ul class="legend">
          <li><span class="new-user"></span>New Users</li>
          <li ng-show="showActiveUsers"><span class="active-user"></span>Active Users</li>
        </ul>
      </div>-->
      <div class="bi-chart">
        <div class="bi-loader" ng-show='loadingUsers'>Loading chart...<span class="bi-preloader"></span></div>
        <div ng-if='!loadingUsers'>
          <div id="userChart" google-chart chart="chartUsers" agc-on-ready="chartReadyHandler(chartWrapper)"></div>
        </div>
        <p>{{chartUsersItem}}</p>
      </div>
    </div>
    <div>
      <md-button class="md-fab md-raised bi-scroll-btn down" ng-click="scrollDown()">
        <i class="fa fa-angle-double-down"></i>
      </md-button>
    </div>
  </div>
  <!-- END: Users Chart -->

  <!-- USERS BY COUNTRY -->
  <div class="bi-chart-bg bi-shaded">
    <div id="acountry"></div>
    <div class="bi-chart-container tree-chart">
      <div layout='row'>
        <div flex="15" class="bi-chart-title">Users by Country</div>
        <span class="bi-guide">
          <span class="text"><i class="fa fa-info-circle"></i></span>
          <span class="info">
                <ul>
                  <li>It shows country-wise distribution of users for the selected year</li>
                  <li>Country is based on the selection made by the user in the registration form</li>
                </ul>
              </span>
        </span>
        <span flex-offset="10" class="bi-tab" ng-click="initUsersByCountryChart('new')"
              ng-class="{active: countryUsersType === 'new'}">New Users</span>
        <span ng-if="showActiveUserByCountry" flex-offset="10" class="bi-tab"
              ng-click="initUsersByCountryChart('active')"
              ng-class="{active: countryUsersType === 'active'}">Active Users</span>
        <div flex class="bi-app-country-header bi-app-filters">
          <div  class="bi-app-filter-text">{{selectedCountry.name || 'All'}}</div>
          <div class="bi-app-filter-text">{{selectedYear}},</div>
          <div class="bi-app-filter-text font-bold">Filter :</div>
        </div>
      </div>

      <!-- users by country chart -->
      <div class="bi-chart">
        <div class="bi-loader" ng-show='loadingUsersByCountry'>Loading chart...<span class="bi-preloader"></span></div>
        <div ng-if="!loadingUsersByCountry">
          <div id="app-country-chart" google-chart chart="chartUsersByCountries" agc-on-select="countryChartSelectHandler(selectedItem)" agc-on-mouseover="countryChartHoverHandler(row,col)" agc-on-mouseout="countryChartOutHandler(row,col)"></div>
          <div flex-offset="80" flex-offset-sm="65" flex-offset-xs="55" ng-click='showCountryTable()'
               class="bi-show-table-btn" data-toggle="modal" data-target="#countryModal">SHOW COMPLETE LIST
          </div>
        </div>
      </div>
      <!-- END: users by country chart -->
    </div>


    <!-- more statistics -->
    <!--<div class="bi-chart-container">
      <div class="bi-chart-title" flex ng-if="appLinks[selectedAppId]">
        <a class="bi-more-stats-link" ng-href="{{appLinks[selectedAppId]}}">More Statistics</a>
      </div>
    </div>-->
    <!-- END: more statistics -->
  </div>

  <!-- modal -->
  <div class="modal fade" id="countryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content se-modal-content ">
        <div class="modal-header se-modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span class="modal-close"> </span>
          </button>
          <h4 class="modal-title se-modal-title" style="font-size: 18px;" id="myModalLabel">Users by Country (<small class="bi-white">{{periodTitle}}</small>)</h4>
        </div>
        <div class="modal-body">
          <div class="bi-modal-data">
            <table class="table table-condensed table-bordered table-striped">
              <thead>
              <tr>
                <td width="50%">Country name</td>
                <td width="25%" align="right">New Users</td>
                <td width="25%" align="right">Active Users</td>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="d in viewCountryData">
                <td>{{d.countryName}}</td>
                <td align="right">{{d.newUsers}}</td>
                <td align="right">{{d.activeUsers}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: modal -->
  <!-- END: USERS BY COUNTRY -->
  <div ng-if="appCountryTargets.length" class="bi-chart-container" ng-include = "'views/byapps-country.html'"></div>
  <md-divider ng-if="appCountryTargets.length && (showGaTrafficChart||showGaFeatureChart)" class="medium-border"></md-divider>
  <div class="bi-container ga-container" ng-show="showGaTrafficChart||showGaFeatureChart">
    <div class="bi-chart-container">
      <div layout="row">
        <div flex flex-offset="35" class="ga-title-section">
          <span class="bi-chart-title ga-title-text">Google Analytics Statistics</span>
          <span class="bi-guide" ng-show="!gaNote">
            <span class="text"><i class="fa fa-info-circle"></i></span>
            <span class="info">Traffic from 'zscaler' and 'schneider' networks excluded</span>
          </span>
        </div>
      </div>
      <div layout='row' flex-offset="25" class="bi-notes-row" ng-show="gaNote">
        {{gaNote}}
      </div>
      <div layout="row">
        <div flex-offset="65" class="bi-app-filters"flex>
          <div  class="bi-app-filter-text">{{selectedCountry.name || 'All'}}</div>
          <div class="bi-app-filter-text">{{selectedYear}},</div>
          <div class="bi-app-filter-text font-bold">Filter :</div>
        </div>
      </div>
      <div layout="row">
        <div flex-offset="{{(currentYear == selectedYear) ? '65' : '75'}}" flex="50">
          <md-tabs ng-if="showGaTrafficChart" layout-align="end center" md-disable-animation md-selected="gaPeriod.index">
            <md-tab ng-if="(currentYear == selectedYear)" label="Daily" ng-click="initGaTrafficChart(0)"></md-tab>
            <md-tab label="Weekly" ng-click="initGaTrafficChart(1)"></md-tab>
            <md-tab label="Monthly" ng-click="initGaTrafficChart(2)"></md-tab>
          </md-tabs>
          <md-tabs ng-if="showGaFeatureChart && !showGaTrafficChart" layout-align="end center" md-disable-animation md-selected="gaPeriod.index">
            <md-tab ng-if="(currentYear == selectedYear)" label="Daily" ng-click="initGaFeatureChart(0)"></md-tab>
            <md-tab label="Weekly" ng-click="initGaFeatureChart(1)"></md-tab>
            <md-tab label="Monthly" ng-click="initGaFeatureChart(2)"></md-tab>
          </md-tabs>
        </div>
        <!--<div flex="50" class="legend-container"  ng-show="showGaFeatureChart">
          <ul class="legend">
            <li><span class="new-user"></span>No.of Selection Launched</li>
            <li ><span class="active-user"></span>No.of Selection Saved</li>
          </ul>
        </div>!-->
      </div>
      <div layout="row"  ng-show="showGaTrafficChart">
        <div flex class="bi-chart-title">Sessions By Channel Group</div>
      </div>
      <div layout="row" ng-if="showGaTrafficChart">
        <div class="bi-chart">
          <div class="bi-loader" ng-show='loadingGaTraffic'>Loading chart...<span class="bi-preloader"></span></div>
          <div ng-if='!loadingGaTraffic'>
            <div id="gaTrafficChart" google-chart chart="chartGaTraffic" agc-on-ready="chartReadyHandler(chartWrapper)"></div>
          </div>
        </div>
      </div>
      <div ng-if="showGaFeatureChart">
        <div class="bi-loader" ng-show='loadingGaFeatures'>Loading chart...<span class="bi-preloader"></span></div>
        <div ng-repeat="(index, chartGaFeature) in chartGaFeatures">
          <div layout="row" ng-show="!loadingGaFeatures">
            <div flex class="bi-chart-title">{{featureGroups[index]}}</div>
          </div>
          <div layout="row">
            <div class="bi-chart">
              <div ng-if='!loadingGaFeatures'>
                <div id="gaFeatureChart" google-chart chart="chartGaFeature" agc-before-draw="onBeforeDraw(chartWrapper)"
                     agc-on-ready="chartUsersReady()"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 2px;">&nbsp;</div>
</div>
