<!--<div class="bi-chart-container">-->
  <div layout="row">
    <div><div class="bi-chart-title country-target-title">User Targets by Country</div>
      <!-- info popup -->
      <div class="bi-guide country-target-tip">
        <div class="text new-user-text"><i class="fa fa-info-circle"></i></div>
        <div class="info by-app-info">
          <strong>This graph is currently supported for year 2017 only.</strong>
          <div class="title">
            Color of the progress bar:
          </div>
          <div>
            It indicates whether the Achieved numbers are proportional to the number of Days Elapsed in the
            year to
            achieve the Target.
          </div>
          <p class='bi-formula-used'>
            Formula used:
          </p>
          <div class="formula" layout='column'>
            <div>
              <div layout='row'>
                <span flex='30'>Achieved Status </span> =&nbsp;<span flex='60'>Achieved / Target</span>
              </div>
              <div layout='row'>
                <span flex='30'>Days Elapsed</span> =&nbsp;<span flex='60'>Number of days elapsed in the year (till last updated date) /  365 days</span>
              </div>
            </div>
          </div>
          <div>
            <p>If the ratio of Achieved Status / Days Elapsed is:</p>
            <div layout='row'><span flex='35'>&gt;= 90%</span> <span
              class="label-success progress-color-font">Green</span></div>
            <div layout='row'><span flex='35'>&gt;= 70% and &lt; 90%</span> <span
              class="label-warning progress-color-font"> Amber </span></div>
            <div layout='row'><span flex='35'>&lt; 70%</span> <span
              class="label-danger progress-color-font"> Red </span></div>
          </div>
        </div>
      </div>
      <!-- END: info popup -->
    </div>
  </div>

  <div class="bi-chart">
    <div ng-if="appData.length < 1" class="bi-apps">
      <div class="text-center alert alert-danger">No data available</div>
    </div>
    <div class='bi-projects-table' layout="column">
      <!-- header -->
      <div layout="row">
        <div flex="25" class="bi-column-title top10">COUNTRY</div>
        <div flex="60" class="bi-column-title bi-bottom dotted" layout-align="center center">
          <div flex-offset="35">
            <span class="new-users-header">NEW USERS</span>
            <!-- info popup -->
            <div class="bi-guide new-users-tip">
              <div class="text new-user-text"><i class="fa fa-info-circle"></i></div>
              <div class="info by-app-info">
                <div>The number of users that are new to the application in the selected year.</div>
                <div>Example:</div>
                <ol>
                  <li>User1 registered in 2016 with App1. This user will be counted as New User of App1 in 2016.
                  </li>
                  <li>Same user accessed App2 for the first time in 2017. The user will be counted as New User of
                    App2 in
                    2017.
                  </li>
                </ol>
              </div>
            </div>
            <!-- END: info popup -->
          </div>
        </div>
        <div flex="15" class="bi-column-title top10 text-right">
          <span class="new-users-header">ACTIVE USERS</span>
          <span class="bi-guide new-users-tip">
                <span class="info by-app-info active-users">Total number of unique users who logged into the application at least once during the selected year</span>
                <span class="text new-user-text"><i class="fa fa-info-circle"></i></span>
            <!--<span class="info by-app-info">Total number of unique users who logged into the application at least once during the selected year</span>-->
               </span>
        </div>
      </div>
      <div layout="row">
        <div flex="20"></div>
        <div class="bi-column-title bi-new-user-cell" flex-offset="5" flex="30">
          <div class="col-md-3">Achieved</div>
          <div class="col-md-1">/</div>
          <div>Target</div>
        </div>
        <div class="bi-column-title bi-new-user-cell center" flex="20">Status</div>
        <div class="bi-column-title" flex="15">&nbsp;</div>
        <div class="bi-column-title" flex="10">&nbsp;</div>
      </div>
      <!-- END: header -->
      <div layout="row" ng-repeat="(index,country) in appCountryTargets">
        <div ng-show="index < showLimit" flex="25" class="bold bi-project-row right-breaker" ng-class="{'bi-top':$first}">
          <a ng-show="country.members.length === 1 && country.clusterCode !== 'OTHER'" ng-click="selectCountry({name: country.member, code: country.countryCode})" href="">{{country.clusterName}}</a>
          <span ng-show="country.members.length > 1 || country.clusterCode === 'OTHER'">{{country.clusterName}}</span>
          <span ng-show="country.members.length > 1" class="bi-guide">
                <span class="text info-right"><i class="fa fa-info-circle"></i></span>
                <span class="info info-row">
                    <ul>
                      <li ng-repeat="member in country.members">{{member}}</li>
                    </ul>
                </span>
              </span>
        </div>

        <div ng-show="index < showLimit" flex="25" class="bi-project-row" ng-class="{'bi-top':$first}">
          <span class="bold col-md-3">{{country.newUsers|number}}</span>
          <span class="col-md-1">&nbsp;/</span>
          <span class="col-md-3">{{country.target|number}}</span>
        </div>
        <div ng-show="index < showLimit" flex="25" class="bi-project-row" ng-class="{'bi-top':$first}">
          <div class="bi-progress">
            <uib-progressbar type="{{country.type}}" value="country.newUsers" max="country.target"></uib-progressbar>
          </div>
        </div>
        <div ng-show="index < showLimit" flex="10" class="text-right bi-project-row right-breaker" ng-class="{'bi-top':$first}">
          <span>{{country.achievedPercentage | number}}%</span>
        </div>
        <div ng-show="index < showLimit" flex="15" class="text-right bi-project-row" ng-class="{'bi-top':$first}">
          <span>{{(country.activeUsers ? country.activeUsers : '-')}}</span>
        </div>
      </div>
      <div class="bold show-more-less"><a ng-show="showLimit < appCountryTargets.length" href="" ng-click="showMore(appCountryTargets.length)">>> SHOW MORE</a></div>
      <div class="bold show-more-less"><a ng-show="showFrom > 0 && showLimit >= appCountryTargets.length" href="" ng-click="showLess()"><< SHOW LESS</a></div>
    </div>
    <!--<div flex-offset="85" flex-offset-sm="70" flex-offset-xs="60" ng-click="showAppDataTable()" class="bi-show-table-btn">SHOW TABLE</div>-->
  </div>
<!--</div>-->
