<div class="containerArea" data-ng-controller="cceCtrl as vm">
    <div class="rowTable">
        <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left seprate column">
            <ccc-app pace-data-reg-user="vm.paceDataRegUser"
                     pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod"></ccc-app>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">
            &nbsp;
        </div>
    </div>
</div>
