<div class="containerArea" data-ng-controller="homeCtrl as vm">

  <!--  <div class="clearfix">
       Pagination Top
      <ul id="homePageUl1" class="pagination pull-right">
        <li id="homePageLi1_1"  ng-class="vm.isActive(1)">
          <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 1)"
              title="Easy Quote | Clipsal Wishlist">1</a>
        </li>
        <li id="homePageLi1_2" ng-class="vm.isActive(2)">
          <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 2)"
              title="Global Meter App | Closed Loop">2</a>
        </li>
        <li id="homePageLi1_3" ng-class="vm.isActive(3)">
          <a href="javascript:void(0)" ng-click="vm.loadPage($event, 3)"
             title="Mix n Match | MEA">3</a>
        </li>
        <li id="homePageLi1_4" ng-class="vm.isActive(4)">
          <a href="javascript:void(0)" ng-click="vm.loadPage($event, 4)"
             title="WiseUp">4</a>
                  <a href="javascript:void(0)" ng-click="vm.loadPage($event, 4)"
                     title="MES">4</a>
        </li>
      </ul>
    </div>-->

  <div id="homeContainerMain" class="clearfix home-container-main">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Application <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="p in vm.homeProjects">
          <a ng-href="#{{p.path}}">{{p.name}}</a>
        </li>
      </ul>
    </div>
    <div class="rowTable" ng-if="vm.pageNo == 1">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <easy-quote pace-data="vm.PACEData"></easy-quote>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <clipsal-wishlist></clipsal-wishlist>
      </div>
    </div>
    <div class="rowTable" ng-if="vm.pageNo == 2">
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left seprate column">
        <global-meter-app></global-meter-app>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">
        <closed-loop></closed-loop>
      </div>
    </div>
    <div class="rowTable" ng-if="vm.pageNo == 3">
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left seprate column">
        <mnm-report></mnm-report>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">
        <mea users-reg="vm.paceDataRegUser.meaUsersReg"></mea>
      </div>
    </div>
    <div class="rowTable" ng-if="vm.pageNo == 4">
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">
        <wiseup users-reg="vm.paceDataRegUser.meaUsersReg"></wiseup>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left seprate column">
        <div class="clearfix">&nbsp;</div>
      </div>

      <!--				<div class="col-md-6 col-sm-12 col-xs-12 no-padding-left seprate column">
                <mes users-reg="vm.paceDataRegUser.mesUsersReg"></mes>
              </div>-->
    </div>
  </div>

  <!-- Pagination Bottom-->
  <!--  <div class='clearfix'>
      <ul id="homePageUl1" class="pagination pull-right">
        <li id="homePageLi1_1"  ng-class="vm.isActive(1)">
          <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 1)"
              title="Easy Quote | Clipsal Wishlist">1</a>
        </li>
        <li id="homePageLi1_2" ng-class="vm.isActive(2)">
          <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 2)"
              title="Global Meter App | Closed Loop">2</a>
        </li>
        <li id="homePageLi1_3" ng-class="vm.isActive(3)">
          <a href="javascript:void(0)" ng-click="vm.loadPage($event, 3)"
             title="Mix n Match | MEA">3</a>
        </li>
        <li id="homePageLi1_4" ng-class="vm.isActive(4)">
          <a href="javascript:void(0)" ng-click="vm.loadPage($event, 4)"
             title="WiseUp">4</a>
                  <a href="javascript:void(0)" ng-click="vm.loadPage($event, 4)"
                     title="MES">4</a>
        </li>
      </ul>
    </div>-->
</div>