<!--<div class="containerArea" data-ng-controller="othersCtrl as vm">-->

  <!--&lt;!&ndash; Pagination Top&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="clearfix">&ndash;&gt;-->
    <!--&lt;!&ndash;<ul id="othersPageUl1" class="pagination pull-right">&ndash;&gt;-->
      <!--&lt;!&ndash;<li id="othersPageLi1_1"  ng-class="vm.isActive(1)">&ndash;&gt;-->
        <!--&lt;!&ndash;<a  href="javascript:void(0)" ng-click="vm.loadPage($event, 1)"&ndash;&gt;-->
            <!--&lt;!&ndash;title="{{vm.pageTitle1}}">1</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

  <!--<div id="othersContainerMain" class="clearfix">-->
    <!--<div class="rowTable" ng-if="vm.pageNo == 1">-->
      <!--&lt;!&ndash;<div class="col-md-6 col-sm-12 col-xs-12 no-padding-left seprate column">&ndash;&gt;-->
      <!--<div class="col-md-6 col-sm-12 col-xs-12 no-padding-left">-->
        <!--<ecorealmv pace-data-reg-user="vm.paceDataRegUser"-->
                   <!--pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod"></ecorealmv>-->
      <!--</div>-->
      <!--<div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">-->
        <!--<saferepository pace-data-reg-user="vm.paceDataRegUser"-->
                   <!--pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod"></saferepository>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash; Pagination Bottom&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="clearfix">&ndash;&gt;-->
    <!--&lt;!&ndash;<ul id="othersPageUl2" class="pagination pull-right">&ndash;&gt;-->
      <!--&lt;!&ndash;<li id="othersPageLi2_1" ng-class="vm.isActive(1)">&ndash;&gt;-->
        <!--&lt;!&ndash;<a  href="javascript:void(0)" ng-click="vm.loadPage($event, 1)" title="{{vm.pageTitle1}}">1</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--</div>-->

<div class="containerArea" data-ng-controller="othersCtrl as vm">
  <div id="othersContainerMain" class="clearfix">
    <div class="rowTable" ng-if="vm.pageNo == 1">
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left">
        <ecorealmv pace-data-reg-user="vm.paceDataRegUser"
                   pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod"></ecorealmv>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right">
        <saferepository pace-data-reg-user="vm.paceDataRegUser"
                        pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod"></saferepository>
      </div>
    </div>
  </div>
</div>
