<div class="containerArea" data-ng-controller="reportCtrl as vm">

    <!-- Pagination Top-->
    <div>
        <ul id="workPageUl1" class="pagination pull-right">
            <li id="workPageLi1_1"  ng-class="vm.isActive(1)" >
                <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 1)"
                    class="pagination-fixed-width"
                    title="{{vm.pageTitle1}}">{{vm.pageTitle1}}</a>
            </li>
            <li id="workPageLi1_2" ng-class="vm.isActive(2)" >
                <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 2)"
                    class="pagination-fixed-width"
                    title="{{vm.pageTitle2}}" >{{vm.pageTitle2}}</a>
            </li>
			<!--            <li id="workPageLi1_3" ng-class="vm.isActive(3)" >
							<a  href="javascript:void(0)" ng-click="vm.loadPage($event, 3)"
								class="pagination-fixed-width"
								title="{{vm.pageTitl3}}" >{{vm.pageTitle3}}</a>
						</li>-->
        </ul>

        <div id="reportContainerMain">
            <div class="rowTable" ng-if="vm.pageNo == 1">
                <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left seprate column">
                    <e-plan-company></e-plan-company>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">
                    <e-plan-product-group></e-plan-product-group>
                </div>
            </div>
            <div class="rowTable" ng-if="vm.pageNo == 2">
                <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left seprate column">
                    <bim-general-download></bim-general-download>
                    <div>
                        <br/>
                    </div>
                    <bim-user-download></bim-user-download>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">
                    <bim-view-download></bim-view-download>
                </div>
            </div>
			<!--            <div class="rowTable" ng-if="vm.pageNo == 3">
							<div class="col-md-12 col-sm-12 col-xs-12 no-padding-left seprate column">
								<trace-part-download></trace-part-download>
							</div>
						</div>-->
        </div>

        <ul id="workPageUl1" class="pagination pagination-fixedWidth pull-right">
            <li id="workPageLi1_1"  ng-class="vm.isActive(1)">
                <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 1)"
                    class="pagination-fixed-width"
                    title="{{vm.pageTitle1}}">{{vm.pageTitle1}}</a>
            </li>
            <li id="workPageLi1_2" ng-class="vm.isActive(2)">
                <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 2)"
                    class="pagination-fixed-width"
                    title="{{vm.pageTitle2}}" >{{vm.pageTitle2}}</a>
            </li>
			<!--            <li id="workPageLi1_3" ng-class="vm.isActive(3)" >
							<a  href="javascript:void(0)" ng-click="vm.loadPage($event, 3)"
								class="pagination-fixed-width"
								title="{{vm.pageTitl3}}" >{{vm.pageTitle3}}</a>
						</li>-->
        </ul>
    </div>

</div>
