<button ng-click="showSimpleToast()" class = "se-btn-blue se-btn-normal" style="margin-top:10px;">
  Simple Toaster
</button>

<button ng-click="showCustomToast()" class = "se-btn-blue se-btn-normal" style="margin-top:10px;">
  Custom Toaster
</button>

<button ng-click="showActionToast()" class = "se-btn-blue se-btn-normal" style="margin-top:10px;">
  Action Toaster
</button>
