<div class="container" style="margin-top: 10px">

  <div class="row">
    <div ng-show="stickyFooterDemo">  <!-- sticky Footer contents clearing scope starts here -->
      <!--button-->
      <div class="panel panel-default" >
        <div class="panel-heading">Button</div>
        <div class="panel-body">
          <input type="button" class="se-btn se-btn-blue se-btn-small" value="Small" se-access-control="'GUEST'">
          <input type="button"  class="se-btn se-btn-light-green se-btn-normal" value="Normal" se-access-control="'ADMIN'">
          <input type="button"  class="se-btn se-btn-white se-btn-normal" value="Small">
          <input type="button"  class="se-btn se-btn-green se-btn-normal" value="Normal">
        </div>
      </div>
      <!--form elements-->
      <div class="panel panel-default">
        <div class="panel-heading">Form elements</div>
        <div class="panel-body">
          <div class="form-group se-form-group">
            <label for="userName">User Name</label>
            <input type="text" class="form-control se-form-control" id="userName" placeholder="UserName">
          </div>
          <!-- checkbox links -->
          <span class="checkbox">
            <input id="checkbox1"  type="checkbox" checked="checked" ng-model="seFirstCheckBox" name="firstCheckbox" ng-true-value="'Checkbox1 clicked'" ng-false-value="'No'" ng-change="checkboxClickTest()">
            <label for="checkbox1">Checkbox : {{seFirstCheckBox}}</label>
          </span>
          <span class="checkbox">
            <input id="checkbox2"  ng-model="seSecondCheckBox" type="checkbox"  name="secondCheckbox" ng-true-value="'Checkbox2 clicked'" ng-false-value= "'No'" ng-change="checkboxClickTest()">
            <label for="checkbox2">Checkbox : {{seSecondCheckBox}}</label>
          </span>
          <!-- radio links -->
          <span class="radio">
            <input id="radio1" ng-model="seColorName" value="red" name="red" type="radio" checked="" ng-change="radioButtonClickTest()">
            <label for="radio1">Red</label>
          </span>
          <span class="radio">
            <input id="radio2" ng-model="seColorName" value="green" name="green" type="radio" checked="" ng-change="radioButtonClickTest()">
            <label for="radio2">Green</label>
          </span>
          <span>Current Colour for radio links : {{seColorName}}</span>
          <br/><br/>
          <!-- selectos links -->
          <div>Selectors</div>
          <div class="checkboxSelector">
            <input id="selector1"  type="checkbox" type="checkbox" checked="checked" ng-model="multiSelector1" name="selector1" ng-true-value="'Selector1 clicked'" ng-false-value="'No'" ng-change="multiSelectClickTest()"/>
            <label for="selector1"></label>
          </div>
          Selector1 : {{multiSelector1}}
          <div class="checkboxSelector">
            <input id="selector2"  type="checkbox" type="checkbox" checked="checked" ng-model="multiSelector2" name="selector2" ng-true-value="'Selector2 clicked'" ng-false-value="'No'" ng-change="multiSelectClickTest()"/>
            <label for="selector2"></label>
          </div>
          Selector2 : {{multiSelector2}}

        </div>
      </div>
      <!--alerts-->
      <div class="panel panel-default">
        <div class="panel-heading">Alerts</div>
        <div class="panel-body">
          <div class="alert alert-success se-theme" role="alert">
            <strong>Well done!</strong> You successfully read this important alert message.
          </div>
          <div class="alert alert-info se-theme" role="alert">
            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
          </div>
          <div class="alert alert-warning se-theme" role="alert">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
          </div>
        </div>
      </div>
      <!--links-->
      <div class="panel panel-default">
        <div class="panel-heading">Links</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4 col-md-12 col-lg-12 col-sm-4">
              <a href=""> > Make a good start</a><br/>
              <p>Lorem ipsum sed <span class="se-link-light-green">nonummyu</span> lorem <a href=""  class="se-link-blue"> Click here</a> lorem inpusm nonum sednum</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-md-12 col-lg-12 col-sm-4 ">
              <span class="se-link-light-green"> > Watch the demo</span><br/>
              <span class="se-link-blue"> > Download the white paper</span>
            </div>
          </div>
        </div>
      </div>

      <!--Carousel-->
      <div class="panel panel-default">
        <div class="panel-heading">Carousel</div>
        <div class="panel-body">
          <div class="col-lg-6 col-md-6 col-sm-9 col-xs-12">
            <se-carousel slides="slides"></se-carousel>
          </div>
        </div>
      </div>
      <!--Collapse menu-->
      <div class="panel panel-default">
        <div class="panel-heading">Collapse Menu</div>
        <div class="panel-body">
          <se-quicklink collapse-links="collapseLinks"></se-quicklink>
        </div>
      </div>
      <!--Page & Navigation link-->
      <div class="panel panel-default">
        <div class="panel-heading">Page/Navigation link</div>
        <div class="panel-body">
          <div class="bs-example">

            <div class="col-sm-1 se-page-navigation-wrapper">
              <span class="se-btn-arrow"><i class="angle-right-small"></i></span>
            </div>

            <div class="col-sm-1 se-page-navigation-wrapper">
              <span class="se-btn-arrow"><i class="angle-right-lg"></i></span>
            </div>

            <span class="se-btn-expandCollapse"><i class="fa fa-plus-circle"></i></span>

          </div>
        </div>
      </div>
      <!--Modal Window-->
      <div class="panel panel-default">
        <div class="panel-heading">Modal Window</div>
        <div class="panel-body">
          <div class="bs-example">
            <!-- Button trigger modal -->
            <button type="button" class="btn se-btn-blue se-btn-normal" data-toggle="modal" data-target="#myModal">
              Launch demo modal
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content se-modal-content ">
                  <div class="modal-header se-modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <span class="modal-close"></span>
                    </button>
                    <h4 class="modal-title se-modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est l
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/><br/>
          <div class="bs-example">
            <!-- Button trigger modal -->
            <button type="button" class="btn se-btn-blue se-btn-normal" data-toggle="modal" data-target="#myModal2">
              Launch Modal Window Multi Line
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content se-modal-content ">
                  <div class="modal-header se-modal-header"><button type="button" class="close" data-dismiss="modal">
                      <span class="modal-close"></span>
                    </button>
                    <h4 class="modal-title se-modal-title" id="myModalLabel1">Alert title</h4>
                  </div>
                  <div class="modal-body se-modal-body-multiline">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,      </div>
                  <div class="modal-footer se-modal-footer text-right">
                    <input type="button" class="se-btn se-btn-white se-btn-small" value="Cancel" data-dismiss="modal">
                    <input type="button" class="se-btn se-btn-light-green se-btn-small" value="Save">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/><br/>
          <div class="bs-example">
            <!-- Button trigger modal -->
            <button type="button" class="btn se-btn-blue se-btn-small" data-toggle="modal" data-target="#myAlert">
              Alerts
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content se-modal-content ">
                  <div class="modal-header se-modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <span class="modal-close"></span>
                    </button>
                    <h4 class="modal-title se-modal-title" id="myModalLabel2">Alert title</h4>
                  </div>
                  <div class="modal-body se-modal-body-singleline">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Progress bar-->
      <div class="panel panel-default">
        <div class="panel-heading">Progress bar</div>
        <div class="panel-body">
          <div class="bs-example">
            <div class="progress">
              Success
              <div class="progress-bar progress-bar-success se-theme" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
            <div class="progress">
              Normal
              <div class="progress-bar progress-bar-info se-theme" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">20% Complete</span>
              </div>
            </div>
            <div class="progress">
              Warning
              <div class="progress-bar progress-bar-warning se-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">60% Complete (warning)</span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--Tabs -->
      <div class="panel panel-default">
        <div class="panel-heading">Dropdowns</div>
        <div class="panel-body">
          <div>
            <se-dropdowns label="Select"
                          items="searchCaseList1"
                          class="se-white"
                          ng-model="dropdown1"
                          divider=""></se-dropdowns>
            <se-dropdowns label="Select"
                          items="searchCaseList2"
                          class="se-light-green"
                          ng-model="dropdown2"
                          divider="yes"></se-dropdowns>
            <se-dropdowns label="Select"
                          items="searchCaseList3"
                          class="se-dark-green"
                          ng-model="dropdown3"
                          divider=""></se-dropdowns>
          </div>
        </div>
      </div>

      <!--Tabs -->
      <div class="panel panel-default">
        <div class="panel-heading">Tabs</div>
        <div class="panel-body">
          <se-tabs tabs="tabs"></se-tabs>
        </div>
      </div>

      <!--Tabs with theme 1 -->
      <div class="panel panel-default">
        <div class="panel-heading">Tabs with Theme 1</div>
        <div class="panel-body">
          <se-tabs tabs="tabslightgreen" theme='light-green'></se-tabs>
        </div>
      </div>

      <!--Tabs with theme 2 -->
      <div class="panel panel-default">
        <div class="panel-heading">Tabs with Theme 2</div>
        <div class="panel-body">
          <se-tabs tabs="tabstabunderline" theme='tab-underline'></se-tabs>
        </div>
      </div>

      <!--Progressive tab -->

      <div class="panel panel-default">
        <div class="panel-heading">Progressive tabs with navaigation buttons</div>
        <div class="panel-body prog-tabs-ui">
          <se-progtabs p-tabs="pTabs" ></se-progtabs>
        </div>
      </div>

      <!-- inline html for progressive tab examples -->
      <script type="text/ng-template" id="progtabs.html">
        <div>
        <h3>Tab: {{tab.name}}</h3>
        <pre>tabs: {{ pTabs | json}} </pre>
        </div>
      </script>


      <!-- footer types -->
      <div class="panel panel-default" ng-controller="footerDemo">
        <div class="panel-heading">Footer Types</div>
        <div class="panel-body">
          <p>Choose to change the footer style:
          <se-dropdowns label="Select" items="altFooterShowOptions" class="se-white" ng-model="altFooterShowOption" divider="" ng-change="altFooterShowSelect()"></se-dropdowns>
          </p>
        </div>
      </div>

    </div> <!-- sticky Footer contents clearing scope ends -->

    <!-- Sticky footer -->
    <div class="panel panel-default" ng-controller="footerDemo">
      <div class="panel-heading">Sticky Footer</div>
      <div class="panel-body">
        <p>If the page does not contain content which is beyond the browser's window height, this directive will be useful to set the footer in the bottom of the window. As soon as the page appended with newer contents which results the page height greater than the browser's window height, this directive will reset the "Sticky Footer".</p>
        <button type="button" class="btn se-btn-blue se-btn-normal" ng-if="stickyFooterDemo" ng-click="stickyFooterDemoFn()">
          Clear contents of this page to see "Sticky Footer"
        </button>
        <button type="button" class="btn se-btn-blue se-btn-normal" ng-if="!stickyFooterDemo" ng-click="stickyFooterDemoFn()">
          Restore contents of this page to retain "Existing Footer"
        </button>
      </div>
    </div>

    <br />
    <br />

    <!--Notification component -->
    <div class="notificationComp">
      <notifications-bar class="notifications" closeIcon="fa fa-times-circle"></notifications-bar>
    </div>
    <div class="toaster">
      <se-toaster></se-toaster>
    </div>

  </div>
</div>