<div id="biContainer" class="bi-container" layout="column" layout-fill>
  <div layout="column">
    <!-- data notes shown on landing -->
    <div id="biTopnav" class="bi-top-nav">
      <div class="bi-notes-nav">
        <div layout='row' layout-align='center center'>
          <span>{{dataNotes.updatedTill.text}}: <strong>{{dataNotes.updatedTill.value|date:'d-MMM-yyyy'}}</strong></span>
          <span flex-offset='5' class="bi-guide">
            <div class="text">Data Source</div>
            <div class="info">
              <div>The statistics on this page are based on access log data coming from:</div>
              <ol class="text-left">
                <li>SDK Authentication Brick for tools using online authentication (data available from Nov 2015)</li>
              </ol>
              <div>Internal users have been filtered out. Criteria used is:</div>
              <ul>
                <li>Email id containing @*schneider-electric</li>
                <li>Company names - Schneider, =SE=, =S=, Mphasis, Thales, Hardis, iThink</li>
              </ul>
            </div>
          </span>
        </div>
        <div layout='row' layout-align='center center'>
          {{dataNotes.updatedIn.text}}&nbsp;<strong>{{dataNotes.updatedIn.value}}</strong>
        </div>
      </div>
    </div>
    <!--    <div class="bi-show-notes-btn-nav">
          <div flex-offset="90" class="bi-show-notes-btn" ng-click="toggleNotes()">
            <i ng-show="showNotes" class="fa fa-chevron-up"></i>
            <i ng-hide="showNotes" class="fa fa-chevron-down"></i>
          </div>
        </div>-->
  </div>
  <div layout="column">
    <div flex flex-offset="45" layout="row" class="bi-year-dropdown">
      <span class="bi-year">Year :</span>
      <!-- year dropdown -->
      <span uib-dropdown>
          <span uib-dropdown-toggle class="bi-select-year bi-value" uib-tooltip="Select year" tooltip-placement="right">
            {{selectedYear}}
          </span>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li ng-repeat="year in years" ng-click="selectYear(year)">
              <a href>{{year}}</a>
            </li>
          </ul>
        </span>
    </div>
  </div>
  <!-- summary data -->
  <div layout="column" class="bi-summary-nav" ng-hide=selectedAll>
    <div class="bi-chart-container">
      <div ng-hide="selectedAll" flex flex-offset="40" layout="row" class="exec-summary-text">
          <span class="bi-chart-title">Executive Summary</span>
      </div>
      <!-- end year dropdown -->
      <div ng-hide="selectedAll" layout="row">
      <!-- new year registrations -->
      <div ng-hide="selectedAll" flex-offset="20" flex="20" class="bi-new-year-registration">
        <div class="bi-exec-value">{{registrations[selectedYear]|number}}</div>
        <div>New Users</div>
        <div class="bi-exec-dces-value">
          (DCES Apps)
          <span class="bi-guide">
             <span class="text"><i class="fa fa-info-circle"></i></span>
             <span class="info">Number of registered users who accessed DCES Applications for the first time</span>
          </span>
        </div>
      </div>
      <div flex="25" flex-offset="15" class="bi-new-year-registration">
          <div class="bi-exec-value">{{activeUsers[selectedYear]|number}}</div>
          <div>Active Users</div>
          <div class="bi-exec-dces-value">
          (DCES Apps)
          <span class="bi-guide">
             <span class="text"><i class="fa fa-info-circle"></i></span>
             <span class="info">Number of registered users who accessed DCES Applications at least once during the selected period</span>
          </span>
          </div>
      </div>
      </div>

      <div ng-hide="selectedAll" layout="row">
        <div ng-hide="selectedAll" flex-offset="20" flex="20" class="bi-new-year-registration">
          <div class="bi-exec-value">{{totalBomData[selectedYear]|number}} M&euro;</div>
          <div>Bom Exported</div>
          <div class="bi-exec-dces-value">(Ecoreal 630 only)</div>
        </div>
        <div flex="25" flex-offset="15" class="bi-new-year-registration">
          <div class="bi-exec-value">{{totalUserRegistrations[selectedYear]|number}}</div>
          <div>User Registrations</div>
          <div class="bi-exec-dces-value">
            (DCES Apps + Other Apps)
            <span class="bi-guide">
             <span class="text"><i class="fa fa-info-circle"></i></span>
             <span class="info">All apps using SDK authentication brick</span>
            </span>
          </div>
        </div>
      </div>
      <!-- export data button -->
      <!--<span flex-offset="5">-->
      <!--<button class="se-btn bi-export-data-btn" ng-click="exportRegistrationData()">EXPORT DATA</button>-->
      <!--</span>-->
    </div>
  </div>
  <!-- load charts -->
  <div layout="column">
    <div>
      <!--<div id="atrend"></div>-->
      <div class="bi-chart-container">
        <div layout='row'>
          <div flex="25" class="bi-chart-title">{{sectionTitles.registrationChart}}</div>
          <div class="bi-guide">
            <span class="text"><i class="fa fa-info-circle"></i></span>
            <span class="info">
              <ul>
                <li>New Users: Number of registered users who accessed DCES Applications for the first time</li>
                <li>Active Users: Number of registered users who accessed DCES Applications at least once during the selected period</li>
              </ul>
            </span>
          </div>
        </div>
        <div layout="row">
          <!--<md-tabs ng-if="!loadingSummary" md-disable-animation md-selected="periodIndex">-->
          <div flex="60">
            <md-tabs md-disable-animation ng-if="!loadingSummary" md-selected="period.index">
              <md-tab ng-if="!selectedAll && (currentYear == selectedYear)" label="Daily"
                      ng-click="initRegistrationsChart(0)"></md-tab>
              <md-tab ng-if="!selectedAll" label="Weekly" ng-click="initRegistrationsChart(1)"></md-tab>
              <md-tab ng-if="!selectedAll" label="Monthly" ng-click="initRegistrationsChart(2)"></md-tab>
              <md-tab ng-if="selectedAll" label="Yearly" ng-click="initRegistrationsChart(3)"></md-tab>
            </md-tabs>
          </div>
          <div flex="40" class="legend-container">
            <ul class="legend">
              <li><span class="new-user"></span>New Users</li>
              <li ng-show="showActiveUsers"><span class="active-user"></span>Active Users</li>
            </ul>
          </div>
        </div>
        <div layout='column'>
          <div class="bi-chart">
            <div class="bi-loader" ng-if='loadingSummary'>Loading chart...<span class="bi-preloader"></span></div>
            <div ng-if='!loadingSummary'>
            <div id="userChart" google-chart chart="chartRegistrations" agc-on-ready="chartReadyHandler(chartWrapper)"></div>
            </div>
          </div>
        </div>
        <div>
        </div>
        <md-button class="md-fab md-raised bi-scroll-btn down" ng-click="scrollDown()">
          <i class="fa fa-angle-double-down"></i>
        </md-button>
      </div>
    </div>
    <!-- USERS BY COUNTRY tree map -->
    <div class="bi-chart-bg bi-shaded">
      <div id="acountry"></div>
      <div class="bi-chart-container country-chart">
        <div layout='row'>
          <div flex="25" class="bi-chart-title">{{sectionTitles.usersByCountry}}</div>
          <div class="bi-guide">
            <span class="text"><i class="fa fa-info-circle"></i></span>
            <span class="info">
                <ul>
                  <li>It shows country-wise distribution of users for the selected year</li>
                  <li>Country is based on the selection made by the user in the registration form</li>
                </ul>
              </span>
          </div>
          <span flex-offset="10" class="bi-tab" ng-click="initCountryData('new')"
                ng-class="{active: countryUsersType === 'new'}">New Users</span>
          <!--<div class="bi-guide">
            <span class="text"><i class="fa fa-info-circle"></i></span>
            <span class="info">
                <ul>
                  <li>It shows country-wise distribution of new users who registered through SW applications during the selected year</li>
                  <li>Country is based on the selection made by the user in the registration form</li>
                </ul>
              </span>
          </div>-->
          <span ng-if="showActiveUserByCountry" flex-offset="10" class="bi-tab" ng-click="initCountryData('total')"
                ng-class="{active: countryUsersType === 'total'}">Active Users</span>
         <!-- <div ng-if="showActiveUserByCountry" class="bi-guide">
            <div class="text"><i class="fa fa-info-circle"></i></div>
            <div class="info">
              <ul>
                <li>It shows country-wise distribution of total users who logged in at least once during the selected
                  year
                </li>
                <li>Country is based on the selection made by the user in the registration form</li>
              </ul>
            </div>
          </div>-->

        </div>
        <!-- chart -->
        <div class="bi-chart">
          <div class="bi-loader" ng-if='loadingCountryChart'>Loading chart...<span class="bi-preloader"></span></div>
          <div ng-if="!loadingCountryChart">
            <div id="countryChart" google-chart chart="chartRegistrationByCountries"></div>
            <div flex-offset="80" flex-offset-sm="65" flex-offset-xs="55" ng-click="showCountryTable()"
                 class="bi-show-table-btn" data-toggle="modal" data-target="#countryModal">SHOW COMPLETE LIST
            </div>
          </div>
        </div>
      </div>

      <!-- modal -->
      <div class="modal fade" id="countryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content se-modal-content ">
            <div class="modal-header se-modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span class="modal-close"> </span>
              </button>
              <h4 class="modal-title se-modal-title" style="font-size: 18px;" id="myModalLabel">Users by Country</h4>
            </div>
            <div class="modal-body">
              <div class="bi-modal-data">
                <table class="table table-condensed table-bordered table-striped">
                  <thead>
                  <tr>
                    <td width="50%">Country name</td>
                    <td width="25%" align="right">New Users</td>
                    <td width="25%" align="right" ng-if="viewCountryData[0].totalUsers">Active Users</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="d in viewCountryData">
                    <td>{{d.countryName}}</td>
                    <td align="right">{{d.newUsers}}</td>
                    <td align="right" ng-if="viewCountryData[0].totalUsers">{{d.totalUsers}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: modal -->

      <!--      <md-button class="md-raised bi-scroll-btn up" ng-click="goToAnchor('atrend')">
              <i class="fa fa-angle-double-up"></i>
            </md-button>-->
    </div>
    <!-- END: USERS BY COUNTRY tree map -->

    <!-- USERS BY APPLICATIONS -->
    <div class="bi-chart-container">
      <div layout="row">
        <div flex="30"><span class="bi-chart-title">{{sectionTitles.appTable}}</span></div>
      </div>

      <div class="bi-chart">
        <div ng-if="appData.length < 1" class="bi-apps">
          <div class="text-center alert alert-danger">No data available</div>
        </div>
        <!-- show chart -->
        <!--        <div ng-if="isAppType('graph') && isCurrentYear()">
                  <div ng-if="appData.length > 0" class="bi-bar-chart" google-chart chart="chartApps"></div>
                </div>-->
        <!-- show table -->
        <!--<div ng-if="isCurrentYear()" class='bi-projects-table'>-->
        <div class='bi-projects-table' layout="column" ng-if='appData.length > 0'>
          <!-- header -->
          <div layout="row">
            <div flex="25" class="bi-column-title top10">APPLICATION NAME</div>
            <div flex="60" class="bi-column-title bi-bottom dotted" layout-align="center center">
              <div flex-offset="35">
                <span class="new-users-header">NEW USERS</span>
                <!-- info popup -->
                <div class="bi-guide new-users-tip">
                  <div class="text new-user-text"><i class="fa fa-info-circle"></i></div>
                  <div class="info by-app-info">
                    <div>It shows the number of users that are new to the application in the selected year.
                      <strong>Currently
                        supported for year 2017 only.</strong></div>
                    <div>Example:</div>
                    <ol>
                      <li>User1 registered in 2016 with App1. This user will be counted as New User of App1 in 2016.
                      </li>
                      <li>Same user accessed App2 for the first time in 2017. The user will be counted as New User of
                        App2 in
                        2017.
                      </li>
                    </ol>

                    <div class="title">
                      Color of the progress bar:
                    </div>
                    <div>
                      It indicates whether the Achieved numbers are proportional to the number of Days Elapsed in the
                      year to
                      achieve the Target.
                    </div>
                    <p class='bi-formula-used'>
                      Formula used:
                    </p>
                    <div class="formula" layout='column'>
                      <div>
                        <div layout='row'>
                          <span flex='30'>Achieved Status </span> =&nbsp;<span flex='60'>Achieved / Target</span>
                        </div>
                        <div layout='row'>
                          <span flex='30'>Days Elapsed</span> =&nbsp;<span flex='60'>Number of days elapsed in the year (till last updated date) /  365 days</span>
                        </div>
                      </div>
                    </div>
                    <div>
                      <p>If the ratio of Achieved Status / Days Elapsed is:</p>
                      <div layout='row'><span flex='35'>&gt;= 90%</span> <span
                        class="label-success progress-color-font">Green</span></div>
                      <div layout='row'><span flex='35'>&gt;= 70% and &lt; 90%</span> <span
                        class="label-warning progress-color-font"> Amber </span></div>
                      <div layout='row'><span flex='35'>&lt; 70%</span> <span
                        class="label-danger progress-color-font"> Red </span></div>
                    </div>
                  </div>
                </div>
                <!-- END: info popup -->
              </div>
            </div>
            <div flex="15" class="bi-column-title top10 text-right">
              <span class="new-users-header">ACTIVE USERS</span>
              <span class="bi-guide new-users-tip">
                <span class="info by-app-info active-users">Total number of unique users who logged into the application at least once during the selected year</span>
                <span class="text new-user-text"><i class="fa fa-info-circle"></i></span>
                <!--<span class="info by-app-info">Total number of unique users who logged into the application at least once during the selected year</span>!-->
               </span>
            </div>
          </div>
          <div layout="row">
            <div flex="20"></div>
            <div class="bi-column-title bi-new-user-cell" flex-offset="5" flex="30">
              <div class="col-md-3">Achieved</div>
              <div class="col-md-1">/</div>
              <div>Target</div>
            </div>
            <div class="bi-column-title bi-new-user-cell center" flex="20">Status</div>
            <div class="bi-column-title" flex="15">&nbsp;</div>
            <div class="bi-column-title" flex="10">&nbsp;</div>
          </div>
          <!-- END: header -->
          <div layout="row" ng-repeat="app in appData">
            <div flex="25" class="bold bi-project-row right-breaker" ng-class="{'bi-top':$first}">
              <!--<a ng-if="hasLink(app.appId)" ng-href="#/byapps/{{app.appId}}">{{app.appName}}</a>-->
              <a ng-href="#/byapps/{{app.appId}}">{{app.appName}}</a>
              <!--<span ng-if="!hasLink(app.appId)">{{app.appName}}</span>-->
              <span class="bi-guide">
                <span ng-show="appGroups[app.appName]" class="text info-right"><i class="fa fa-info-circle"></i></span>
                <span ng-if="appGroups[app.appName]" class="info info-row">
                  <span ng-show="appGroups[app.appName].length === 1">{{appGroups[app.appName][0]}}</span>
                  <ul ng-show="appGroups[app.appName].length > 1">
                    <li ng-show="app.appName === 'Ecodial Desktop'">The numbers are for Ecodial desktop versions using online authentication</li>
                    <li>Separate target is not available for this application</li>
                    <li>Total target: {{app.target|number}} includes the following additional applications</li>
                    <ul>
                      <li ng-repeat="sub in appGroups[app.appName]">{{sub}}</li>
                    </ul>
                  </ul>
                </span>
              </span>
            </div>

            <div flex="25" class="bi-project-row" ng-class="{'bi-top':$first}">
              <span class="bold col-md-3">{{app.newUsers|number}}</span>
              <span class="col-md-1">&nbsp;/</span>
              <span ng-if="app.target && (!appGroups[app.appName] || appGroups[app.appName].length <= 1)" class="col-md-3">{{app.target|number}}</span>
              <span ng-if="app.target <=0 || appGroups[app.appName].length > 1" class="col-md-3">0</span>
            </div>
            <div flex="25" class="bi-project-row" ng-class="{'bi-top':$first}">
              <div class="bi-progress" ng-if="app.target && (!appGroups[app.appName] || appGroups[app.appName].length <= 1)">
                <uib-progressbar type="{{app.type}}" value="app.newUsers" max="app.target"></uib-progressbar>
              </div>
              <span ng-if="app.target <= 0 || appGroups[app.appName].length > 1">Target not available</span>
            </div>
            <div flex="10" class="text-right bi-project-row right-breaker" ng-class="{'bi-top':$first}">
              <span ng-show="app.target && (!appGroups[app.appName] || appGroups[app.appName].length <= 1)">{{app.achievedPercent| number}}%</span>
              <span ng-hide="app.target">&nbsp;</span>
            </div>
            <div flex="15" class="text-right bi-project-row" ng-class="{'bi-top':$first}">
              <span>{{(app.totalUsers ? app.totalUsers : '-')}}</span>
            </div>
          </div>
        </div>
        <!--<div flex-offset="85" flex-offset-sm="70" flex-offset-xs="60" ng-click="showAppDataTable()" class="bi-show-table-btn">SHOW TABLE</div>-->
      </div>
    </div>
    <md-divider class="medium-border"></md-divider>
      <!-- END: USERS BY APPLICATIONS -->
   <!-- <div class="bi-chart-bg">-->
      <div class="bi-chart-container bom-chart">
        <div layout='row' class="bom-chart-container">
          <div flex="40" class="bi-chart-title">BOM Exported (In K&euro;)</div>
          <div flex="60" class="bi-top-label">
           Total BOM Exported: <span class="bi-value">{{totalBomData.total|number}} K&euro;</span> (till date)
          </div>
        </div>
        <div ng-show="!showBomChart">
          <div class="text-center alert alert-danger">No data available</div>
        </div>
        <div layout="row" ng-hide="!showBomChart">
          <!--<md-tabs ng-if="!loadingSummary" md-disable-animation md-selected="periodIndex">-->
          <div flex="60">
            <md-tabs md-disable-animation ng-if="!loadingBomSummary" md-selected="bomPeriod.index">
              <md-tab  label="Weekly" ng-click="initBomChart(1)"></md-tab>
              <md-tab  label="Monthly" ng-click="initBomChart(2)"></md-tab>
            </md-tabs>
          </div>
          <div flex="40" class="legend-container">
            <ul class="legend">
              <li><span class="new-user"></span>Ecoreal 630</li>
            </ul>
          </div>
        </div>
        <div layout='column' ng-hide="!showBomChart">
          <div class="bi-chart">
            <div class="bi-loader" ng-if='loadingBomSummary'>Loading chart...<span class="bi-preloader"></span></div>
            <div ng-if='!loadingBomSummary'>
              <div id="bomChart" google-chart chart="chartBomExported" agc-on-ready="chartReadyHandler(chartWrapper)"></div>
            </div>
          </div>
        </div>
      </div>
   <!-- </div>-->
      <!-- feedback -->
      <div layout='column'>
        <div class="bi-chart-container">
          <div class='bi-feedback-container'>
            <div class='bi-feedback-top'></div>
            <div class='text'>What do you think about this page?</div>
            <form name='feedbackForm'>
              <div>
                <label class='bi-like-btn'><input type='radio' name='likedislike' ng-model="feedback.likedislike"
                                                  value='like'> <i class='fa fa-thumbs-up'></i></label>
                <label class='bi-like-btn'><input type='radio' name='likedislike' ng-model="feedback.likedislike"
                                                  value='dislike'> <i class='fa fa-thumbs-down'></i></label>
              </div>
              <div>
                <div><textarea placeholder="comments (optional)" class='bi-feedback' rows="4"
                               ng-model='feedback.comment'></textarea></div>
              </div>
              <!-- submit button -->
              <div>
                <md-button class='md-raised md-mini' ng-click='submitFeedback()'>Submit</md-button>
              </div>
              <div layout='column' layout-align='center center'>
                <div ng-if='feedback.showThanks'><strong>{{feedback.thanks}}!</strong></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
