<md-toast>
  <div class="toasterContainer">
    <h4 class = "toasterHeaderClass">{{toastObj.header| translate}}</h4>
  </div>
  <div flex>{{toastObj.message| translate}}</div>
  <md-button ng-click="closeToast()">
    Close
  </md-button>
</md-toast>
