<div class="containerArea" data-ng-controller="workCtrl as vm">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Application <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li ng-repeat="p in vm.workProjects">
        <a ng-href="#{{p.path}}">{{p.name}}</a>
      </li>
    </ul>
  </div>
  <!-- Pagination Top-->
  <!--  <div class="clearfix">
      <ul id="workPageUl1" class="pagination pull-right">
        <li id="workPageLi1_1"  ng-class="vm.isActive(1)">
          <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 1)"
              title="{{vm.pageTitle1}}">1</a>
        </li>
        <li id="workPageLi1_2" ng-class="vm.isActive(2)">
          <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 2)"
              title="{{vm.pageTitle2}}" >2</a>
        </li>
        <li id="workPageLi1_3" ng-class="vm.isActive(3)">
          <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 3)"
              title="{{vm.pageTitle3}}" >3</a>
        </li>
        <li id="workPageLi1_4" ng-class="vm.isActive(4)">
          <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 4)"
              title="{{vm.pageTitle4}}" >4</a>
        </li>
        <li id="workPageLi1_5" ng-class="vm.isActive(5)">
          <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 5)"
              title="{{vm.pageTitle5}}" >5</a>
        </li>
        <li id="workPageLi1_6" ng-class="vm.isActive(6)">
          <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 6)"
              title="{{vm.pageTitle6}}" >6</a>
        </li>
        <li id="workPageLi1_7" ng-class="vm.isActive(7)">
          <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 7)"
              title="{{vm.pageTitle7}}" >7</a>
        </li>
        <li id="workPageLi1_8" ng-class="vm.isActive(8)">
          <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 8)"
              title="{{vm.pageTitle8}}" >8</a>
        </li>
      </ul>
    </div>-->

  <!-- content -->
  <div id="workContainerMain" class="clearfix work-container-main">
    <div class="rowTable" ng-if="vm.pageNo == 1">
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left seprate column">
        <quick-ref ></quick-ref>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">
        <my-pact pace-data-reg-user="vm.paceDataRegUser"
                 pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod">

        </my-pact>
      </div>
    </div>
    <div class="rowTable" ng-if="vm.pageNo == 2">
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left seprate column">
        <ecoreal-quick-quotation630 pace-data-reg-user="vm.paceDataRegUser"
                                    pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod">

        </ecoreal-quick-quotation630>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">
        <cbt pace-data-reg-user="vm.paceDataRegUser"
             pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod">

        </cbt>
      </div>
    </div>
    <div class="rowTable" ng-if="vm.pageNo == 3">
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left seprate column">
        <blm pace-data-reg-user="vm.paceDataRegUser"
             pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod">

        </blm>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">
        <cad-library pace-data-reg-user="vm.paceDataRegUser"
                     pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod">

        </cad-library>
      </div>
    </div>
    <div class="rowTable" ng-if="vm.pageNo == 4">
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left seprate column">
        <smart-selectors pace-data-reg-user="vm.paceDataRegUser"
                         pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod"></smart-selectors>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">
        <berri-soft pace-data-reg-user="vm.paceDataRegUser"
                    pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod"></berri-soft>
      </div>

    </div>
    <div class="rowTable" ng-if="vm.pageNo == 5">
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left seprate column">
        <ecoreal630 pace-data-reg-user="vm.paceDataRegUser"
                    pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod">

        </ecoreal630>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">
        <rapsody pace-data-reg-user="vm.paceDataRegUser"
                 pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod"></rapsody>
      </div>
    </div>
    <div class="rowTable" ng-if="vm.pageNo == 6">
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left  seprate column">
        <eco-dial-desktop pace-data-reg-user="vm.paceDataRegUser"
                          pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod"></eco-dial-desktop>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">
        <eco-reach pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod"></eco-reach>
      </div>
    </div>
    <div class="rowTable" ng-if="vm.pageNo == 7">
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left seprate column">
        <eco-dial-auto-cad-plugin pace-data-reg-user="vm.paceDataRegUser"
                                  pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod"></eco-dial-auto-cad-plugin>

      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">
        <eco-dial-china pace-data-reg-user="vm.paceDataRegUser"
                        pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod"></eco-dial-china>
      </div>

    </div>
    <div class="rowTable" ng-if="vm.pageNo == 8">
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left seprate column">
        <my-nova-buddy pace-data-reg-user="vm.paceDataRegUser"
                       pace-data-reg-user-over-period="vm.paceDataRegUserOverPeriod"></my-nova-buddy>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 no-padding-right column">
        &nbsp;
      </div>
    </div>
  </div>

  <!-- Pagination Bottom-->
<!--  <div class="clearfix">
    <ul id="workPageUl2" class="pagination pull-right">
      <li id="workPageLi2_1" ng-class="vm.isActive(1)">
        <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 1)" title="{{vm.pageTitle1}}">1</a>
      </li>
      <li id="workPageLi2_2" ng-class="vm.isActive(2)">
        <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 2)" title="{{vm.pageTitle2}}" >2</a>
      </li>
      <li id="workPageLi2_3" ng-class="vm.isActive(3)">
        <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 3)" title="{{vm.pageTitle3}}" >3</a>
      </li>
      <li id="workPageLi2_4" ng-class="vm.isActive(4)">
        <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 4)" title="{{vm.pageTitle4}}" >4</a>
      </li>
      <li id="workPageLi1_5" ng-class="vm.isActive(5)">
        <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 5)" title="{{vm.pageTitle5}}" >5</a>
      </li>
      <li id="workPageLi1_6" ng-class="vm.isActive(6)">
        <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 6)" title="{{vm.pageTitle6}}" >6</a>
      </li>
      <li id="workPageLi1_7" ng-class="vm.isActive(7)">
        <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 7)" title="{{vm.pageTitle7}}" >7</a>
      </li>
      <li id="workPageLi1_8" ng-class="vm.isActive(8)">
        <a  href="javascript:void(0)" ng-click="vm.loadPage($event, 8)" title="{{vm.pageTitle8}}" >8</a>
      </li>
    </ul>
  </div>-->
</div>
