<div id="myPactMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Ecoreach </legend>
      <div class="globalFont font-bold" style="text-align: center;">
        <a href="#/byapps/ecoreach">Please visit new dashboard page for Ecoreach</a>
      </div>
    </fieldset>
  </form>
</div>
