<div id="easyQuoteMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold">My Electrician Suite</legend>
      <!--Table-->
      <div class="colTable" >
        <table class="my-table">
          <tr>
            <th colspan="3" class="my-td bold">No. of countries deployed: {{countries.length}}</th>
          </tr>
          <tr>
            <td class="my-td bold" width="50%">&nbsp;</td>
            <td class="my-td bold selected-column" width="25%">
              <select ng-model="selectedCountry" ng-class="globalFont"
                      ng-options="country.countryName for country in countries"
                      ng-change="onCountryDropDownChange()">
              </select>
            </td>
            <td class="my-td bold" width="25%">Total - Worldwide</td>
          </tr>
          <tr>
            <td class="my-td bold alignCenter">Launched in</td>
            <td class="my-td alignCenter selected-column">{{launchDate|date:"dd MMM yy"}}</td>
            <td class="my-td">&nbsp;</td>
          </tr>
          <tr>
            <td data-ng-class="getSelectedRowChartCSS('RegisteredUsers')" class="my-td bold">
              Number of registered users
            </td>
            <td data-ng-class="getSelectedRowChartCSS('RegisteredUsers')"
                class="my-td selected-column" id="registeredUsers"
                ng-disabled="disableRegisteredUsers">&nbsp;
            </td>
            <td data-ng-class="getSelectedRowChartCSS('RegisteredUsers')"
                ng-click="disableRegisteredUsers || onMESChartLinkChange('RegisteredUsers')"
                class="my-td">{{usersReg| number}}
            </td>
          </tr>
          <!--					<tr>
                      <td data-ng-class="getSelectedRowChartCSS('UniqueActiveUsers')"
                        class="my-td bold">No. of active users logged in during past month
                      </td>
                      <td data-ng-class="getSelectedRowChartCSS('UniqueActiveUsers')"
                        class="my-td selected-column" id="uniqueActiveUsers"
                        ng-click="disableUniqueActiveUsers || onMESChartLinkChange('UniqueActiveUsers')"
                        ng-disabled="disableUniqueActiveUsers">
                        {{uniqueActiveUsers| number}}
                      </td>
                      <td data-ng-class="getSelectedRowChartCSS('UniqueActiveUsers')"
                        class="my-td">{{mesTotalUniqueActiveUsers| number}}</td>
                    </tr>
                    <tr>
                      <td class="my-td bold">Number of projects created</td>
                      <td class="my-td selected-column">
                      </td>
                      <td class="my-td"> - </td>
                    </tr>
                    <tr>
                      <td class="my-td bold">Number of projects completed and with a BOM</td>
                      <td class="my-td selected-column">
                      </td>
                      <td class="my-td"> - </td>
                    </tr>
                    <tr>
                      <td class="my-td bold">BOM value of projects</td>
                      <td class="my-td selected-column">
                      </td>
                      <td class="my-td"> - </td>
                    </tr>-->
        </table>
      </div>
      <!--Display Chart-->
      <div class="chartDiv">
        <div class="chart-info clear">
          <div class="globalFont textCenter chartOptionContainer">
            <div class="chartOptionContainerBox clear">
              <span class="footNoteSymbol"
                    ng-class="{isfootNoteSymbolVisible: isfootNoteSymbolVisible === true}">
                &dagger;
              </span>
              <span>{{mesChartLabel}} per:</span>
              <a href="javascript:void(0)" ng-class="{'active': selectedChartTab === 0}"
                 ng-click="onMESChartOptionChange($event, 0)">{{chartOptions[0]}}</a>
              |
              <a href="javascript:void(0);" ng-class="{'active': selectedChartTab === 1}"
                 ng-click="onMESChartOptionChange($event, 1)">{{chartOptions[1]}}</a>
              |
              <a href="javascript:void(0);" ng-class="{'active': selectedChartTab === 2}"
                 ng-click="onMESChartOptionChange($event, 2)">{{chartOptions[2]}}</a>
              <br/>
              <span class="note">{{mesChartToolTip}}</span>
            </div>
            <div class="foot-note" ng-if="isfootNoteSymbolVisible">
              <span class="footNoteSymbol isfootNoteSymbolVisible">
                &dagger;
              </span>
              {{noteActiveUser}}
            </div>
          </div>
        </div>
        <div class="clearboth"></div>
        <div id="easyQuoteChartContainer" class="chart-container">
          <!--					<div google-chart chart="chartSource" class="chart-container" on-ready="chartReady()" ng-show="loadDefaultChart"></div>
                    <img class="chart-loder" src="images/ajax_loader_small.gif" alt="" ng-hide="loadDefaultChart"/>-->
        </div>
      </div>
    </fieldset>
  </form>
</div>