<div id="myPactMain" class="main-container">
  <form>
    <fieldset class="border">
      <legend class="bold"> Ecodial AutoCAD Plugin </legend>
      <div class="globalFont font-bold" style="text-align: center;">
        <a href="#/byapps/eco-dial-plugin">Please visit new dashboard page for Ecodial AutoCAD Plugin</a>
      </div>
    </fieldset>
  </form>
</div>
